[2016-07-22 18:49] meet-bhagdev commented on #114
@sirio3mil Can you send us a repro script and schema. This will help us further debug this

[2016-07-22 18:58] meet-bhagdev commented on #111
@ViewGEW happy to help you out here. For us to further debug this, we will need a repro script and a sample schema. Once we  Feel free to email me at meetb@microsoft.com.

[2016-07-22 19:03] sirio3mil commented on #115
Yes, it looks like this

[ODBC Driver 13 for SQL Server]
Description= Microsoft ODBC Driver 13 for SQL Server
Driver=/opr/microsoft/msodbcsql/lib64/libmsodbcsql-13.0.s0.0.0
Threading=1
UsageCount=1

Regards

[2016-07-22 19:04] sirio3mil commented on #114
Ok I will try to reproduce

[2016-07-22 23:03] meet-bhagdev commented on #115
@sirio3mil It seems like you are trying load php_sqlsrv.so not php_sqlsrv_7_nts.so, Did you rename it? Check out our getting started guide and try the instructions on a fresh machine and let us know how it goes. https://github.com/Azure/msphpsql/blob/PHP-7.0-Linux/LinuxTutorial.md

[2016-07-22 23:14] sirio3mil commented on #115
Yes, I rename it, but I always rename it on windows systems. Tomorrow I wil try to install all again, but everything works ok, and I use provided script to install odbc and it works fine without any error (by the way great job with this script I installed in other machine this driver manually and was a headache).

I let you know with tomorrow tests.

[2016-07-22 23:40] meet-bhagdev commented on #115
Do you see the ‘sqlsrv’ module in the list of php modules, using this command:

$ ./php-7.0.9/sapi/cli/php -d"extension_dir=./php-7.0.9/modules" -d"extension=php_sqlsrv.so" -m

Did you install PHP from source or from a package manager?

[2016-07-23 21:56] sirio3mil commented on #115
@meet-bhagdev I'm using remi-php70 repo, I use this repo in other machine with ODBC driver 13 but through php_odbc.so and works fine.

The proper command for me is:

`# php -d"extension_dir=/usr/lib64/php/modules" -d"extension=php_sqlsrv.so" -m`

And result is the same

`[root@centos7 ~]# php -d"extension_dir=/usr/lib64/php/modules" -d"extension=php_sqlsrv.so" -m
PHP Warning:  PHP Startup: Unable

[2016-07-24 16:22] remicollet commented on #115
It seems the extension rely on symbol from libmsodbcsql-13.0.s0.0.0 against which the extension is not linked. Perhaps it expects to "dlopen" open it at runtime.

This is simply not supported on Fedora/Redhat/CentOS build (and probably other distro official packages), where all PHP extensions are loaded using RTLD_NOW (instead of RTLD_LAZY, for security reason), which means ALL symbols must be res

[2016-07-26 05:12] meet-bhagdev commented on #115
@remicollet @sirio3mil point taken. We are constantly improving the driver and will look into this. Should we have any questions, we will let you know.

[2016-07-28 20:18] eziitiss opened #116 "Fatal error: Invalid handle returned - for all connections if one fails"
After one connection using pdo_sqlsrv v4.0.8629.2 fails, for example because of incorrect user/pass, All the other connections also are failing with PHP Fatal error: Invalid handle returned.

Environment: Win10, Apache/2.4.23 (Win64) OpenSSL/1.0.2h PHP/7.0.9 using php_pdo_sqlsrv_7_ts_x64.dll.

Reproducing:
2 php scripts that are creating DB connections using php, like:
file1.php:
`<?php
try{
	$dbc

[2016-07-29 22:19] boredom2 opened #117 "PHP Extension not loading"
Hi there,

thanks for making this finally happen :)
Sadly, Im currently not able yet to make this work, but I am close. The ODBC Driver is installed and working fine, the Extension is on the right place and PHP tried to load it - but fails.

Here are the Details:
- Ubuntu 16.04 with installed ODBC
- PHP 7.0, installed via PPA (https://launchpad.net/~ondrej/+archive/ubuntu/php), so I did not compil

[2016-07-29 23:37] meet-bhagdev commented on #117
Hello Christoph, glad to hear you are trying out our preview binaries. If you downloaded PHP from PPA, you got a non-thread safe PHP and has to use the NTS drivers. Can you confirm and retry by uploading the nts binaries?
Thanks,
Meet

[2016-07-29 23:39] boredom2 commented on #117
Thansk for the quick reply. I tried that also already - if I try compiling with _nts.so, I get "invalid ELF header in Unknown on line 0" - different error, but not really better.

[2016-07-29 23:42] meet-bhagdev commented on #117
Understood. Can you confirm that the ODBC Driver is installed using this command `odbcinst -q -d -n "ODBC Driver 13 for SQL Server"
`
Did you add this extention so the php.ini file? Check out our tutorial here: https://github.com/Azure/msphpsql/blob/PHP-7.0-Linux/LinuxTutorial.md

[2016-07-29 23:43] meet-bhagdev commented on #116
@eziitiss We are looking into this. We will keep you posted.

[2016-07-29 23:48] boredom2 commented on #117
Oh yes, this is working, it correctly returns the desired Strings as mentioned in the Docs.
And yes, I added an extra Config for that and from "display_startup_errors", I know whats going wrong there. I attach a screenshot of the SSH just to make sure we have all informations you may need...

![odcb](https://cloud.githubusercontent.com/assets/409857/17266372/e63bf706-5629-11e6-88ab-79004a350099.JP

[2016-07-30 13:23] boredom2 commented on #117
The new Release 4.0.2 is sadly not fixing this issue. Any news on this "ELF header invalid" problem here?

[2016-07-31 16:12] Yahasana commented on #116
:-1: m2

[2016-07-31 16:45] super-vip commented on #117
I also ask a question:
Method 2: Using the PHP source.
But:
1. pdo_sqlsrv and sqlsrv can be found using "php -m".
2. See the phpinfo display: PDO drivers oci, SQLite mysql. No pdo_sqlsrv and sqlsrv.
3. Test tips: Fatal error: Uncaught PDOException: could not find driver in ......

[2016-08-01 08:31] xalopp commented on #109
@meet-bhagdev version 4.0.2 of the Linux drivers solves this issue.

[2016-08-01 08:32] meet-bhagdev commented on #109
Awesome! Glad to hear :) I will close this issue. Feel free to re-open this if needed.

[2016-08-01 08:32] #109 closed

[2016-08-01 08:40] meet-bhagdev commented on #116
@Yahasana we are actively investigating this. Do you have a repro script that you can share with us?

[2016-08-01 11:22] super-vip opened #118 "Fatal error: Uncaught PDOException: could not find driver in"
I also ask a question:
Method 2: Using the PHP source.
But:
1. pdo_sqlsrv and sqlsrv can be found using "php -m".
2. See the phpinfo display: PDO drivers oci, SQLite mysql. No pdo_sqlsrv and sqlsrv.
3. Test tips: Fatal error: Uncaught PDOException: could not find driver in ......

Other information:
OS: CentOS Linux release 7.2.1511 (Core)
Apache Version: Apache/2.4.23 (Unix) OpenSSL/1.0.2h PHP/7.

[2016-08-01 11:57] eziitiss commented on #116
@meet-bhagdev I have already posted my two test scripts. Nothing more is needed, just a local MSSQL server (in my case: v13.0.1708) with existing DB name "CDR41" and existing user "existinguser" with password "existingpassword" and not existing user "fakeuser". Sure - you can rename the DB and users how you like - just rename them also in PDO connection string :) .
What I did not mention in my ori

[2016-08-01 13:28] mlhkr commented on #116
Now I remember that nearly have the same issue but not about password.
Probably after getting php timeout while pdo query, the other instances starts to give the same error till I restart the IIS 8.5. A little bit busy here but try to reproduce the error too.

[2016-08-01 21:25] xalopp opened #119 "sqlsrv_fetch_object modifies full qualified class names"
`sqlsrv_fetch_object` modifies the full qualified class names of the supplied class.

The following PHP Code
[code]
produces on Ubuntu 16.04 `PHP 7.0.9-1+deb.sury.org~xenial+1 (cli) ( NTS )` with sqlsrv driver version 4.0.2 following output:

[code]

as you can see, the full qualified class name changed completely to lowercase and `class_exists` is unable to find the class with its original name!

[2016-08-01 21:31] xalopp commented on #119
[code]

will produce a nice segmentation fault 🎉

[2016-08-02 11:23] david-garcia-garcia commented on #63
This is fixed in the latest release. Thanks!

[2016-08-02 11:23] #63 closed

[2016-08-02 15:27] ccondrup opened #120 "Ubuntu/NginX: Loading ext gives undefined symbol: SQLAllocHandle"
Hi there and thanks for your continued work on this!

I want to use the Laravel PHP framework to connect to SQL Server using PHP7, and I'm currently trying to get it working in the [Homestead environment](https://laravel.com/docs/5.2/homestead) - so you could quite easily recreate the VM setup I'm using for this. I'm on Homestead v0.5.0, an Ubuntu 16.04 & NginX 1.11 based VM, the host is Win10x64

[2016-08-03 06:59] david-garcia-garcia opened #121 "Reproducible PHP process crash"
Yesterday I closed Issue:

https://github.com/Azure/msphpsql/issues/63

because the repro script there worked as expected.

I soon found out that the same problem still happens on other scenarios, but it needed a new repro script as the original one had been fixed.

While building the repro script, I managed to build a script that crashes PHP.

See the script here:

http://pastebin.com/VENbce75

T

[2016-08-03 07:19] david-garcia-garcia opened #122 "Inconsistent behavior with Emulate Prepares"
Repro script:

http://pastebin.com/CWHAi74z

Current output:

SQLSTATE[HY093]: Invalid parameter number: parameter was not defined
NO EXCEPTION?

Expected output:

SQLSTATE[HY093]: Invalid parameter number: parameter was not defined
SQLSTATE[HY093]: Invalid parameter number: parameter was not defined

[2016-08-03 11:24] david-garcia-garcia commented on #122
This is the right script:

http://pastebin.com/fDgrsy7d

[2016-08-03 15:00] Rvdv87 commented on #121
Having the same problem here, when disable ATTR_EMULATE_PREPARES the crash goes away.

[2016-08-04 10:42] LarnuUK opened #123 "No Connection attempt seen"
I've successfully managed to get the sqlsrv library installed on Ubuntu Server 16.04.1, however, all my connection attempts fail.

I have checked the SQL Server logs, and I cannot see any failed connection attempts from the user I am using to try and connect, or any attempt from the IP of the php server. The firewall also permits traffic from the server to the SQL Server, but we can't see any pack

[2016-08-04 16:42] shakaran opened #124 "[Ubuntu 16.04] [PHP 7.0] Unable to connect: Adaptive Server is unavailable or does not exist (severity 9)"
I am trying to connect with php 7.0 after install with:

[code]

Connecting with tsql works fine:

[code]

I cannot even install php-pdodblib from PECL because it is not supported PHP 7.0

$ sudo pecl install PDO_DBLIB
pear/PDO_DBLIB requires PHP (version >= 5.0.3, version <= 6.0.0), installed version is 7.0.9-1+deb.sury.org~xenial+1
No valid packages found
install failed

I came here from [this s

[2016-08-04 22:06] xalopp commented on #124
Did you try the option `-S` for `sqlcmd`?
[code]

The connection string in your example looks incorrect.  You're using `dblib` driver, but it would expect `sqlsrv` if you intend to use Linux driver provided by this project!
Please try this sample code:
[code]

[2016-08-05 00:44] oys0629 commented on #82
@meet-bhagdev
hi!
i'm developing web site.
Windows10, apache2.4, php7.0.9, mssql 2008

i have problem like that

Faulting application name: httpd.exe, version: 2.4.23.0, time stamp: 0x5776399f
Faulting module name: php_sqlsrv_7_ts.dll, version: 4.0.8629.2, time stamp: 0x57745572
Exception code: 0xc0000005
Fault offset: 0x0000000000037e83
Faulting process id: 0x1378
Faulting application start time:

[2016-08-05 05:16] shakaran commented on #124
@xalopp using -S param for sqlcmd give this error:

	Sqlcmd: Error: Microsoft ODBC Driver 13 for SQL Server : Login timeout expired.
	Sqlcmd: Error: Microsoft ODBC Driver 13 for SQL Server : TCP Provider: Error code 0x274D.
	Sqlcmd: Error: Microsoft ODBC Driver 13 for SQL Server : A network-related or instance-specific error has occurred while establishing a connection to SQL Server. Server is not

[2016-08-05 10:27] xalopp commented on #120
On my  [Ubuntu 16.04 Testing VM](https://github.com/xalopp/vagrant-php7sqlsrv) running `PHP 7.0.9-1+deb.sury.org~xenial+1 (cli)`,  `pdo_odbc` must be enabled, otherwise I get the error message `undefined symbol: SQLAllocHandle`:

[code]

My recommendation is to keep `php7.0-odbcphp7.0-odbc` installed, and the PHP extension `odbc` and `pdo_odbc` enabled.

[2016-08-05 11:05] xalopp opened #125 "Ubuntu ODBC installer not compatible for unattended install"
[installodbc_ubuntu.sh](https://github.com/Azure/msphpsql/blob/PHP-7.0-Linux/ODBC%20install%20scripts/installodbc_ubuntu.sh) isn't working properly for unattended installation 😞 !

This can be easy reproduced on and plain vanilla Ubuntu system by calling
[code]

This causes `apt-get install` not to install the required packages, resulting in a incomplete installation.

This can be easily be adding

[2016-08-05 11:28] xalopp commented on #124
Clean up your  INIs and use the NTS (non thread safe) version of the extension
`/etc/php/7.0/mods-available/sqlsrv.ini` contains
[code]

`/etc/php/7.0/mods-available/pdo_sqlsrv.ini` contains
[code]

Enable the PHP extensions
[code]

Make sure that PHP odbc extension is installed and enabled

[code]

[2016-08-05 11:45] boredom2 commented on #117
I would really love to make this work, but I dont know, what else I can check in order to make it work.
I noticed, that php7.0-odbc was not installed so far, so I added that also.
But sadly, PHP does not load the extension, it only states (in startup errrors": invalid ELF header in Unknown on line 0.
Is there a Place, where I can find out more whats going wrong here in order to get into make this

[2016-08-05 13:00] xalopp commented on #117
Would it help you to peek from a working Ubuntu installation?
I've create a puppetized Vagrant Box to test the sqlsrv driver: https://github.com/xalopp/vagrant-php7sqlsrv

Maybe you can find out whats going wrong by comparing this with your setup?

[2016-08-05 15:07] LarnuUK commented on #123
I have since resolved this, it appears that the Ubuntu ODBC installer script did not correctly install the ODBC drivers. I ran this manually and resolved the issue.

[2016-08-05 15:13] neoxium commented on #120
Hi, I got the same error at loading pdo_sqlsrv_nts extension (undefined symbol : SQLAllocHandle), environment and outputs are very similar to those of @ccondrup although I don't have any webserver installed (just php7.0 CLI and FPM).

Extensions odbc and pdo_odbc are enabled.

[2016-08-05 20:56] xalopp commented on #120
I've created a puppetized Vagrant Box https://github.com/xalopp/vagrant-php7sqlsrv which my setup.
In this box, sqlsrv and pdo_sqlsrv are working "properly".

Can you check, if your dynamic linker is properly configured?

SQLAllocHandle is provided by /usr/local/lib/libodbc.so.2 which was installed by the script `ODBC install scripts/installodbc_ubuntu.sh` .
[code]
The liker is configured to look

[2016-08-06 08:41] super-vip commented on #116
I have the same problem here.
4.0.2 - Linux
4.1.0 -windows

[2016-08-06 15:34] xalopp opened #127 "PHP Fatal error: Unexpected SQL type encountered in calc_string_size"
On Linux, I get with the `sqlsrv` driver a Fatal error with following Fatal error

[code]

when I execute this query:

[code]

The same query works well with the PDO driver `pdo_sqlsrv`.

Linux Version: Ubuntu 16.04, PHP installed as package.
PHP Version: `PHP 7.0.9-1+deb.sury.org~xenial+1 (cli) ( NTS )`
`pdo_sqlsrv` `ExtensionVer => 4.0.2.0`
`sqlsrv` `ExtensionVer => 4.0.2.0`

[2016-08-06 15:36] xalopp commented on #127
I use the scripts https://github.com/xalopp/vagrant-php7sqlsrv/blob/master/tests/pdo_sqlsrv_query.php and https://github.com/xalopp/vagrant-php7sqlsrv/blob/master/tests/sqlsrv_query.php for testing.

[code]

[2016-08-06 15:45] brincas opened #128 "Linux x86"
I dont seen to find the Ubuntu16 32bits in the zips :(

trying to install in a runninng test server in 32 bits to upgrade it, i dont think the machine will handle the 64 :(,

[2016-08-06 16:34] brincas commented on #128
This is the error we got:

php_pdo_sqlsrv_7_nts.so: ELF 64-bit LSB shared object, x86-64, version 1 (GNU/Linux), dynamically linked, BuildID[sha1]=e04c62a3bcc2e22805377017d47f9f14fa481590, not stripped
php_pdo_sqlsrv_7_ts.so:  ELF 64-bit LSB shared object, x86-64, version 1 (GNU/Linux), dynamically linked, BuildID[sha1]=9575e8c75dc3d3cf34fd42dce991c7cd72cc60ee, not stripped
php_sqlsrv_7_nts.so:

[2016-08-07 00:05] ethanhann-ensembleads commented on #116
I get this error like every 10 connections. Turning connection pooling off seems to make the error go away.

[2016-08-07 08:26] shakaran commented on #124
@xalopp Thanks for your great help!

I did your exact recommendations and I have some progress, but still not working perfectly:

	$ php7.0 -m | grep sql
	mysqli
	mysqlnd
	pdo_mysql
	pdo_sqlsrv
	sqlsrv

I change the DNS (Data Source Name) according to [the pdo sqlsrv documentation page](http://php.net/manual/en/ref.pdo-sqlsrv.connection.php) to

	'sqlsrv:server=XXX.XXX.XXX.XXX,XXXX;Database=XXXX;'

[2016-08-07 12:19] xalopp commented on #124
What is the output of `sqlcmd -S XXX.XXX.XXX.XXX,XXXX -U XXXX -P XXXX -d XXXX`?
Please fill in the proper data into the XXXXXX ;-)

I would expect an error message like `TCP Provider: An existing connection was forcibly closed by the remote host.` to be displayed.

In this case, please check firewall settings on client and server and anything between, connection settings on the database server, an

[2016-08-07 12:20] xalopp commented on #124
You might also consider tracing the client as explained in [Data Access Tracing with the ODBC Driver on Linux](https://msdn.microsoft.com/en-us/library/jj660948(v=sql.110).aspx)

[2016-08-07 23:44] meet-bhagdev commented on #118
Hello @super-vip
Can you confirm that you installed the ODBC Driver and PHP Driver for SQL Server based on the steps listed here: https://github.com/Azure/msphpsql/blob/PHP-7.0-Linux/LinuxTutorial.md
Additionally you can confirm if the ODBC Driver is installed by using this command:
`odbcinst -q -d -n "ODBC Driver 13 for SQL Server"`

[2016-08-07 23:45] meet-bhagdev commented on #119
@xalopp good catch. We will look into this to see what is going on. Will keep you posted.

[2016-08-07 23:46] meet-bhagdev commented on #120
@xalopp I wil verify if the dynamic linker is properly configured and get back to you soon.

[2016-08-07 23:47] meet-bhagdev commented on #121
@david-garcia-garcia thanks for the repro script. Let us emulate it and understand what is causing the crash. We will keep you posted.

[2016-08-07 23:48] meet-bhagdev commented on #123
awesome! @LarnuUK do you have any feedback on how we can improve the script? I will close the issue for now. Feel free to reopen it if you have further questions.

[2016-08-07 23:50] meet-bhagdev commented on #124
@xalopp's recommendation is on point. We need to ensure sqlcmd/odbc connectivity works for the PHP Driver to work.
@shakaran do you have any updates? Happy to assist with this issue.

[2016-08-07 23:51] meet-bhagdev commented on #125
I have accepted your PR (thank you 👍 :) ). I will close this issue. Feel free to re-open this if you have any questions.

[2016-08-07 23:52] meet-bhagdev commented on #128
@brincas PHP Drivers for SQL Server on Linux are not available for 32-bit. The drivers have a dependency on the C++ ODBC Driver which is not available for 64-bit. Any particular reason why you can not use Ubuntu 16 64 bit?

[2016-08-08 00:12] brincas commented on #128
our main machine is in 64bits, the one that has the public sites

this one is a old beasty, just for we test the sites before doing any upgrade on the main server, but i guess with this new it will require to update it to 64bits (he it can old the 64 xD)

[2016-08-08 02:15] super-vip commented on #118
@meet-bhagdev
Thanks for your response.

[root@dev ~]# odbcinst -q -d -n "ODBC Driver 13 for SQL Server"
[ODBC Driver 13 for SQL Server]
Description=Microsoft ODBC Driver 13 for SQL Server
Driver=/opt/microsoft/msodbcsql/lib64/libmsodbcsql-13.0.so.0.0
Threading=1
UsageCount=2

[root@dev ~]# php -m
[PHP Modules]
......
PDO
pdo_mysql
PDO_OCI
PDO_ODBC
pdo_sqlite
pdo_sqlsrv
......
sqlsrv
......

[Zend

[2016-08-08 07:30] shakaran commented on #124
Hi @meet-bhagdev @xalopp Sorry for delay, I am based in Spain and we have slightly timezone differences.

This is the error that I get:

$ sqlcmd -S XXX.XXX.XXX.XXX,XXXX -d XXXX -U XXXX -P XXXX
Sqlcmd: Error: Microsoft ODBC Driver 13 for SQL Server : TCP Provider: Error code 0x2746.
Sqlcmd: Error: Microsoft ODBC Driver 13 for SQL Server : Client unable to establish connection.

All firewalls betwe

[2016-08-08 07:34] shakaran commented on #124
Sorry I just see that the right file should be /usr/local/etc/odbcinst.ini or /home/shakaran/.odbc.ini, so attaching new file where the function calls are properly traced.

File:
[trace_out2.txt](https://github.com/Azure/msphpsql/files/406280/trace_out2.txt)

This is a snippet of the file:

	5763 09:31:40 access("/bid/enter FUNCTION: SNIWriteSync <API|SNI> 6#{SNI_Conn}, pConn: 00007F4484061B80{SNI

[2016-08-08 09:39] super-vip commented on #118
Latest test findings:
The use of CLI and PHP-cgi can run normally.

[root@dev ~]# php /web/pdo-test.php
The DSN connection string: <i>sqlsrv:server=192.168.100.101,1433;database=family</i><br />PHP Connect to SQL Server Database successfully<br /><br />

[root@dev ~]# php-cgi /web/pdo-test.php
X-Powered-By: PHP/7.0.9
Content-type: text/html; charset=UTF-8
The DSN connection string: <i>sqlsrv:serve

[2016-08-08 12:21] xalopp commented on #124
@shakaran what is the version of the MS SQL Server you're trying to connect to?
I've the feeling your issue is related to #100

[2016-08-08 12:34] shakaran commented on #124
I am using SQL Server 2008 on 32 bit.

Doing:

    $ sudo npm install -g sql-cli

And then trying to connect with:

	$ mssql -s XXX.XXX.XXX.XXX -o XXXX -d XXXXX -u XXXXX -p XXXXX
	Connecting to XXX.XXX.XXX.XXX...done

	sql-cli version 0.4.6
	Enter ".help" for usage hints.
	mssql> .tables
	database schema name type
	---------- ------ --------------------------------- ----------
	XXXX dbo XXXX BASE

[2016-08-08 16:56] ccondrup commented on #120
Sort of fixed now! @xalopp thanks! I went through other issues reported lately and saw [PR 126](https://github.com/Azure/msphpsql/pull/126) about install script. I re-ran this new version of the installer, then used the commands [mentioned here](https://github.com/Azure/msphpsql/issues/124#issuecomment-237827659) to get the mods enabled.

    $ sudo service php7.0-fpm restart
    $ php -m | grep _

[2016-08-08 20:06] meet-bhagdev commented on #116
@ethanhann-tr @super-vip @eziitiss @mlhkr We are looking into this and will aim to fix this asap. Stay tuned :)

[2016-08-08 20:07] meet-bhagdev commented on #128
@brincas Sounds good. Let us know if you have any questions about the x64 variant of the Linux driver.

[2016-08-08 20:07] #125 closed

[2016-08-08 20:30] #123 closed

[2016-08-08 20:35] meet-bhagdev commented on #118
@super-vip does this mean we are good to go? Are you able to connect successfully or do you still need help?

[2016-08-08 23:55] meet-bhagdev commented on #120
@ccondrup Yep, please open a new issue for this and we will look into it :)

[2016-08-09 00:02] meet-bhagdev commented on #117
@boredom2 Can you share if you are using the thread safe or the non thread safe version of the driver? It would also be a good idea to make sure that the php.ini is not malformed. http://stackoverflow.com/questions/17910327/warning-when-i-run-a-php-script
Are you using Apache? If yes, can you restart your server and let us know if you still get this issue.

[2016-08-09 00:07] meet-bhagdev commented on #101
@lrstndm @josevieirame Can you follow the instructions here: https://github.com/Azure/msphpsql/blob/PHP-7.0-Linux/LinuxTutorial.md. That should resolve this issue.

[2016-08-09 00:07] #101 closed

[2016-08-09 00:16] meet-bhagdev commented on #108
@karol-pilch We believe we fixed this issue in our latest release: https://github.com/Azure/msphpsql/releases/tag/4.1.0.
Can you help us validate?

[2016-08-09 00:16] #108 closed

[2016-08-09 00:18] meet-bhagdev commented on #97
@sp-ice This issue should be fixed in our RTW release: https://github.com/Azure/msphpsql/releases/tag/v4.0-RTW.
Can you help us verify that it is fixed?

[2016-08-09 00:18] #97 closed

[2016-08-09 00:20] #93 closed

[2016-08-09 00:22] meet-bhagdev commented on #92
@david-garcia-garcia we believe this particular issue with the SQL queries listed above is fixed in our latest release - https://github.com/Azure/msphpsql/releases/tag/4.1.0. We are reviewing the other issues you have opened. In the meanwhile can you help us validate this?

[2016-08-09 00:23] meet-bhagdev commented on #87
Hi @eskimoe , we believe this issue is fixed in our latest RTW release - https://github.com/Azure/msphpsql/releases/tag/v4.0-RTW. Can you help us validate?

[2016-08-09 00:23] #87 closed

[2016-08-09 00:25] meet-bhagdev commented on #82
@oys0629 CAn you share a repro script/schema that we can use to emulate this in our lab? Feel free to email me at meetb@microsoft.com

[2016-08-09 00:26] meet-bhagdev commented on #81
@all We now have a driver for Ubuntu 15.04, Ubuntu 15.10 and Ubuntu 16.04. You can get the driver from here: https://github.com/Azure/msphpsql/releases/tag/v4.0.2-Linux.
To use, you can follow the instructions here: https://github.com/Azure/msphpsql/blob/PHP-7.0-Linux/LinuxTutorial.md
Let me know if you have any questions.

[2016-08-09 00:30] super-vip commented on #118
@meet-bhagdev
From the test results, it seems a bit off the subject of discussion.
Because these dynamic modules can work properly in CLI and cgi.
But cannot be loaded in apache2handler.
Also led to 'phpinfo' cannot display sqlsrv information.
Either PHP compiler is a problem, or the HTTPD compiler is a problem, or the module conflict,or compatibility problems...
Sorry,my English is poor.The words

[2016-08-09 00:45] meet-bhagdev commented on #71
@david-garcia-garcia We believe this issue was fixed with our latest release here: https://github.com/Azure/msphpsql/releases/tag/4.1.0. Please help us validate.

Feel free to open the issue if you need to.

[2016-08-09 00:45] #71 closed

[2016-08-09 04:48] super-vip commented on #118
[root@dev ~]# tail -13 /usr/local/php/etc/php.ini
date.timezone = PRC
include_path = "/usr/local/php/lib/php"
extension=pdo.so
extension=oci8.so
extension=pdo_oci.so
extension=pdo_mysql.so
extension=mysqli.so
extension=pdo_odbc.so
extension=sqlite3.so
extension=pdo_sqlite.so
extension=php_sqlsrv_7_nts.so
extension=php_pdo_sqlsrv_7_nts.so
zend_extension=opcache.so

`[root@dev web]# cat pdo-test.php

[2016-08-09 08:57] ccondrup opened #129 "MSSQL column types 'image' & 'text' gives Invalid sql_display_size"
After fixing #120 I have [Homestead](https://laravel.com/docs/5.2/homestead) 0.5.0 running with NginX 1.11 and PHP 7 on Ubuntu 16.04 using the MS ODBC driver 13. Querying the MSSQL server from PHP with the sqlsrv driver works:
[code]

However, using `SELECT *` results in
`Fatal error: Invalid sql_display_size` on the line `$prep->fetchAll()`:
[code]

[This comment](https://github.com/Azure/msphpsq

[2016-08-09 09:01] david-garcia-garcia commented on #129
The PDO driver has historically chocked on types that have no explicit map inside the PDO driver. Things such as variants...

I'd rather the driver brought back this data into PHP in a best-effort approach in a string format, instead of throwing an exception.

It will be helpful to know the schema of the table Customers, probably the type of one of the columns does not have a PHP match.

[2016-08-09 09:05] ccondrup commented on #120
After reinstalling php7.0-odbc and re-enabling odbc and pdo_odbc the output result is now consistent and I consider this issue fixed. Thanks! Commands used, may be of use to some:
[code]
Now encountering a new problem as reported in #129

[2016-08-09 09:05] #120 closed

[2016-08-09 09:16] ccondrup commented on #129
Thanks! Here's the schema https://gist.github.com/ccondrup/3545ba1c1c747c5502a389de528567cb
It's from a 3rd party, and I cannot change it as other systems depend on this schema. Included FKs just to show there are quite a few.

[2016-08-09 13:08] xalopp commented on #124
Unfortunately I'm not (yet) a MS SQL Server expert 😇
Maybe @meet-bhagdev has an idea what's going wrong here.

[2016-08-09 14:13] karol-pilch commented on #108
Yep, it looks fine now. As you said in the release notes, the string variable bound to the output parameter only gets substituted after the call to `closeCursor()`, but at least the script doesn't die.

Thanks very much!

[2016-08-10 02:14] sp-ice commented on #97
@meet-bhagdev Thanks!
I tyied again on v4.0.6 and verified that it is fixed.

[2016-08-10 08:33] david-garcia-garcia commented on #71
Works!

Just note that the repro script fatals where before it was not (but I understand that trying to stuff a float inside an int has to crash somewhere). Maybe instead of a fatal an exception will be more developer friendly.

[2016-08-10 08:34] david-garcia-garcia commented on #71
BTW this is the fatal:

Buffer length must be able to find a long in sqlsrv_buffered_result_set::double_to_long

[2016-08-10 15:58] LarnuUK opened #130 "Retrieving results where there are prior selects that don't return result sets"
I have having a problem with  sqlsrv_fetch_array when a query has other select statements in it prior. it seems that sqlsrv_fetch_array will always read the first select statement, even if it doesn't return a result set to the user. how do you get around this?

For example, the sp I have does the following:
`Select ltrim(rtrim(replace(replace(replace(Items,' ',''),';',''), char(10),''))) as Items

[2016-08-10 16:19] david-garcia-garcia commented on #129
Text type columns throw errors? That is very bad news. I could expect that from image (which by the way could be treated just as a varbinary column instead of crashing).

[2016-08-10 17:20] meet-bhagdev commented on #113
@savvior what are the type(int, string etc) of columns of name and value in the insert statement?

[2016-08-10 17:29] meet-bhagdev commented on #124
@shakaran This is definitely weird. I will work with you to figure out what is going on here. Do you have an other versions of SQL Server(2012, 2014 etc) that we can try to test against? Also can you share what your odbc.ini file consists of? My hunch is there is a pre-configured dsn that is causing this problem.

[2016-08-10 17:31] meet-bhagdev commented on #118
Awesome! @super-vip I am glad that did the trick. Closing this issue for now, feel free to re-open if you need to

[2016-08-10 17:31] #118 closed

[2016-08-10 17:33] meet-bhagdev commented on #115
@sirio3mil do you get the same error when connecting through sqlcmd?

[2016-08-10 18:44] shakaran commented on #124
@meet-bhagdev unfortunaly this is the "dev server" which is SQL Server 2008, with the "prod server" I have SQL Server 2005, and we cannot upgrade because we have a lot risky data (around 30 GB) and my client probably doesn't want spend time on the upgrade. If helps for more direct debugging, you can add me in skype with username "quijost", so we can have a direct chat a more quick turn around.

Th

[2016-08-10 23:57] meet-bhagdev commented on #130
@LarnuUK This looks like expected behavior. Let me try to dig into it a little more.

Your stored procedure contains 3 queries. The first 2 do not have any result set, and only the third one return the inserted FieleID.

When you first call sqlsrv_fetch_array, the result set cursor is still pointing to the first query, where there is no result set. To get your result set, you have to call sqlsrv_n

[2016-08-11 00:02] meet-bhagdev commented on #111
@ViewGEW, we did some investigation on this. Seems like when executing a large batch of SQL statements, Microsoft SQL Server may stop processing the batch before all statements in the batch are executed. When processing the results of a batch, SQL Server fills the output buffer of the connection with the result sets that are created by the batch. These result sets must be processed by the client a

[2016-08-11 08:54] ViewGEW commented on #111
Hi!

Thanks! It worked!

//Geir Witsø

Fra: Meet Bhagdev [mailto:notifications@github.com]
Sendt: 11. august 2016 02:03
Til: Azure/msphpsql
Kopi: Geir Witsø - View Software; Mention
Emne: Re: [Azure/msphpsql] php_sqlsrv_7_nts_x64.dll - Large SQL-statements (#111)

@ViewGEW<https://github.com/ViewGEW>, we did some investigation on this. Seems like when executing a large batch of SQL statements, Mic

[2016-08-11 17:06] meet-bhagdev commented on #111
Awesome! I will go ahead and close the issue. Feel free to reopen it if needed.

[2016-08-11 17:06] #111 closed

[2016-08-11 17:14] meet-bhagdev commented on #127
Hello @xalopp,

We are trying to repro this in our test lab with no luck. Can you add $count to your script and share your results?

$count = 0;
while ($row = sqlsrv_fetch_array($result, SQLSRV_FETCH_ASSOC)) {
                $count++;
                // var_dump($row);
}
sqlsrv_free_stmt($result);
echo "rows = ".$count."\n";

[2016-08-12 09:45] xalopp commented on #127
I forget to mention I'm using:
[code]

[2016-08-12 10:00] xalopp commented on #127
[code]

[code]

[code]

Chaing the query to
[code]
will work. But it should work without CASTing, like the `pdo_sqlsrv` does.

[2016-08-12 14:42] vinise opened #131 "Linux X64 - PHP Fatal error: sqlsrv_connect: Unknown exception caught."
Hi,

I get a fatal error trying to open a connection on a X64 linux PHP 7.0.9-1 ( NTS )
        $options = array("Database"=>"database", "Uid"=>"sa", "PWD"=>"password");
        $conn = sqlsrv_connect("server", $options);

all drivers seems to be installed :

odbcinst –j` `odbcinst -q -d -n "ODBC Driver 13 for SQL Server"
[ODBC Driver 13 for SQL Server]
Description=Microsoft ODBC Driver 13 for SQL

[2016-08-12 15:31] super-vip opened #132 "installodbc_redhat.sh: line 57: cd: usr/lib64: No such file or directory"
@meet-bhagdev

File: installodbc_redhat.sh

The fifty-seventh line "CD usr/lib64" is needed? Or is there an error in the command?

error:
installodbc_redhat.sh: line 57: cd: usr/lib64: No such file or directory

[2016-08-12 16:59] lancepioch commented on #116
This same thing is happening to me.

I'm using:

* Ubuntu 16.04
* PHP 7.0.9
* Nginx 1.11.1
* Laravel 5.2.43
* msphpsql 4.0.2 - Linux

### **Important Note: It's happening exactly every 3 requests.**

[2016-08-12 17:22] meet-bhagdev commented on #116
@lancepioch @all We are able to repro this bug in our lab. We are fixing it as we talk and will aim to fix it in our next release. Our next release should be out very soon.

[2016-08-12 18:33] david-garcia-garcia commented on #116
Just for the record, someone also reported this on Drupal.org:

https://www.drupal.org/node/2772037

[2016-08-15 06:46] meet-bhagdev commented on #116
@all, we are actively fixing this bug. Can you provide a repro script similar to the one @eziitiss shared? We would like to test against it to validate our fix.

[2016-08-16 06:29] fhbzyc opened #134 "[root@localhost php.d]# php -m PHP Warning: PHP Startup: Unable to load dynamic library '/usr/lib64/php/modules/pdo_sqlsrv.so' - /usr/lib64/php/modules/pdo_sqlsrv.so: undefined symbol: _Z10LocalAllocjj in Unknown on line 0"
server :  centos7.2
php version: 7.0.9

[root@localhost php.d]# php -m
PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib64/php/modules/php_sqlsrv_7_nts.so' - /usr/lib64/php/modules/php_sqlsrv_7_nts.so: undefined symbol: _Z9LocalFreePv in Unknown on line 0
PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib64/php/modules/pdo_sqlsrv.so' - /usr/lib64/php/modules/pdo_

[2016-08-16 11:35] szepeviktor opened #135 "Using phpize"
Good afternoon!

Is it possible to compile pdo_sqlsrv with phpize on Linux?

[2016-08-16 11:45] szepeviktor opened #136 "Source for Linux"
Where is the PHP 7 source for Linux available?

[2016-08-16 17:34] MCF commented on #136
https://github.com/Azure/msphpsql/tree/PHP-7.0-Linux

[2016-08-16 17:37] szepeviktor commented on #136
Thank you.
It seems to me only the binaries are there.

[2016-08-18 23:38] meet-bhagdev commented on #135
@szepeviktor Not yet but we are open to looking into this. Can you share why would you like to do this?

[2016-08-18 23:39] meet-bhagdev commented on #134
@fhbzyc Can you confirm if you can connect via sqlcmd? `sqlcmd -S <myserver> -d <mydatabase> -U <myusername> -P <mypassword> -I`

[2016-08-18 23:39] meet-bhagdev commented on #132
Fixed! Can you give the script a shot and let me know how its going?

[2016-08-18 23:39] #132 closed

[2016-08-18 23:40] meet-bhagdev commented on #131
@vinise Can you confirm if you can connect via sqlcmd? `sqlcmd -S <myserver> -d <mydatabase> -U <myusername> -P <mypassword> -I`

[2016-08-19 06:03] brainfoolong opened #137 "PHP 7.1 - Unable to load extension, PHP 7.0.x is fine"
On Windows 10 64bit with PHP 7.1 beta2, i am unable to load php_sqlsrv_ts.dll, newest release from 4.1.0 Windows. https://github.com/Azure/msphpsql/releases/download/4.1.0/php_sqlsrv_4.1.0_x64.zip

I have installed Microsoft ODBC Driver 11, 12, 13.1 but nothing worked, i still cannot get the extension to load. If i switch back newest PHP 7.0.x (simply overwriting the files) and restart apache, all

[2016-08-19 08:21] pejold opened #138 "4.x.x drivers are not working properly with unicode column names"
4.x.x Driver: sqlsrv_field_metadata returns column name as char*, so unicode column names can't be fetched correctly

[2016-08-19 09:26] vinise commented on #131
THANKS men this command showed me a problem of Locales
So reconfigured the locales and it works like a charm now !!! :smile:

You should add that on LinuxTutorial file as check ;)

Thanks again

[2016-08-19 09:26] #131 closed

[2016-08-19 12:54] szepeviktor commented on #135
AFAIK all open-source PHP extensions are compiled with phpize.
Maybe I am stuck in open-source and Debian...

[2016-08-19 12:57] szepeviktor commented on #135
http://php.net/manual/en/install.pecl.phpize.php

[2016-08-23 03:15] zburke opened #139 "sqlsrv_fetch_object calls custom class constructors in static context"
# Description:
When a custom classname is passed to sqlsrv_fetch_object, the constructor is called in a static context, causing an error if the constructors attempts to manipulate $this. This is inconsistent with the context used by PDO and Mysqli drivers. The problem occurs with driver version SQLSRV40.EXE under IIS 8.5.

If you stick a print_r(debug_backtrace()) in the __construct() method of th

[2016-08-23 19:57] ethan-tr commented on #116
@meet-bhagdev I am seeing this issue while using Laravel, so I don't have a simple script I can extract and share. Were you able to validate your fix? Can we expect a release with it soon?

[2016-08-24 01:17] rodrigopedra commented on #116
@ethan-tr , in your config/database.php add `'pooling' => false,' to your database parameters, as follow:

[code]

[2016-08-24 09:07] david-garcia-garcia commented on #116
@meet-bhagdev This issue is really annoying. If you already have a fix, please consider doing a release even if we have to wait longer for other fixes.

[2016-08-24 21:16] jlucasvt commented on #137
I am having the same issue.  I am running PHP 7.1.10 TS with Apache2.4 on windows.

[2016-08-24 22:09] meet-bhagdev commented on #116
@david-garcia-garcia @rodrigopedra @lancepioch @eziitiss @Yahasana @super-vip @mlhkr : We just released our next preview: https://github.com/Azure/msphpsql/releases/tag/v4.0.3-Linux. We have attempted to fix this bug. Please help us validate. If there are more issues, update this thread and we will take a look at it.

[2016-08-24 23:43] meet-bhagdev commented on #136
Uploaded now.  :+1:

[2016-08-24 23:43] #136 closed

[2016-08-24 23:49] meet-bhagdev commented on #138
@pejold We need more information to further triage this. Are you using the driver on Windows/Linux? What version of PHP are you using? Also it would be great for you to send us a repro script/schema we can use to repro this bug?

[2016-08-24 23:50] szepeviktor commented on #136
Thank you.

[2016-08-25 00:14] meet-bhagdev commented on #121
@david-garcia-garcia @Rvdv87 : We believe we closed this issue with our latest release https://github.com/Azure/msphpsql/releases. Can you help us validate?

[2016-08-25 00:14] #121 closed

[2016-08-25 00:15] meet-bhagdev commented on #122
@david-garcia-garcia: We believe we closed this issue with our latest release https://github.com/Azure/msphpsql/releases. Can you help us validate?

[2016-08-25 00:15] #122 closed

[2016-08-25 00:17] meet-bhagdev commented on #130
@LarnuUK : Closing this based on our recommendation. Let me know if that works. If you have questions, we will re-open the issue.

[2016-08-25 00:17] #130 closed

[2016-08-25 00:18] meet-bhagdev commented on #129
@david-garcia-garcia @ccondrup : We believe we closed this issue with our latest release https://github.com/Azure/msphpsql/releases. Can you help us validate?

[2016-08-25 07:22] eziitiss commented on #116
@meet-bhagdev: Any schedule on Windows version ?

[2016-08-25 07:24] mlhkr commented on #116
It's already released:
https://github.com/Azure/msphpsql/releases/tag/v4.1.1-Windows

[2016-08-25 08:17] eziitiss commented on #116
Can confirm issue solved in my case using 4.1.1.
Thank you!

[2016-08-25 08:31] david-garcia-garcia commented on #121
Fixed! Thanks, now I can go back to the original issue.

[2016-08-25 08:35] david-garcia-garcia opened #140 "Binary column binding is broken with EMULATE_PREPARES"
Something similar was originally reported (and fixed) here:

https://github.com/Azure/msphpsql/issues/63

See attached repro script (similar to the one posted in https://github.com/Azure/msphpsql/issues/121).

http://pastebin.com/GYNtYewC

Current result:

Uncaught PDOException: SQLSTATE[42000]: [Microsoft][ODBC Driver 11 for SQL Server][SQL Server]Implicit conversion from data type varchar to var

[2016-08-25 08:40] david-garcia-garcia commented on #122
This is not fixed. The script still outputs:

When it should output:

[2016-08-25 19:33] ethan-tr commented on #116
The 4.0.3 driver seems to have fixed the issue in my tests.

[2016-08-26 03:18] rodrigopedra commented on #116
@meet-bhagdev changed our app today and it seems ok with the new version. thanks!

[2016-08-26 05:45] oxycoder opened #141 "PHP FPM exit with signal 8 (SIGFPE - core dumped)"
OS: Ubuntu 16.04 with Nginx
Driver: 4.0.3
Tested on PHP-FPM 7.0.8 and 7.0.10 give same result

[code]

/var/log/php7.0-fpm.log
[code]

/var/log/syslog
`Aug 26 00:55:13 api kernel: [ 5691.115511] traps: php-fpm7.0[72407] trap divide error ip:7f2fb56b6cec sp:7ffeaa469b10 error:0 in php_pdo_sqlsrv_7_nts.so[7f2fb565a000+8d000]`

This error will return 502 Bad Gateway on nginx because PHP process crash

[2016-08-26 15:13] savvior commented on #141
Similar issue with Apache2 on Ubuntu 16.04 using the 4.0.3 drivers.  Definitely broken with parameterized update queries.

[Fri Aug 26 11:10:27.531094 2016] [core:notice] [pid 21449] AH00051: child pid 23078 exit signal Floating point exception (8), possible coredump in /etc/apache2
[Fri Aug 26 11:10:56.557670 2016] [core:notice] [pid 21449] AH00051: child pid 21615 exit signal Segmentation fault

[2016-08-26 17:56] meet-bhagdev commented on #116
@rodrigopedra @ethan-tr @eziitiss Glad to hear the issue is fixed 👍 Going to close this issue. @All feel free to re-open the issue if you need to.

[2016-08-26 17:56] #116 closed

[2016-08-26 18:01] meet-bhagdev commented on #141
@oxycoder @savvior We will look into this.

[2016-08-26 18:02] meet-bhagdev commented on #139
@zburke We are actively looking into this. Thank you for the detailed repro script.

[2016-08-28 11:17] david-garcia-garcia commented on #138
See sample script for this issue here:

http://pastebin.com/XKpd0vpr

(Make sure that script source is in UTF **WITHOUT BOM** before running it otherwise the PDO driver will complain about some utf-16 thing).

Unicode column names are all messed up when they arrive to PHP.

**Current script output:**

[code]

**Expected output**

[code]

[2016-08-29 05:19] boredom2 commented on #117
The latest Update make the magic happen - everythings working without any issues.
Thanks a lot for your work!

[2016-08-29 05:19] #117 closed

[2016-08-29 08:33] ccondrup commented on #129
Very good news!

After updating to "release 4.0.3":
- phpinfo() now gives me pdo_sqlsrv "ExtensionVer 	4.0.8822.0 "
- querying both text & image columns works as expected

Solved, thanks!

[2016-08-29 08:33] #129 closed

[2016-08-29 17:38] meet-bhagdev commented on #117
Awesome :) Glad to hear.

[2016-08-29 17:59] meet-bhagdev commented on #129
@ccondrup Glad that this worked out. Let me know if you have any more questions.

[2016-08-30 09:54] Catscrash commented on #135
yes, that would be very important (is there an easier and less spammy way to do a +1?)

[2016-08-30 10:01] szepeviktor commented on #135
The upper right corner of comments contains a +smiley, `+1` is there.

[2016-08-31 09:29] sirio3mil commented on #115
Hi @meet-bhagdev,

[root@localhost ~]# sqlcmd -H 10.192.***.*** -U sa -P '*********'
Sqlcmd: Error: Microsoft ODBC Driver 13 for SQL Server : Login timeout expired.
Sqlcmd: Error: Microsoft ODBC Driver 13 for SQL Server : TCP Provider: Error code 0x274D.
Sqlcmd: Error: Microsoft ODBC Driver 13 for SQL Server : A network-related or instance-specific error has occurred while establishing a connectio

[2016-08-31 23:44] meet-bhagdev commented on #141
@oxycoder @savvior Can you share a repro script and a schema that we can use to reproduce this in our test lab?

[2016-09-01 00:04] meet-bhagdev commented on #115
@sirio3mil What version of SQL Server are you using?

[2016-09-01 07:41] sirio3mil commented on #115
Hi @meet-bhagdev,

This server is a Microsoft SQL Server 2014 (SP1-CU6) (KB3144524) - 12.0.4449.0 (X64)   Apr 13 2016 12:41:07   Copyright (c) Microsoft Corporation  Standard Edition (64-bit) on Windows NT 6.3 <X64> (Build 9600: ) (Hypervisor).

But I can try in 2008, 2012 or 2016. we have several servers.

Otherwise I'm installing all following your manual, but it is a slow process :-)

I will le

[2016-09-01 13:42] mindcreations commented on #115
Same for us here.

root@dev-vm:/usr/lib/php# sqlcmd -H 192.168.*** -U sa
Password:
Sqlcmd: Error: Microsoft ODBC Driver 13 for SQL Server : Login timeout expired.
Sqlcmd: Error: Microsoft ODBC Driver 13 for SQL Server : TCP Provider: Error code 0x274D.
Sqlcmd: Error: Microsoft ODBC Driver 13 for SQL Server : A network-related or instance-specific error has occurred while establishing a connection

[2016-09-01 14:35] sirio3mil commented on #115
Hi @meet-bhagdev,

On same machine I just uninstalled php package and build my own php and driver copy (odbc driver installation untouched).

Everything go well. It's really hard to maintenance but works for test. I will post in my blog (in spanish) installation process cuz it is different to your instalaltion manual. I use nginx and php-fpm intead ts php for apache.

Regards

[2016-09-01 17:49] oxycoder commented on #141
I just start wrote a small script and test on my vmware, I realize that I have a mistake on my code (As driver 4.0.2 and before, the code still work)
[code]
[code]
From the stored procedure above, the output return has type int, but in my php code, I define it as ''.
After change the value to int, the error gone away.
[code]

[2016-09-02 05:47] notsentient opened #142 "Linux seg fault when retrieving strings with unicode control characters"
## Description

Ran into this seg fault while running a php ETL job that executes several thousand SQL select queries.
The query causing it outputs a bunch of names and one of them includes the control character [\u009d](http://www.charbase.com/009d-unicode-operating-system-command).

I believe this issue is a msodbcsql issue as it's reproducible with sqlcmd.
## sqlcmd to reproduce

`deploy@test01

[2016-09-02 08:11] sirio3mil commented on #137
I think isn't compatible yet, it is build for php 7.0 not for php 7.1. Read this [comment](https://github.com/Microsoft/msphpsql/issues/58#issuecomment-225601897).

[2016-09-02 10:35] oxycoder commented on #141
Another problem about empty can make php-fpm process crash too, the log from system also about "trap divide error"

[code]

PHP code
[code]
Workaround this problem:
[code]

[2016-09-04 08:45] xalopp opened #144 "PHP-7.0-Linux sqlsrv_query produces floating point exception when bind parameter is a empty string"
While this query worked fine with version `4.0.2` of `sqlsrv`
[code]
version `4.0.3` will produce a floating point exception for the same query.
[code]

`char_size` is defined in [line 1957](https://github.com/Microsoft/msphpsql/blob/PHP-7.0-Linux/source/sqlsrv/core_stmt.cpp#L1957), an will be `0` if ` Z_STRLEN_P( param_z )` is zero, which happens for an empty string.

My Environment:
`Ubuntu 16.0

[2016-09-05 10:50] sirio3mil commented on #144
Same for me.

CentOS Linux release 7.2.1511 (Core)
PHP 7.0.10 (cli) (built: Sep  1 2016 10:36:29) ( NTS )
SQLSRV driver 4.0.3.0

Regards

[2016-09-06 20:40] xalopp commented on #127
The drivers doesn't support the SQL data type `sql_variant`, which is used in `sys.sequences`.

The easiest way to reproduce this:
[code]

[2016-09-07 13:57] PetrSpacek commented on #134
same issue on Linux ubuntu-amd64 3.13.0-24-generic #47-Ubuntu SMP Fri May 2 23:30:00 UTC 2014 x86_64; php version 7.0.10

`PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/local/lib/php/extensions/no-debug-zts-20151012/pdo_sqlsrv.so' - /usr/local/lib/php/extensions/no-debug-zts-20151012/pdo_sqlsrv.so: undefined symbol: _ZNKSt9exception4whatEv in Unknown on line 0`

`Warning: PHP Sta

[2016-09-07 16:09] meet-bhagdev commented on #134
@PetrSpacek What version of Ubuntu are you using? How did you install the ODBC Driver?

[2016-09-07 16:12] meet-bhagdev commented on #144
@sirio3mil, @xalopp : We believe we have a fix for this and are validating it in our test labs. Stay tuned :)

[2016-09-07 16:13] meet-bhagdev commented on #142
@notsentient Thanks for the detailed repro. We are looking into this 👍

[2016-09-07 16:15] meet-bhagdev commented on #140
@david-garcia-garcia Thanks for reporting this. We are looking into it.

[2016-09-07 16:25] PetrSpacek commented on #134
in aware of the fact that linux drivers are for Ubuntu 15+, but we're forced to use 14.04, so we have done following

`sudo add-apt-repository ppa:ubuntu-toolchain-r/test`
`sudo apt-get update`
`sudo apt-get upgrade`
`sudo apt-get install g++-4.9`

`mkdir php7-install`
`cd php7-install`

#unixODBC
`sudo apt-get install odbcinst`
`wget http://www.unixodbc.org/pub/unixODBC/unixODBC-2.3.1.tar.gz`
`ta

[2016-09-07 16:27] meet-bhagdev commented on #134
@PetrSpacek The ODBC Driver (a pre-requisite) for the PHP Driver is not available on Ubuntu 14.04. Can you upgrade to one of the newer versions of Ubuntu?

[2016-09-07 16:28] PetrSpacek commented on #134
we have compiled ODBC Driver (see steps) and it was successfully installed to the system

[2016-09-07 17:56] xalopp commented on #144
@meet-bhagdev could you add some (regression) tests to each fixes, like in PR #145? This will make the fixes more transparent and prevent regressions.

[2016-09-07 23:02] meet-bhagdev commented on #142
@notsentient sqlcmd query seems to have a small mistake: it shoud be sqlcmd -S 127.0.0.1, instead of sqlcmd -S 127.0.01. Can you check that for us?

[2016-09-07 23:29] meet-bhagdev commented on #142
Also are what version/environment are you running for SQL Server?

[2016-09-07 23:46] meet-bhagdev commented on #135
@szepeviktor @Catscrash We accepted @xalopp's PR which lets you compile the drivers with phpize. Can you take a look and help us validate?

[2016-09-07 23:46] #135 closed

[2016-09-08 00:51] szepeviktor opened #148 "Linux .so file is executable"
E.g. `pdo_sqlsrv.so` has 0755 perms.

Please consider setting 0644.

Thank you.

[2016-09-08 02:18] notsentient commented on #142
Hey meet, sorry, that's just a typo from me replacing the actual IP of the server.

I've tested in on SQL Server 2014 and SQL Server 2016 with same results.

[2016-09-08 08:32] renecatharsis commented on #58
@meet-bhagdev Any update on the release schedule? The extensions are not yet compiled into the PHP7 runtime on webapps.

[2016-09-08 21:47] meet-bhagdev commented on #119
Fixed by #147

[2016-09-08 21:47] #119 closed

[2016-09-09 12:18] szepeviktor commented on #134
After installing unixodbc-2.3.1 and msodbcsql-13.0.0.0
https://github.com/Microsoft/msphpsql/wiki/Install-pdo_sqlsrv-for-PHP-7.0-on-Debian

Then
[code]

[2016-09-09 12:23] szepeviktor commented on #134
@meet-bhagdev I use PHP 7.0 from [dotdeb](https://github.com/gplessis/dotdeb-php/tree/master-7.0/jessie/ext/odbc)

[2016-09-09 15:39] xalopp commented on #134
@szepeviktor  libstdc++ is not linked. I've a fix for that which is working on Debian jessie. PR is comming soon.

[2016-09-09 18:50] meet-bhagdev commented on #144
@xalopp Sure thing! Will get it added to our test lab.

[2016-09-09 18:51] meet-bhagdev commented on #142
@notsentient we found the bug in the ODBC Driver and are fixing it. Stay tuned :+1:

[2016-09-09 18:54] meet-bhagdev commented on #137
@all the drivers are not compatible with PHP 7.1 yet. We are looking into this and will keep you posted.

[2016-09-09 19:52] meet-bhagdev commented on #58
@renecatharsis Deployment has started rolling out. Can you check now?

[2016-09-12 19:50] ericpetroelje commented on #106
I too have run into this same issue - exactly as munfor describes (most of the time I'm able to connect successfully, but occasionally this error is thrown on connect)

[2016-09-13 22:10] meet-bhagdev commented on #58
@all we released new previous for Windows and Linux. Find them below:
https://github.com/Microsoft/msphpsql/releases/tag/4.0.4-Linux
https://github.com/Microsoft/msphpsql/releases/tag/4.1.2-Windows

If you have any questions, do let us know.

Thanks,
Meet

[2016-09-14 09:49] xalopp commented on #144
4ccffbbe077e87288bf00cc6327142579da46775 fixes this issues 👍

[2016-09-14 09:49] #144 closed

[2016-09-14 23:35] meet-bhagdev commented on #141
@oxycoder both the issues referenced above are fixed by our latest release: https://github.com/Microsoft/msphpsql/releases/tag/4.0.4-Linux. Can you help us verify?

[2016-09-14 23:35] #141 closed

[2016-09-14 23:36] meet-bhagdev commented on #134
Hi all, this issue should be fixed with our latest release:  https://github.com/Microsoft/msphpsql/releases/tag/4.0.4-Linux. Can you help us verify?

[2016-09-14 23:36] #134 closed

[2016-09-14 23:37] meet-bhagdev commented on #115
Hi all, this issue should be fixed with our latest release - https://github.com/Microsoft/msphpsql/releases/tag/4.0.4-Linux. Can you help us validate?

[2016-09-14 23:37] #115 closed

[2016-09-14 23:41] meet-bhagdev commented on #114
@sirio3mil our latest releases on Windows and Linux have a fix for this issue. Can you help us validate?
Linux: https://github.com/Microsoft/msphpsql/releases/tag/4.0.4-Linux
Windows: https://github.com/Microsoft/msphpsql/releases/tag/4.1.2-Windows

[2016-09-14 23:41] #114 closed

[2016-09-15 07:40] sirio3mil commented on #114
Yes @meet-bhagdev, tested on windows and works.

PHP 7.0.10 x64 NTS
ODBC 13.1
Driver version 4.1.8909.1

[2016-09-15 08:34] xalopp opened #150 "Post Commit Review for Version PHP-7.0-Linux version 4.0.4"
Please have a look a my comments for
https://github.com/Microsoft/msphpsql/commit/4ccffbbe077e87288bf00cc6327142579da46775
- ~~I think there a new issue in phpize for pdo_sqlsrv, I'll open a dedicated issue for that.~~ (solved by #157 )
- The Version in version.h is 4.0.0 and not as expected 4.0.4
- There are some minor coding style issues.

[2016-09-15 08:39] meet-bhagdev commented on #150
@xalopp definitely! Will take a look at this. Thanks for reporting them. Formatting issues and version issue looks valid. Will keep you posted.

[2016-09-15 15:00] sirio3mil commented on #115
Yes! Great job @meet-bhagdev, I remove old ODBC Driver and install a new following your last instruction, then reinstall and copy last driver compiled version and it works perfectly with php 7.0.11 (installed from remi repo).

Awesome, in just 5 minuts I have sqlsrv driver runing on CentOS7.

CentOS Linux release 7.2.1511 (Core)
nginx version: nginx/1.11.4
PHP 7.0.11 (cli) (built: Sep 14 2016 08:2

[2016-09-15 20:20] aaronsnyder opened #151 "undefined symbol: php_pdo_register_driver in Unknown on line 0"
### What you are seeing and what the expected behaviour is
When loading my application after installing the drivers:

1. I don't see sqlsrv in the list of pdo drivers
2. I get the following error:

### Can you connect to SQL Server via sqlcmd?
Yes, and I am able to successfully SELECT FROM tables, etc

### Which driver: SQLSRV or PDO_SQLSRV?
PDO_SQLSRV

### Environment details: e.g. PHP version, t

[2016-09-15 21:34] Hadis-Fard commented on #151
@aaronsnyder php_pdo_sqlsrv_* drivers require php-pdo installed, you can install pdo extension by running `sudo yum install php-pdo` and then `sudo yum update`. Added these steps to the tutorial too, thanks for pointing it out. Let me know if it fixes the issue.

[2016-09-15 23:32] aaronsnyder commented on #151
Thanks @Hadis-Fard for the quick reply!

I went to install php70w-pdo, and got the following response:

Nothing to do

I ran yum update as well, and everything was up to date.

Let me know if I can provide any more information.

Aaron

[2016-09-16 12:40] remicollet opened #152 "Build error pdo_sqlsrv (Fedora 23, GCC 5)"
[code]

[2016-09-16 12:43] remicollet commented on #151
Load order ? pdo.so MUST be loaded before php_pdo_sqlsrv_7_nts.so

[2016-09-16 13:04] xalopp commented on #152
This covers the phpize issue mentioned in #150

[2016-09-16 14:23] remicollet commented on #151
And FYI this extension is now available in my repository, see [php-sqlsrv](http://rpms.remirepo.net/enterprise/7/php70/x86_64/repoview/php-sqlsrv.html).

[2016-09-16 14:59] dfmaxwell opened #156 "Question about providing Linux Drivers for Ubuntu 16.04 LTS"
I'm wondering if in conjunction with the drivers that you've provided which align with the latest version of Ubuntu and PHP if you'd consider providing drivers specifically compiled against the current version of Ubuntu 16.04 LTS.

As of today 16.04.1 is the current LTS version.
PHP version is PHP 7.0.8-0ubuntu0.16.04.2
Apache version is Apache/2.4.18 (Ubuntu)

Thanks

Update: The current version

[2016-09-16 16:00] aaronsnyder commented on #151
@remicollet @Hadis-Fard

Thank you both for your help! This did the trick. I had included the extension=php_pdo_sqlsrv_7_nts.so in my php.ini at the top of the file. Switched to using a pdo_sqlsrv.ini file in php.d. Worked like a charm.

Thanks again!

Aaron

[2016-09-16 16:00] #151 closed

[2016-09-16 16:39] Hadis-Fard commented on #152
@remicollet xalopp's PR is merged, does it fix this issue?

[2016-09-16 19:59] meet-bhagdev commented on #156
@dfmaxwell our drivers should build and work against Ubuntu 16.04 and Ubuntu 16.04.1. Are you having trouble getting this to work?

[2016-09-16 20:28] dfmaxwell commented on #156
I didn't try to build them because I'm using a package from the ubuntu 16.04.1 LTS distribution.  I had tried to use the nts .so package prior to 4.0.4 and it caused problems.  I saw you compile against PHP 7.0.10 and when I last tried it was the 4.0.3 release with PHP 7.0.9 and I presumed there was a minor incompatibility somewhere.  But 4.0.4 is working great and I like the changes I see.  I hav

[2016-09-19 07:11] remicollet commented on #152
Indeed, fixed

[2016-09-19 07:11] #152 closed

[2016-09-19 11:41] bdaub commented on #138
Same issue here.
I use an existing DB on our SQL-Server in Laravel 5.  Many tables and columns contain german umlauts. I've set the charset of the connection to "utf8" and can access tables like "Läger" without problems. But I couldn't access columns with umlauts. Every query returns something like

`["Stra�e"]=> string(15) "Mainzer Str. 97" `
instead of
`["Straße"]=> string(15) "Mainzer Str. 97"

[2016-09-19 16:55] nahueloyha opened #158 "Unable to load extension binaries"
Cant' get PHP to load the .so binaries, tried with both SQLSRV (NTS) and PDO_SQLSRV (NTS).

Already installed unixODBC driver manager (2.3.1 x64) and Microsoft ODBC Driver 13 for Linux using the provided script (both seems OK).

The error is the same with PDO and non-PDO extension:
[code]

[code]
PHP 7.0 NTS
CentOS 7.2 x64

Any clue? Thanks!

[2016-09-19 17:45] meet-bhagdev commented on #158
Hi @nahueloyha are you able to connect via sqlcmd?

[2016-09-19 18:23] nahueloyha commented on #158
Hi @meet-bhagdev ! Yes, I can connect using sqlcmd.

[2016-09-19 18:51] nahueloyha commented on #158
UPDATE: just tried with the [preview 4.0.4 release version](https://github.com/Microsoft/msphpsql/releases/tag/4.0.4-Linux) of the binaries and the "undefined symbol" error is gone, both extensions (NTS PDO and NTS non-PDO) are loading OK now!

Thanks @meet-bhagdev !

[2016-09-19 18:51] #158 closed

[2016-09-19 22:57] meet-bhagdev commented on #156
Awesome! Please keep us posted on how the migrations from FreeTDS to our driver goes :) We would love to hear the feedback and improve :+1:

[2016-09-19 22:57] #156 closed

[2016-09-20 12:05] renecatharsis commented on #58
Drivers are pre-compiled now, thanks a lot.
Will do some testing.

[2016-09-20 17:08] Hadis-Fard commented on #148
@szepeviktor are you downloading the [released binaries](https://github.com/Microsoft/msphpsql/releases/tag/4.0.4-Linux) or building the driver from source?

[2016-09-20 17:44] szepeviktor commented on #148
I was building it.

BTW I have Windows-feeling when downloading linux software in a ZIP.

--
+36204242498
Ezen a készüléken sok az elütés.
Elnézést!

On September 20, 2016 7:08:07 PM CEST, Hadis Fard <notifications@github.com> wrote:

[2016-09-20 18:36] meet-bhagdev commented on #148
@szepeviktor we will ship the packages via tar.gz in the next release.

[2016-09-20 19:11] szepeviktor opened #160 "pharext to ease deployment"
Please using https://pharext.org/ as it is very nice.

[2016-09-20 21:14] szepeviktor commented on #148
I failed to implement it.

#### Results

There is an m4 macro: `PHP_SET_LIBTOOL_VARIABLE()`

libtool has a config variable `install_override_mode` which could be set to 0644

[2016-09-20 22:26] szepeviktor commented on #148
I've found out that the linker produces the .so file with permissions 0755, fixed, not variable.

`make "INSTALL=$(pwd)/build/shtool install -c --mode=0644" install` instead of make install will do the job.

It is not nice.

[2016-09-20 22:36] szepeviktor commented on #148
One more thing the `PHP_SUBST(varname)` macro does:

Maybe I don't get the syntax right. This is foreign territory for me.
[code]

[2016-09-21 12:20] josevieirame opened #161 "pdo_sqlsrv_db_handle_factory: Unknown exception caught on Debian Jessie"
I'm installing in a debian Jessie, php7.0-fpm | (4.0.4 - Linux - Preview) and when i run:
`$db = new PDO("sqlsrv:server=srv-database", "sa", "mypass");`
i recieved back:

[code]

I followed this link to install: `https://github.com/Microsoft/msphpsql/wiki/Install-pdo_sqlsrv-for-PHP-7.0-on-Debian`

[2016-09-23 21:53] sirio3mil opened #162 "CharacterSet SQLSRV_ENC_CHAR ignored in linux"
Hi all,

I don't know wich is the problem source but when I run this code

`$conn = sqlsrv_connect(HOST, [
        "UID" => USER,
        "PWD" => PASW,
        "Database" => DATABASE,
        "CharacterSet" => SQLSRV_ENC_CHAR
]);

if($conn){
    $query = "SELECT TOP 1 nombre FROM cliente WHERE codigo_cliente = ?";
    $stmt = sqlsrv_query($conn, $query, [
            'TVE'
    ]);
    while($row

[2016-09-25 00:06] ethan-tr opened #163 "Inserted text occassionally trailed by random characters after insert for strings of length 385 or greater"
After updating to 4.0.4 (from 4.0.2) I started experiencing an issue where data serialized with the json_encode or serialize function is randomly trailed by what look like random Chinese characters. The fields are nvarchar(max). I didn't change the character set in PHP or collation in the DB. Unfortunately this issue seems to happen randomly. I cannot reproduce it.

This is happening with PHP 7 on

[2016-09-26 08:50] bdaub commented on #138
@meet-bhagdev Any idea how to fix this issue?

[2016-09-27 10:30] brainfoolong commented on #137
@meet-bhagdev Is there any possibility to get the working driver now a timely manner for the release? Maybe in the RC state of PHP 7.1? Here we always want to use newest features but we mostly bound to this driver to use it in production. Nice work anyway, just ping you to get this faster done as with PHP 7 release.

[2016-09-27 17:55] meet-bhagdev commented on #137
@brainfoolong Are you looking to use the driver with PHP 7.1? We are working on this actively and you will soon have a preview release that will work with PHP 7.1.

[2016-09-28 05:14] brainfoolong commented on #137
@meet-bhagdev Exactly what i've meant. Thx for information.

[2016-09-28 13:48] sirio3mil commented on #162
Hi @meet-bhagdev any solution about this? regards

[2016-09-29 08:54] Crinsane commented on #161
I'm facing the same problem, have also followed the instructions of the given link.

[2016-10-01 06:13] remicollet opened #164 "Linux Version 4.0.5 and PECL"
I notice version 4.0.5 of sqlsrv and pdo_sqlsrv have been released on PECL ?

I don't see any commit here in the PHP-7.0-Linux branch ?

Diffing 4.0.4 and 4.0.5, it seems most of the change are present (mine), but some are missing, especially the version number.

Also missing: the package.xml used to generate the pecl archive.

Can you please add the missing files / changes, and tag 4.0.5 here ?

[2016-10-01 09:15] remicollet commented on #164
I also think the version macros are a bit confusing

       #define PHP_SQLSRV_VERSION "4.0.5"

Unused, but check during package upload on PECL

      #define VER_FILEVERSION_STR "4.0.5.0"

Used in MINFO and zend_module_entry

So "pecl list" reports 4.0.5, while phpinfo and reflection report 4.0.5.0

Would it be simpler to only use PHP_SQLSRV_VERSION everywhere ?

(of course, same comment about PH

[2016-10-04 18:44] szepeviktor opened #165 "Repo description"
Please set proper description.

Consider `Microsoft PHP drivers for SQL Server`

Setting the URL would be nice https://msdn.microsoft.com/en-us/library/dd903047(SQL.11).aspx

[2016-10-04 18:44] szepeviktor commented on #165
These can be done - with proper rights - on the top of this page: https://github.com/Microsoft/msphpsql

[2016-10-05 08:15] david-garcia-garcia opened #166 "Reported version number in phpinfo()"
Build versions reported in phpinfo() on - at least - the Windows driver are confusing.

![image](https://cloud.githubusercontent.com/assets/9599352/19105795/38c28122-8ae4-11e6-8040-fc61fbc55a1f.png)

![image](https://cloud.githubusercontent.com/assets/9599352/19105798/3b513334-8ae4-11e6-8efc-60e8e2bb22ae.png)

Last image is supposed to be from 4.1.3 release and the previous one from 4.1.2

[2016-10-05 11:07] david-garcia-garcia opened #167 "Function sequence error + wrong transaction management"
I was able to finally isolate into a simple script the Function Sequence Error issues.

Repro script here:

http://pastebin.com/bYvdzgPN

Using latest PHP7x64 driver 4.1.3 with PHP 7.0.11

Current result:

Expected result:

[2016-10-06 13:03] yuriyzinchenko opened #168 "May be docker image?"
Do you plan to create a docker image?

[2016-10-07 17:08] kevinchl opened #169 "PDOException: String data, right truncation when insert a long string"
Hi all,

I have try to insert a long string into database, but experience the exception: _[Microsoft][ODBC Driver 13 for SQL Server]String data, right truncation_

I am using php7.0.8 and tried both PDO_SQLSRV and SQLSRV for linux driver...

I notice that the issue happen
- When using prepare statement -> execute.
- The connection is establish in UTF-8 character set.
- The string need to long enou

[2016-10-08 11:36] vs0uz4 opened #170 "Compiling extensions with PHPIZE ERROR"
Follow the tutorial (https://github.com/vs0uz4/msphpsql/blob/PHP-7.0-Linux/LinuxTutorial.md#installing-microsoft-php-drivers-for-sql-server-using-pecl-packages) to compile the extensions "sqlsrv pdo, sqlsrv" through the PECL packages system, using **phpize**, however, when trying to compile always returns the error below:

`In file included from /home/php-user/sqlsrv-4.0.5/typedefs_for_linux.h:6:0

[2016-10-10 02:07] kevinchl commented on #170
Have you install the "unixODBC driver manager and Microsoft ODBC driver for Linux" ?

[2016-10-10 15:59] meet-bhagdev commented on #168
@yuriyzinchenko are you looking for a Docker image with the PHP Driver for SQL Server and its pre-requisites installed?

[2016-10-10 16:00] meet-bhagdev commented on #170
@kevinchl Spot on!! @vs0uz4 you need to install the Microsoft ODBC Driver and unixODBC. Here are the instructions: https://blogs.msdn.microsoft.com/sqlnativeclient/2016/09/30/msodbcsql-preview-3/

We will update the tutorial very soon! Thanks for trying out the PECL packages :)

[2016-10-11 13:08] yuriyzinchenko commented on #168
@meet-bhagdev Yes. Or may be it's exists already?

[2016-10-13 14:30] weboide commented on #161
Got the same error with Ubuntu 16.04, installed msodbc from the apt repo (https://blogs.msdn.microsoft.com/sqlnativeclient/2016/09/06/preview-release-of-the-sql-server-cc-odbc-driver-13-0-0-for-linux/) and installed pdo_sqlsrv from pecl as specified in the readme.

[2016-10-13 17:10] gubler opened #171 "Windows Authentication not working anymore"
I am trying to upgrade an existing application from PHP 5.5 / SQL Server Driver 3.2 to PHP 7 / SQL Server Driver 4.0. This is on servers (both web and database) using Kerberos for authentication to handle the double hop problem.

When I do a PDO connection with a username/password, I can connect fine

[code]
But when I omit the username and password to use Windows authentication I get an error

[2016-10-13 17:11] meet-bhagdev commented on #171
@gubler Very interesting. We will look into this and get back to you asap.

[2016-10-13 18:35] gubler commented on #171
Never mind - some one applied some patches to the server - its not the SQL server driver. Whatever the updates did to the server, now this is only occurring with Windows clients (though not Mac clients).

Since it at least works properly with Mac clients, I am sure it is a configuration change that happened to the server and not a problem with the SQL Server driver.

Thank you for the quick reply,

[2016-10-13 18:35] #171 closed

[2016-10-13 19:40] Hadis-Fard commented on #139
@zburke This is fixed in the [Windows 4.1.3 release](https://github.com/Microsoft/msphpsql/releases/tag/v4.1.3-Windows) and [Linux 4.0.5 release](https://github.com/Microsoft/msphpsql/releases/tag/v4.0.5-Linux). I'll close the issue, please let us know if you faced other issues.

[2016-10-13 19:40] #139 closed

[2016-10-13 19:43] Hadis-Fard commented on #137
@brainfoolong the [4.1.3 release](https://github.com/Microsoft/msphpsql/releases/tag/v4.1.3-Windows) contains pre-compiled binaries for PHP 7.1.

[2016-10-13 19:43] #137 closed

[2016-10-13 19:48] Hadis-Fard commented on #113
@savvior This issue is fixed, please get latest binaries [here](https://github.com/Microsoft/msphpsql/releases/tag/v4.0.5-Linux) or use PECL to install SQLSRV drivers. Feel free to open the issue, if the issue persists.

[2016-10-13 19:48] #113 closed

[2016-10-13 19:49] #110 closed

[2016-10-14 05:14] brainfoolong commented on #137
Thank you. Works great with newest RC candiate of PHP 7.1 - This is all what i've expected, a release of that driver before PHP 7.1 stable release. Great support, thanks.

[2016-10-15 00:21] danielnv18 commented on #161
I got the same problem. I'm using the oficial docker image for php 7 fpm (which is using debian jessie) and I followed the part of guide from the [wiki page ](https://github.com/Microsoft/msphpsql/wiki/Install-pdo_sqlsrv-for-PHP-7.0-on-Debian)

This is the Dockerfile
[code]

These are the version of the unixODBC and ODBC Driver 13 for SQL Server inside the container
[code]

I can provide more feed

[2016-10-15 18:52] danielnv18 commented on #168
@yuriyzinchenko @meet-bhagdev I created this (Dockerfile)[https://gist.github.com/danielnv18/c6768295f2e8b9796e311349df97aa32]. it might work.

The only problem I have is that is returning `pdo_sqlsrv_db_handle_factory: Unknown exception caught`. I'm using that Dockerfile with a silex application and Doctrine DBA. it looks like that I'm not the only one wit that problem #161

[2016-10-16 12:55] yuriyzinchenko commented on #168
@danielnv18 based on your file, I created my own Dockerfile. I add few instructions to avoid pdo_sqlsrv_db_handle_factory: Unknown exception.

` RUN apt-get install -y locales \`
`   && echo "en_US.UTF-8 UTF-8" > /etc/locale.gen`
`  && locale-gen`
It seems like with the encoding problem was the cause of connection failure
The docker image is available on the https://hub.docker.com/ nitra/php:php-7

[2016-10-16 13:27] danielnv18 commented on #168
Thanks @yuriyzinchenko. That did the trick for that particular error.

[2016-10-16 13:29] danielnv18 commented on #161
@weboide @Crinsane @josevieirame I had the same error and I fix it by adding the locales.
[code]

[2016-10-17 02:30] meet-bhagdev commented on #168
@danielnv18 @yuriyzinchenko super cool. I will try out your docker image and let you know how it goes. If everything looks good, I will start evangelizing it.

We will also add the following to our getting started instructions.
[code]

[2016-10-17 12:08] weboide commented on #161
@danielnv18 Thanks a lot, this worked! I was able to make it work with a `ubuntu:xenial` docker image.

[2016-10-19 21:10] meet-bhagdev commented on #167
@david-garcia-garcia : We are looking into this and seems like it may be by design. Using the client-side cursors allows you to cache the entire result set in memory, which explains why transactions are allowed. On the other hand, when the results are not buffered, the server will prevent transactions because the result set is still active (even with MARS enabled).

For details, please refer to th

[2016-10-20 06:38] david-garcia-garcia commented on #167
Does that mean the out of the two samples in the repro script, the first one should be working?

That one seems reasonable, the second sample was just me playing around with the same script without buffered cursors enabled.

I understand then that the expected result for the script should be:

Then that's OK. The specific scenario I am dealing with is Drupal iterating over a a statement result (us

[2016-10-20 15:16] david-garcia-garcia opened #173 "Manually binding a column type breaks SQLSRV_ATTR_FETCHES_NUMERIC_TYPE behaviour"
SQLSRV_ATTR_FETCHES_NUMERIC_TYPE allows types that can be represented by PHP's int and float be returned as so (int, smallint, tinyint, float, real...).

Buf if you manually bind a column's return type in a statement, this behaviour is completely broken for the rest of the columns.

Sample script here: http://pastebin.com/at3TcXRa

Current output:

Expected output:

[2016-10-20 15:24] david-garcia-garcia commented on #173
BTW, if SQLSRV_ATTR_FETCHES_NUMERIC_TYPE also took care of assuming that varbinary columns store binary data, that would be awesome.

[2016-10-22 16:59] epoxa opened #174 "Compile error in centos 6.8"
Trying to compile under centos 6.8 I always get an error
`[root@centosdev php-7.0.12]# make
/bin/sh /root/php-7.0.12/libtool --silent --preserve-dup-deps --mode=compile c++ -I/root/php-7.0.12/ext -std=c++11 -Iext/pdo_sqlsrv/ -I/root/php-7.0.12/ext/pdo_sqlsrv/ -DPHP_ATOM_INC -I/root/php-7.0.12/include -I/root/php-7.0.12/main -I/root/php-7.0.12 -I/root/php-7.0.12/ext/date/lib -I/usr/include/libxml2

[2016-10-24 13:17] l736k commented on #138
@meet-bhagdev i'm looking for a solution too

[2016-10-24 18:24] v-kigos commented on #174
I am able to build sqlsrv / pdo_sqlsqrv on CentOS 6.8.

Can you confirm:
$ cat /etc/redhat-release
CentOS release 6.8 (Final)

$ gcc -v
Thread model: posix
gcc version 4.8.2 20140120 (Red Hat 4.8.2-15) (GCC)

$ odbcinst -j
unixODBC 2.3.1
DRIVERS............: /etc/odbcinst.ini
SYSTEM DATA SOURCES: /etc/odbc.ini
FILE DATA SOURCES..: /etc/ODBCDataSources
USER DATA SOURCES..: /home/user/.odbc.ini
SQLU

[2016-10-24 21:58] epoxa commented on #174
Seems I have older gcc:
`gcc version 4.7.2 20121015 (Red Hat 4.7.2-5) (GCC)`
and
`USER DATA SOURCES..: /root/.odbc.ini`
Should I upgrade my gcc? What repository version 4.8.2 is available in?

[2016-10-24 22:02] v-kigos commented on #174
sudo yum update
sudo yum groupinstall "Development Tools"

These two commands should update your CentOS 6.8

[2016-10-24 22:09] epoxa commented on #174
After updating yum it offers me to install gcc version 4.4.7-17.el6
I believe it requires some specific repo.

[2016-10-24 22:11] v-kigos commented on #174
Can you confirm:
$ cat /etc/redhat-release

[2016-10-24 22:16] epoxa commented on #174
CentOS release 6.8 (Final)

[2016-10-25 03:50] epoxa opened #175 "Can not connect named instance"
I use precompiled version of sqlsrv driver from Remi's repository under Centos 7.2 (core). (Actually inside docker image).
Successfully connecting to ordinal sql server but somehow can not connect to named instance like that:
`$pdo = new PDO("sqlsrv:Server=servername\\H;Database=dbname", "testuser", "testpass");`
The same issue with sqlsrv_connect() without PDO.
Can anybody confirm successful conn

[2016-10-25 08:34] epoxa commented on #175
If named instance is on known static port there is workaround:
`$pdo = new PDO("sqlsrv:Server=servername,56789;Database=dbname", "testuser", "testpass")`
where 56789 is port number.
This works well for me.

[2016-10-25 11:59] nguyentranbaoanh commented on #118
Hi all,

Can you tell me how to get the
extension=php_sqlsrv_7_nts.so
extension=php_pdo_sqlsrv_7_nts.so
And tell me how to connect with sqlsrv. This problem took me 2 weeks.

Thanks,

[2016-10-25 17:20] meet-bhagdev commented on #118
@nguyentranbaoanh check out this blog: https://blogs.msdn.microsoft.com/sqlphp/2016/10/10/getting-started-with-php-7-sql-server-and-azure-sql-database-on-linux-ubuntu-with-apache/

[2016-10-25 21:24] meet-bhagdev commented on #162
@sirio3mil We are looking into this! Stay tuned.

[2016-10-25 21:24] meet-bhagdev commented on #169
@kevinchl We are looking into this

[2016-10-25 23:00] Hadis-Fard commented on #166
@david-garcia-garcia Thanks for feedback, we redesigned the versioning in the latest release, please download the binaries from [here](https://github.com/Microsoft/msphpsql/releases/tag/4.1.4-Windows).

[2016-10-25 23:00] #166 closed

[2016-10-26 07:50] sirio3mil commented on #162
@meet-bhagdev if you put any invalid value in "CharacterSet" like SQLSRV_ENC_BINARY,
unlike windows where error reports in linux still working

[2016-10-26 17:54] meet-bhagdev commented on #175
Awesome! 👍 I will go ahead and close this issue for now.

[2016-10-26 17:54] #175 closed

[2016-10-26 20:36] epoxa commented on #175
Thanks )

[2016-10-28 11:23] ianguerit commented on #163
I'm seeing same issue, potentially related to #169 with string length and UTF-8 but for a text field type

[2016-10-29 20:01] ritey opened #176 "Calling stored procedures"
System: Linux ubuntu 4.4.0-45-generic
PHP Version 7.0.8
PDO SQLSRV version 4.0.5.0

I'm trying out the latest PHP available with the latest Linux SQL driver calling a stored procedure on Azure and have an issue retrieving a value from the Input Output parameter which is defined as an NVarChar(Max).

The existing MSSQL database I'm wanting to run PHP against is using extensive views and SP's and ta

[2016-10-31 03:07] meet-bhagdev commented on #176
@ritey we will take a look at this. Can you send us a repro script?

[2016-11-01 22:45] ritey commented on #176
This is a massively cut down stored procedure, but you get the gist with this, if you want the full existing procedure let me know who I can email it too.

As far as I can tell, this should work.

[code]

The PHP

[code]

[2016-11-02 16:05] ritey commented on #176
The error reported is: Uncaught PDOException: SQLSTATE[42000]: [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]Incorrect syntax near '@P1'

[2016-11-02 16:37] ritey commented on #176
Also, as previous versions have not allowed NVarCharMax as an output param, even changing it to a VarChar(32) or anything for this test, still doesn't work.

[2016-11-02 17:51] Hadis-Fard commented on #176
@ritey You should use reference parameter to retrieve output or bidirectional parameters, so you should add `&` to `$return` variable: `$sth->bindParam(1, &$return, PDO::PARAM_STR|PDO::PARAM_INPUT_OUTPUT,12);`.

[2016-11-02 18:04] ritey commented on #176
@Hadis-Fard Interestingly, and looking at other examples you'd be right, but with this if you do you get:

Parse error: syntax error, unexpected '&' with or without the variable already initialised.

Having done some more testing and re-working based on even older SP examples I've found, changing the statement to the following does work:
[code]

[2016-11-02 18:05] Xavierus commented on #176
@Hadis-Fard Call-time pass-by-reference has been removed since PHP 5.4

[2016-11-04 12:31] beatrohrer opened #177 "PDO_SQLSRV for HHVM?"
Are there any plans to port PDO_SQLSRV to HHVM?

[2016-11-08 08:52] dixonnixon commented on #176
Hello. And  what should I do if i have no output parametres of my SP. only this code at the end of sp.:

"Select  ID , convert(char(10), MAX_DATE_REG, 104) as  DATE_REG, COUNT_ID_LOCATEWP, ID_LOCATEWP, KOD, VIDDIL from  #rez_tbl"

And 3 input param-s
"ALTER     procedure [dbo].[USP_VIEWKWP] (@id int, @checkreg bit = 1, @roolback bit = 1) AS ..."

I tried this code :
"$dbDB = new PDO("sqlsrv:Server

[2016-11-08 10:43] ritey commented on #176
@dixonnixon Do you have

[code]

at the beginning of the SP?

[2016-11-08 10:54] dixonnixon commented on #176
@ritey, actually no. Only SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

[2016-11-08 10:59] ritey commented on #176
@dixonnixon Try adding it after SET QUOTED_IDENTIFIER ON....

[2016-11-08 12:09] dixonnixon commented on #176
I'd add this after DECLARE, in my sp and there no effect in output...
this is sp look:
`USE [tech]
GO
/****** Object:  StoredProcedure [dbo].[USP_VIEWKWP]    Script Date: 11/08/2016 14:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER       procedure [dbo].[USP_VIEWKWP] (@id_udk int, @checkreg bit = 1, @roolback bit = 1) AS
declare @max_date_REG datetime, @count_id_locatewp sma

[2016-11-08 12:18] ritey commented on #176
Ok. I'd leave the SET NO COUNT ON; as you have. In your PHP if you fire

[code]
straight after execute and then fetch do you get anything?

[2016-11-08 12:58] dixonnixon commented on #176
I 'Ve found this would work if declaring procedure line without brackets in SQL-code:
`ALTER procedure dbo.USP_VIEWKWP @id_udk int, @checkreg bit = 1, @roolback bit = 1 `
work correctly with this PHP code:
`$dbDB = new PDO("sqlsrv:Server=$server;Database=$db_name", $username, $password);

	$sql = 'EXEC USP_VIEWKWP 0,0,0';

	$stmt = $dbDB->prepare($sql);

	$stmt->execute();
	// print_r($stmt);
	ech

[2016-11-09 22:48] smulholland2 opened #178 "PDO_SQLSRV not starting on Amazon-Linux"
I've installed PHP7 and ODBC 13 on an Amazon-Linux instance. I was able to phpize the two source files from github.com/microsoft/msphpsql PHP-7.0-Linux branch. I moved each of the .so files from msphpsql/modules to /usr/lib64/php/7.0/modules. I added the extentions to php.ini. I run `sudo service php-fpm-7.0 restart`, which produces:

[code]
When I try to run a page with sqsrv_connect() I get this

[2016-11-10 00:09] Hadis-Fard commented on #178
@smulholland2 PDO_SQLSRV driver uses different APIs than SQLSRV driver, so for connection you should use PDO::_construct, please find the examples in [MSDN](https://msdn.microsoft.com/en-us/library/ff628159(v=sql.105).aspx#Anchor_4).

About the error `PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib64/php/7.0/modules/pdo_sqlsrv.so' - /usr/lib64/php/7.0/modules/pdo_sqlsrv.so: und

[2016-11-10 00:24] smulholland2 commented on #178
I'm not really trying to use the PDO_SQLSRV API. I want to use SQLSRV. The SQLSRV driver is installed but its still giving me the ODBC errors when using the SQLSRV API.

PDO is installed. You can see it in the output of my `php -m`.

I tried to run a PDO _construct example from the MSDN website. It failed and gave me this: `Uncaught PDOException: could not find driver in /var/web/tapseries.xyz/pub

[2016-11-10 00:44] meet-bhagdev commented on #177
@beatrohrer Not as of now. Any particualr reasons you would prefer to use the driver with HHVM vs PHP given the recent PHP 7 enhancements

[2016-11-10 00:45] meet-bhagdev commented on #176
Awesome 👍  Closing it for now.

[2016-11-10 00:45] #176 closed

[2016-11-10 00:48] meet-bhagdev commented on #174
@epoxa: Might have a solution for you. Centos 6.8 has gcc 4.4 as a default compiler.

We require GNU GCC 4.8 with is not available in the default yum repository yet, this it should be manually added.

Steps to add it

[code]

Give this a shot and let us know what you think

[2016-11-10 00:50] meet-bhagdev commented on #170
@vs0uz4 I am closing this issue due to inactivity. Check out this blog as it has PECL instructions:
https://blogs.msdn.microsoft.com/sqlphp/2016/10/10/getting-started-with-php-7-sql-server-and-azure-sql-database-on-linux-ubuntu-with-apache/

[2016-11-10 00:50] #170 closed

[2016-11-10 00:54] #165 closed

[2016-11-10 00:55] meet-bhagdev commented on #164
@remicollet should be fixed with our latest release - https://github.com/Microsoft/msphpsql/releases/tag/4.0.6-Linux. Let us know what you think.

[2016-11-10 00:55] #164 closed

[2016-11-10 00:56] meet-bhagdev commented on #163
@ethan-tr We are working actively on a fix for this. Can you send us a repro that we can use to validate?

[2016-11-10 01:00] meet-bhagdev commented on #162
@sirio3mil Any particular reason why you have to use "CharacterSet" => SQLSRV_ENC_CHAR? We are looking at this issue and seems like that might be the problem.

[2016-11-10 01:01] meet-bhagdev commented on #161
Closing as it seems like it is resolved. Feel free to re-open.

[2016-11-10 01:01] #161 closed

[2016-11-10 01:02] #150 closed

[2016-11-10 01:07] meet-bhagdev commented on #128
Closing as it is not scoped for now.

[2016-11-10 01:07] #128 closed

[2016-11-10 01:10] meet-bhagdev commented on #106
@munfor @ericpetroelje We are not able to repro this issue in our labs. Is there a script/some other form of repro we can use?

[2016-11-10 01:12] #82 closed

[2016-11-10 01:25] Hadis-Fard commented on #167
@david-garcia-garcia that's right, the execution with `buffered` set to true should work.

[2016-11-10 01:40] Hadis-Fard commented on #148
@szepeviktor in the Makefile the mode is set to 644,  `INSTALL = $(top_srcdir)/build/shtool install -c
INSTALL_DATA = $(INSTALL) -m 644`. The permissions also depends on the permission of the user type (root and local user) and the ownership of the directories, also you can change the permission using `chmod` as well.

[2016-11-10 01:40] #148 closed

[2016-11-10 01:48] Hadis-Fard commented on #178
It seems like a configuration issue, would you try the instruction [here](https://github.com/meet-bhagdev/phptekdemo/blob/master/proposedreadme.md)?

[2016-11-10 04:23] szepeviktor commented on #165
Thank you.

--
+36204242498
Ezen a készüléken sok az elütés.
Elnézést!

On November 10, 2016 1:54:11 AM CET, Meet Bhagdev <notifications@github.com> wrote:

[2016-11-10 07:13] epoxa commented on #174
I have installed it already. Seems gcc 4.8 solves the problem. So I can successfully compile sqlsrv but not pdo_sqlsqv (there was another compile error - do not remember now exact message).
For now I switched from centos 6.8 to centos 7 and installed binary package.
Thanks

[2016-11-10 07:13] #174 closed

[2016-11-10 07:51] beatrohrer commented on #177
Hack is the reason, especially async, generics, and the better type system. E.g. it would be really great to be able to make concurrent calls to the DB for non-dependent queries.

[2016-11-10 09:03] sirio3mil commented on #162
Hi @meet-bhagdev cuz our project initially wasn't in UTF-8 so this is a default value in Windows driver an work fine in non utf8 projects. Now we are in UTF-8 and do not use it but UTF-8 differ between windows and linux version, same query produce in linux unexpected characters at the end.

[2016-11-10 09:04] meet-bhagdev commented on #162
Understood. So for "CharacterSet" you are using UTF-8. Is that right?

[2016-11-10 15:49] sirio3mil commented on #162
Now yes @meet-bhagdev, but as I told you, in linux, and some queries, it fail.

**Query**

 SELECT xxx.xxx_id
 FROM xxx
 INNER JOIN yyy_xxx ON yyy_xxx.xxx = xxx.xxx_id
 INNER JOIN yyy_zzz ON yyy_zzz.yyy_xxx = yyy_xxx.yyy_xxx_id
 INNER JOIN dbo.FN_SPLIT(?, ',') spl2 ON spl2.campo = xxx.field1
 INNER JOIN dbo.FN_SPLIT(?, ',') spl ON spl.campo = xxx.field2
 WHERE (xxx.date BETWEEN ? AND ?)
  AND (xxx

[2016-11-10 18:21] v-kigos commented on #178
I guess you use unixODBC installed from the package manager.
This package is not compatible with PHP SQLSRV driver.
Use yum to unixODBC2.3.1 from the suggested repository,
https://msdn.microsoft.com/en-us/library/hh568454(v=sql.110).aspx

Once you install the right one, you will see something similar:
msodbcsql-13.0.1.0-1.x86_64                   Wed 26 Oct 2016 12:44:56 PM PDT
unixODBC-utf16-deve

[2016-11-11 02:36] ethan-tr commented on #163
@meet-bhagdev I was able to reproduce the issue with a simple script. I'll clean it up and share it.

[2016-11-11 06:40] ethan-tr commented on #163
This string is the minimum length (385) that triggers the issue.

[code]

[2016-11-11 07:00] smulholland2 commented on #178
@v-kigos I did install the unixODBC drivers per that documentation.

@Hadis-Fard I may have found my problem. The instructions you asked me to follow do not have instructions for Red Hat 4.8. I am using the Amazon-Linux AMI because it is the only Elastic Beanstalk eligible AMI that supports PHP7. Is there a way to do this on Red Hat 4.8?

[2016-11-13 05:44] purebin opened #179 "php-7.0-linux pro_sqlsrv can not find sql.h"
/usr/local/php/include/php/mssql/pdo_sqlsrv/xplat.h:36:17: fatal error: sql.h: No such file or directory
compilation terminated.

[2016-11-13 05:48] purebin commented on #179
configure : successed

but make && make install error

error info:
/usr/local/php/include/php/mssql/pdo_sqlsrv/xplat.h:36:17: fatal error: sql.h: No such file or directory
compilation terminated.

[2016-11-13 07:01] purebin commented on #179
need to install odbc
centos --  yum install unixODBC unixODBC-devel libtool-ltdl libtool-ltdl-devel

[2016-11-13 17:37] purebin commented on #178
我也遇到了相同的问题，我PHP7.0  编译安装了PDO_SQLSRV 和SQLSRV, 装了FREETDS 和 UNIXODBC
链接总是报错
Array ( [0] => Array ( [0] => IMSSP [SQLSTATE] => IMSSP [1] => -49 [code] => -49 [2] => This extension requires the Microsoft ODBC Driver 11 or 13 for SQL Server. Access the following URL to download the ODBC Driver 11 or 13 for SQL Server for x86: http://go.microsoft.com/fwlink/?LinkId=163712 [message] => This extension requ

[2016-11-13 20:22] smulholland2 commented on #178
@purebin 您使用 Red Hat 4.8?

[2016-11-14 05:55] parite opened #180 "XML parsing: illegal xml character when inserting with XML"
It seems that when passing an XML string through as a parameter to a column defined as "XML" an "illegal XML character" error is returned by PDO.

SQL Version: Microsoft SQL Server 2014 (SP2) (KB3171021) - 12.0.5000.0 (X64)
PHP: 7.0.8-0ubuntu0.16.04.2

Using pdo_sqlsrv-4.0.6 from PECL libraries.

DB Structure:
[code]

PHP:
[code]

Results of above code:
`Error: SQLSTATE[42000]: [Microsoft][ODBC Dr

[2016-11-14 05:56] parite commented on #180
Forgot to mention, when the XML set is smaller (only up to and including <ChildTag09>), the insert is works.

[2016-11-14 06:04] purebin commented on #178
CENTOS6.5 您能够给我讲解一下？ FREETDS UNIXODBC 和 SQLSRV 之间是怎么工作的么？

是不是PHP 先调用UNIXODBC 然后odbc根据配置找到FREETDS FREETDS 再连接SQLSERVER?

如果是这样的话？UNIXODBC作为外部工具，PHP 怎么调用的？

[2016-11-14 14:52] sirio3mil commented on #162
I get this issue in two different queries, with long parameters as above an in sp with xml parameters that I send a null value.

I'm using last driver version for centos, using Remi Repo and PHP 7.1 RC6.

Regards.

[2016-11-14 15:07] jakoch commented on #88
Here is my feedback:
- it's still not ok, that you package TS and NTS in one zip archive, e.g. https://github.com/Microsoft/msphpsql/releases/tag/4.1.2-Windows
- it's still not ok, that the newer preview builds contain everything in one zip archive, e.g.
https://github.com/Microsoft/msphpsql/releases/tag/4.1.4-Windows that's a step in the wrong direction
- no release for windows on https://pecl.ph

[2016-11-14 15:48] ethan-tr commented on #169
@meet-bhagdev Will a release with with a fix for this issue and #163 be available soon?

[2016-11-14 17:01] sirio3mil commented on #162
Both errors are present when I define CharacterSet as UTF-8, but if I remove CharacterSet from options everything is ok. In windows we still need set CharacterSet to work with UTF-8 but in linux look like if you put this configuration something go wrong.

[2016-11-14 18:04] Hadis-Fard commented on #178
@smulholland2 Can you try `sudo find / -name sql.h` and `ldd sqlsrv.so` and let me know the results?

[2016-11-14 18:11] Hadis-Fard commented on #179
@purebin `sql.h: No such file or directory` means that unixODBC is not installed properly, please clean up any previous installed ODBC and unixODBC and follow the instructions [here](https://github.com/meet-bhagdev/phptekdemo/blob/master/proposedreadme.md#step-1-install--php-unless-already-installed). To make sure installation has been successful, please try connecting using `sqlcmd`.

[2016-11-15 02:20] #167 closed

[2016-11-15 02:23] david-garcia-garcia commented on #167
Is this supposed to be fixed in a future release?

[2016-11-15 18:06] Hadis-Fard commented on #167
The second sample is by design and is not supposed to work. We are not able reproduce the issue in the first sample in our lab, and it is working as expected, do you have an issue with it? Feel free to reopen the. issue

[2016-11-15 20:14] Hadis-Fard commented on #180
@parite We are working on this issue, stay tuned for the next release

[2016-11-16 15:47] jan-kratochvil commented on #163
Hi I have similar issue, but on selects. Could this be related? I checked the length and it seems strings size 385 and greater are affected with this problem. The server returns extra characters at the end on select. The fieldtype is text. Do you need any more info?

[2016-11-16 17:05] jsamuel opened #181 "wget command in installodbc_ubuntu.sh fails"
One of the wget commands in the `installodbc_ubuntu.sh` script uses both `-O` and `-P` which appears to not work as intended. With the script as it currently is, the file `msodbcsql-13.0.0.0.tar.gz` is getting downloaded inside the `/tmp/msodbcubuntu/unixODBC-2.3.1` because the `-P` is essentially ignored and that location isn't where the rest of the script is expecting it.

This can be fixed by c

[2016-11-16 19:52] meet-bhagdev commented on #181
Good catch. We will look into this and fix it :)

[2016-11-16 21:58] leehicks opened #182 "Empty string set to output parameter on stored procedure returns garbage."
Here is a simple test procedure. Tested versions - Windows 2008 R2 Server (4.1.4), Ubuntu 16.04 (4.0.6).

create procedure test_empty_out @Test varchar(200)='' OUTPUT
as begin
  set nocount on;
  set @Test='';
  select hello_world_column='this is a column in a single dataset';
end

If @Test is set to null or " " (single space), everything returns fine, but when empty string is returned the bound m

[2016-11-17 11:35] david-garcia-garcia commented on #167
This is getting interesting, and might be related to using SQL Native Client vs ODBC.

In our production environments we have Native Client only installed (against SQL Server 2014), and the issue is reproducible.

But on local, I just installed ODBC 13.1 and it does behave as intended. I am now getting this though (Randomly):

Could you throw any light on how the driver is internally choosing betw

[2016-11-18 09:45] PetrSpacek commented on #169
We confirm the issue on Ubuntu 14.04, php7.0.10 compiled with PDO_SQLSRV and SQLSRV for linux drivers.
Looking forward see a fix for this.

[2016-11-21 16:17] jqrn opened #184 "Keyserver timeout"
When I run:

sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893

... I'm getting the following error:

Executing: /tmp/tmp.yOJUpagZmB/gpg.1.sh --keyserver
apt-mo.trafficmanager.net
--recv-keys
417A0893
gpg: requesting key 417A0893 from hkp server apt-mo.trafficmanager.net
gpg: keyserver timed out
gpg: keyserver receive failed: keyserver error

[2016-11-21 16:51] #184 closed

[2016-11-21 16:52] jqrn commented on #184
It was a network issue on my end.

[2016-11-21 22:34] vovech commented on #82
Hi People, i have similar issue using SQLServer with PDO:

PHP Versions: 7.0.12.0 (i've tried with others)
SQL Server 2008R2
[PHP_SQLSRV_7_TS_X86]
extension=php_sqlsrv_7_ts_x86.dll

Here is my script:

[code]

This works perfectly if you are execute in command line:
**php-cgi.exe test.php**

By using navigator:
**www.mysite.com/test.php**

**IIS Server Throwing 500** error without any specific err

[2016-11-21 23:52] vovech commented on #82
I've tried to reproduce error using XAMPP last versión with php7 and Windows 10.

Here is a little bit different error. With script i've posted works, with a biggest Store Procedure it crash again with: ERR_CONNECTION_RESET error and windows log show:

_Nombre de la aplicación con errores: httpd.exe, versión: 2.4.23.0, marca de tiempo: 0x577631b1
Nombre del módulo con errores: php7ts.dll, versión:

[2016-11-22 01:25] Hadis-Fard commented on #182
@leehicks Could you send  a PHP repo script?

[2016-11-22 08:55] david-garcia-garcia commented on #140
Any update on this? I am comming accross this issue all the time, it makes it impossible to mix EMULATE_PREPARES with binary columns....

[2016-11-22 09:38] scarja commented on #169
We also confirm this issue running PHP 7.0.8-0ubuntu0.16.04.3 . Any planned resolution time?

[2016-11-22 09:56] Tklaversma opened #185 "Installing msphpsql on a Redhat 7 with Plesk 12.5"
When I follow the tutorial below:
[code]
I have a problem with `yum remove unixODBC`. Plesk uses this library for almost all Plesk-modules...so this cannot be removed.

I tried to skip this step, but then I get the error `Error: unixODBC-utf16 conflicts with unixODBC-2.3.1-11.el7.x86_64`.

Do anyone of you got a workaround to get this installed on a Linux CentOS 7 distribution with Plesk 12.5 on i

[2016-11-22 10:01] meet-bhagdev commented on #185
Try this :) This would Install the ODBC Driver on CentOS and take care of the conflict

[code]

[2016-11-22 10:03] Tklaversma commented on #185
Thanks for the quick reaction.
Just to be sure, this won't break (delete) any existing Plesk modules/functionality?

[2016-11-22 10:42] david-garcia-garcia commented on #92
I can confirm this is not solved :(

I've built a complete test script:

http://pastebin.com/TsLt8Za3

Current Output:

Expected Output:

[2016-11-22 10:43] Tklaversma commented on #185
Ok, I figured it out.

Below you'll find the full process of installing MSPHPSQL on CentOS 7 with Plesk...
Hope I can help some other people with this:

[code]

[2016-11-22 10:46] Tklaversma commented on #185
Just to be sure... if an update comes out, all we have to do is just `yum update` right?
If not, could you show me how to update this library..

[2016-11-22 15:22] leehicks commented on #182
A simple test script would be something like this...

$pdo = new PDO( 'sqlsrv:Server=192.168.1.1,1433;Database=AdventureWorksDW', 'user', 'pwd');
$query = "EXEC [test_empty_out] @Test=:Test";
$stmt = $pdo->prepare($query);
$out = '';
$stmt->bindParam(':Test', $out, PDO::PARAM_STR | \PDO::PARAM_INPUT_OUTPUT, 200);
$stmt->execute();
$result = $stmt->fetchAll();
echo "OUT value: $out";

[2016-11-22 17:57] vovech opened #186 "php-cgi.exe crash working with stored procedure, php7 and sqlsrv_7"
Hi People, i have similar issue using SQLServer with PDO, executing Store Procedure. Sometimes it happens with simple querys, not sure why.

**PHP Versions:** 7.0.12.0 (i've tried with others)
**SQL Server:** 2008R2
**Extension:** extension=php_sqlsrv_7_ts_x86.dll
**IIS Version:** 8.5.9600.16384
**WIndows Server:** 2012R2

This is my store procedure:

`ALTER PROCEDURE [dbo].testSP
AS
BEGIN
    SEL

[2016-11-22 17:58] vovech commented on #82
As this issue been closed i opened  a new one:

https://github.com/Microsoft/msphpsql/issues/186

[2016-11-22 20:18] vovech commented on #186
Hi ulvii,

**php --ri pdo_sqlsrv**

[2016-11-22 20:23] ulvii commented on #186
Could you also please make sure you are using PHP 7?
From the log that you have posted above:  `Faulting application path: C:\Program Files (x86)\PHP\v5.7\php-cgi.exe`

[2016-11-22 20:37] vovech commented on #186
Yes, i'm sure. This was an error to naming directory:
php -v
PHP 7.0.9 (cli) (built: Jul 20 2016 10:47:41) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies

[2016-11-22 21:15] vovech commented on #186
**php-cgi.exe -v**

[2016-11-22 21:27] vovech commented on #186
About second script, is the same PHP code, the difference is i'm using real Stored Procedure wich has more operations and CPU expensive.  I think that is imposible to share and make it work without entire database.

[2016-11-22 21:35] vovech commented on #186
I also checked that IIS is pointing to right php versión and it's ok:

C:\Program Files (x86)\PHP\v5.7\php-cgi.exe
_(the name if directory is wrong, but is php7,  5.7 does not exists as versión)_

[2016-11-22 23:48] meet-bhagdev commented on #182
@leehicks thanks for the repro. We are able to reproduce this and are looking into fixing it. Will keep you posted on the status in the coming days

[2016-11-22 23:50] meet-bhagdev commented on #180
@parite we have fixed this issue. Downlaod the latest PECL packages to get the fix
[code]

[2016-11-22 23:50] #180 closed

[2016-11-22 23:52] meet-bhagdev commented on #179
@purebin: @Hadis-Fard is correct. Can you follow the installation guide here: https://github.com/Microsoft/msphpsql/tree/PHP-7.0-Linux#install

[2016-11-22 23:52] #179 closed

[2016-11-22 23:53] meet-bhagdev commented on #173
@david-garcia-garcia we are actively working a fix for this. Stay tuned! 👍

[2016-11-22 23:55] meet-bhagdev commented on #169
This should be fixed with our latest release. You can upgrade using PECL: https://github.com/Microsoft/msphpsql/tree/PHP-7.0-Linux#install

If you need the binaries, we will be releasing them soon on GitHub

[2016-11-22 23:55] #169 closed

[2016-11-22 23:56] meet-bhagdev commented on #163
@jan-kratochvil @ethan-tr @ianguerit This should be fixed with our latest release. You can upgrade using PECL: https://github.com/Microsoft/msphpsql/tree/PHP-7.0-Linux#install

If you need the binaries, we will be releasing them soon on GitHub

[2016-11-22 23:56] #163 closed

[2016-11-22 23:57] meet-bhagdev commented on #162
With Characted set UTF-8, the trailing Chinese character bug should be fixed 👍

You can upgrade using PECL: https://github.com/Microsoft/msphpsql/tree/PHP-7.0-Linux#install

If you need the binaries, we will be releasing them soon on GitHub

[2016-11-22 23:57] #162 closed

[2016-11-22 23:59] meet-bhagdev commented on #142
@notsentient This issue should be fixed with the latest ODBC Driver. You can download it from here: https://github.com/Microsoft/msphpsql/tree/PHP-7.0-Linux#step-2-install--pre-requisites

[2016-11-22 23:59] #142 closed

[2016-11-23 00:01] meet-bhagdev commented on #140
@david-garcia-garcia Thanks for pinging the thread. We are able to reproduce this and are looking into fixing this. Stay tuned for updates.

[2016-11-23 00:03] meet-bhagdev commented on #106
@ericpetroelje Closing the issue for now as we are not able to reproduce this in our labs. Feel free to reopen with a repro/script if you are still running into this issue.

[2016-11-23 00:03] #106 closed

[2016-11-23 01:05] ulvii commented on #72
Fixed!

[2016-11-23 01:05] #72 closed

[2016-11-23 02:47] vovech commented on #186
One more thing, there was a little bit error with my path than was pointing to another php7 versión. I fixed it and tested again with the same results.

**php -v**
[code]

[2016-11-23 10:13] vinise opened #187 "php7 debian random number row"
Hi all,

Using sqlsrv 4.0.7 on debian 7 I get very strange result with very simple request while fetching a whole table (9301 rows)

[code]
result :
* 9301 fetched on windows
* 1011 on debian
* 447 id adding "order by name" on debian

count(*) return the correct value of 9301

Have no idea where the problem come from any help is welcome

Thanks in advance

[2016-11-23 12:50] scarja commented on #169
Confirmed that release 4.0.7.0 fixes this issue.

[2016-11-23 20:19] vovech commented on #186
Maby this helps, testing in cmd with different versions:

**./v5.6/php.exe test_full.php**

**./v7.0.12/php.exe test_full.php** Shows:

line causing error: $stmt->fetch(); <-- Works in 5.6

[2016-11-23 20:49] ulvii commented on #186
Hi @vovech

We are unable to reproduce the issue by running the script provided on an environment with the following configurations:

[code]

We would suggest to clean install PHP and check the IIS settings.

[2016-11-23 22:00] vovech commented on #186
I just solved this problem with msphpsql 4.1.4-Windows (Pre-release), now works perfectly.

Thanks.

[2016-11-23 22:01] #186 closed

[2016-11-23 23:43] sean256 opened #188 "Connection pooling does not work within Linux"
We have just installed the latest SQL 13 drivers and the latest sqlsrv and sqlsrv_pdo PHP extensions. Connection pooling does not seem to be working.

- OS: CentOS 7.2
- PHP: PHP 7.0.12
- SQL Driver: ODBC Driver 13 for SQL Server

Summary of test: We created a test script which will connect to the DB. After the script executes the connection is closed, confirmed by the DB.

odbcinst.ini:

[code]

[2016-11-23 23:49] sean256 opened #189 "Performance issue, using odbc is faster than sqlsrv with PDO"
While screwing around with trying to get connection pooling working I discovered that sqlsrv is much slower during execute than using odbc.

- OS: CentOS 7.2
- PHP: PHP 7.0.12
- SQL Driver: ODBC Driver 13 for SQL Server

Test code (in milliseconds)

[code]

Output:

[code]

[2016-11-24 00:17] sean256 commented on #188
Here is the trace for a simpler connection script
`
$pdo = new PDO ("sqlsrv:server=10.12.12.123;database=someDatabase",'someUser','somePassword');`

Please note the SQLDisconnect at the end
[code]

[2016-11-24 04:12] brincas opened #190 "connection failed"
hi im having this error

Connection failed to sqlsrv : SQLSTATE[HYT00]: [unixODBC][Microsoft][ODBC Driver 13 for SQL Server]Login timeout expired

The pass is correct as the server address

in main site same config (but with php5.3 and old sql server extention) everything working
but with php7 i get this error

both sites are connecting to the same place

help

[2016-11-24 17:38] ulvii commented on #190
Hi @brincas ,

Please provide more details, such as OS, driver (sqlsrv or pdo_sqlsrv), driver version, a repro script.

[2016-11-24 19:03] brincas commented on #190
http://es-loule.edu.pt:8003/portal/teste.php

<?php
 ini_set('display_errors', 1);
ini_set('display_startup_errors', 1);
error_reporting(E_ALL);

  $server['mysql']=array("dsn"=>"mysql:host=localhost;database:portal","uname"=>"portal","password"=>"password");
  $server['sqlsrv']=array("dsn"=>'sqlsrv:Server=INOVAR\INOVAR;Database=InovarAlunos;ConnectionPooling=0',"uname"=>"trunca","password"=>"pass

[2016-11-25 00:56] ulvii commented on #190
Please see the list of supported attributes: https://msdn.microsoft.com/en-us/library/ff628164(v=sql.105).aspx

[2016-11-25 01:41] brincas commented on #190
without those 2 page takes sometime to load and then:

Connectando ao sqlsrv (DSN sqlsrv:Server=INOVAR\INOVAR;Database=InovarAlunos;ConnectionPooling=0): Connection failed to sqlsrv : SQLSTATE[HYT00]: [unixODBC][Microsoft][ODBC Driver 13 for SQL Server]Login timeout expired

Connectando ao sqlsrv2 (DSN sqlsrv:Server=SIGE\MICROIO;ConnectionPooling=0): Connection failed to sqlsrv2 : SQLSTATE[HYT00]:

[2016-11-25 19:28] ulvii commented on #190
are you able to connect from command line using sqlcmd?

`sqlcmd -S [serverName] -d [dbName] -U [username] -P [password]`

[2016-11-25 19:52] ulvii commented on #190
To connect to a named instance on a static port, use Server = servername,port_number
Please see: https://technet.microsoft.com/en-us/library/hh568455.aspx

[2016-11-26 16:28] brincas commented on #190
from the sql command i got this:

Sqlcmd: Error: Microsoft ODBC Driver 13 for SQL Server : Login timeout expired.
Sqlcmd: Error: Microsoft ODBC Driver 13 for SQL Server : TCP Provider: Error code 0x2AF9.
Sqlcmd: Error: Microsoft ODBC Driver 13 for SQL Server : A network-related or instance-specific error has occurred while establishing a connection to SQL Server. Server
is not found or not accessi

[2016-11-28 19:20] ulvii commented on #190
Are you specifying the port? The sqlcmd command would look like this:

`sqlcmd -S INOVAR\INOVAR,[port] -d InovarAlunos -U trunca -P password`

[2016-11-28 23:16] brincas commented on #190
yes with or without the port 1433 the same result :(

[2016-11-29 23:42] champloo11 commented on #188
I'm also having this same issue, any word?

[2016-12-01 00:41] meet-bhagdev commented on #190
@brincas What version of SQL Server are you using?

[2016-12-01 00:45] meet-bhagdev commented on #189
@sean256 Very interesting find. Let us see what is going on here in our test labs. My hunch is that there is some conversion logic when using sqlsrv that causes the perf differences when comparing it to vanilla ODBC

[2016-12-01 00:47] meet-bhagdev commented on #188
@sean256 @champloo11 We are able to repro this issue and are looking into what's going on. Seems like its happening in the ODBC Driver under the hood. We will keep you posted! 👍

[2016-12-01 00:51] meet-bhagdev commented on #185
For ODBC driver, you can do the following:
`yum update msodbcsql`

For the PHP connector, you can do the following
[code]

[2016-12-01 00:56] meet-bhagdev commented on #138
@l736k, @bdaub @david-garcia-garcia @pejold  We are fixing this issue right now and should have something to share in the coming weeks.

[2016-12-01 01:01] brincas commented on #190
to the INOVAR\INOVAR its 2008 R2, i just saw in "tcp/ip dynamic ports" nothing is set, only "Tcp Port" 1433

to the SIGE\MICROIO its 2012 but this is not important cause most likely we not gonna use their services anymore.

[2016-12-01 09:02] Tklaversma commented on #185
I got it all working now. You can close this issue.

[2016-12-01 10:54] richerlariviere commented on #189
I have the same slowness with PDO_SQLSRV. [Call graph](http://imgur.com/a/rJlDE). My profiling points to the PDOStatement::fetch method.

OS: Ubuntu 16.04.1 (tested on CentOS 7.2 too)
PHP: PHP 7.0.8

[2016-12-01 16:51] #185 closed

[2016-12-01 20:57] ulvii commented on #189
@sean256 Could you please add the following lines to the script (after calling fetchAll() ) to make sure that, you are able to fetch the data using both drivers?

[code]

[2016-12-02 07:08] jansor commented on #189
@richerlariviere Just wondering what tool did you use to create the call graph? Thanks for the info.

[2016-12-02 07:25] richerlariviere commented on #189
Hi @jansor, I am using [gprof2dot](https://github.com/jrfonseca/gprof2dot) to generate the call graph. I'm generating the data using [xdebug](https://xdebug.org/) profiling feature. Here is how I used the program:

[code]

[2016-12-02 18:44] brincas commented on #190
[ODBC Data Sources]
odbcname     = MyODBC 3.51 Driver DSN

[inovar]
Driver       = FreeTDS
Description  = CommuniCap - Dmc
Trace           = No
Servername      = 192.168.10.5
Database = master

[sige]
Driver = FreeTDS
Description = My Test Server
Trace = No
ServerName = sige
Port = 1433
Database = UNICARDSIGE

DS_Version = 4.2

this is config that exists in /etc/odbc.ini

[2016-12-05 15:29] klapsius opened #191 "PHP Warning: PHP Startup: Unable to load dynamic library 'C:\Program Files\PHP\v7.1\ext\php_pdo_sqlsrv_7_nts_x86.dll' - The specified procedure could not be found. in Unknown on line 0"
After upgrade to PHP 7.1 i have a problem with loading these two files:
[code]
PHP 7.0.7 running on a same server and its fine. My PHP 7.1 is x86 drivers is also x86. IIS Server. I believe if something wrong with IIS then should be wrong with PHP 7.0.7 as well? Could be drivers?

[2016-12-05 23:48] meet-bhagdev commented on #191
Can you confirm if you are using x86 IIS or x64 IIS?

[2016-12-05 23:49] meet-bhagdev commented on #190
@brincas Can you confirm taht you installed the ODBC Driver? I don't see it in the .ini file

[2016-12-05 23:52] meet-bhagdev commented on #189
@richerlariviere @jansor @sean256 We are investigating this right now. From the surface it looks like SQLSRV fetch functions compared to ODBC are very extensive and try to predict and cover more cases. This could be one of the reasons for the slowness. This is not conclusive and we should have more to share in the future.

[2016-12-05 23:53] meet-bhagdev commented on #187
@vinise What version of Debian and the driver are you using?

[2016-12-06 02:02] vanomak commented on #168
msodbcsql-13.0.0.0.tar.gz is not available anymore at the URL provided.
Here is the current wget with correct URL

wget "https://meetsstorenew.blob.core.windows.net/contianerhd/Ubuntu%2013.0%20Tar/msodbcsql-13.0.0.0.tar.gz?st=2016-10-18T17%3A29%3A00Z&se=2022-10-19T17%3A29%3A00Z&sp=rl&sv=2015-04-05&sr=b&sig=cDwPfrouVeIQf0vi%2BnKt%2BzX8Z8caIYvRCmicDL5oknY%3D" -O msodbcsql-13.0.0.0.tar.gz

[2016-12-06 08:26] mlhkr commented on #191
@klapsius did you try php_sqlsrv_71_nts* ones?
https://github.com/Microsoft/msphpsql/releases/download/4.1.4-Windows/7.1.zip

[2016-12-06 08:36] mlhkr commented on #189
@all,
Any chance also we've this in windows versions?
Seems like we've some performance issues with select queries but to the day that @sean256 wrote this thread, we didn't suspect anything now we've.
We've perfectly working PHP 5.6 versions in production servers.
We take a copy of the server and change the PHP to 7 with the same config and change the sql driver for 7 and also odbc driver. Our dat

[2016-12-06 11:38] klapsius commented on #191
@meet-bhagdev  Windows Server 2012 x64

[2016-12-06 11:40] klapsius commented on #191
@mlhkr It works!!!! Thank you.
But now i have an error:
[code]

[2016-12-06 17:20] yitam commented on #191
As indicated in http://php.net/manual/en/migration71.php PHP 7.1 and PHP 7.0 are not compatible. Thus new 7.1 drivers are required. Please let us know if this answers your question. Thank you.

[2016-12-07 09:03] klapsius commented on #191
Yes. Thank you

[2016-12-07 09:04] #191 closed

[2016-12-07 10:00] thReality opened #192 "when using cursor ["Scrollable" => "buffered"] in query the result won't follow "CharacterSet" => "UTF-8" in connection string"
I was working with sql server 2012 until now but when I'm trying to use the same code to query sql server 2014 it appear that the column which are stored in varchar and char column won't return with UTF-8 charset

If I remove ["Scrollable" => "buffered"] it seem to work correctly.

[2016-12-07 19:04] yitam commented on #192
We need more info, such as a simple repro script and whether you're using Windows/Linux drivers. Thank you.

[2016-12-07 21:43] jagDanJu opened #193 "latest version dont work on php 7.1.0"
Hey Guys,

the latest version dont work with the latest php release 7.1.0
Whats wrong here?

Thanks a lot
Daniel

[2016-12-07 21:44] meet-bhagdev commented on #193
@jagDanJu What version of the release are you using? Are you on Windows or Linux? We will look into this ASAP.

[2016-12-07 21:47] jagDanJu commented on #193
Oh sorry..
Version 4.0 - https://www.microsoft.com/en-us/download/details.aspx?id=20098

pdo_mssql
NTS on x64

Thanks Guy

[2016-12-07 21:47] jagDanJu commented on #193
Windows.

[2016-12-07 21:48] meet-bhagdev commented on #193
Can you try the 7.1 binaries from here: https://github.com/Microsoft/msphpsql/releases/tag/4.1.4-Windows

[2016-12-07 22:01] jagDanJu commented on #193
This binaries works! Next time i should at the releases...
I thought that the download center binaries are up to date.

Sorry Guy.
Many Thanks!

[2016-12-07 22:02] meet-bhagdev commented on #193
We release every 3-6 weeks on GitHub: https://github.com/Microsoft/msphpsql/releases/. This will have the latest changes and bug fixes. We will be uploading Download Center with the 7.1 binaries in the coming days.

[2016-12-07 22:02] #193 closed

[2016-12-08 00:59] v-mabarw commented on #189
@mlhkr If I understand your edit correctly, you found that your issue was with the environment and not the driver?

[2016-12-08 09:41] thReality commented on #192
[code]
I'm using windows drivers v4.1
If I run these code on local pc which is windows 10 both statement give correct result
but if I run it on remote dev server which is windows server 2012 r2 it return ?????
not sure if this is related with region and language setting of the os

[2016-12-08 16:44] yitam commented on #192
Thanks for the reply. Based on your input, I assume "th_name" is a unicode column (like nvarchar for example).

We will do some investigation. Meanwhile, because you said it worked perfectly in Windows 10, do you mind to check if it's some settings in your Windows Server 2012 r2?

Thank you.

[2016-12-08 17:52] riky93 opened #195 "Drupal driver for SQL Server and SQL Azure Active?"
I downloaded the SQL Server and SQL Azure driver 8.x-1.0-rc4 for Drupal 8. I Installed the sqlsrv and the driver within the Drupal folder. The issue with the remaining file is that when I click install on Drupal (SQL checked as well), a white screen with an error displays. The error reads the following

**# Fatal error: Invalid handle returned. in C:\inetpub\wwwroot\drupal-8.2.2\drivers\lib\Drupal

[2016-12-08 17:54] meet-bhagdev commented on #195
@riky93 I will look into this. @david-garcia-garcia might have some input as well.

[2016-12-08 18:42] mlhkr opened #196 "money fields displayed wrong"
Hi All,
We're testing the 7.1 driver in our test server with full production properties.
------------------------------------
DB: SQL Server 2016 x64
OS: Windows Server 2012 R2 x64
ODBC: 13.1
PHP: 7.1 x64
-------------------------------------
The issue seems like a strange php issue but can be triggered by sql server pdo driver.
The problem is about displaying money fields.
On the PHP 5.6 version

[2016-12-08 21:02] mlhkr commented on #189
@v-mabarw exactly. Driver's query speed is amazing.

[2016-12-08 21:18] meet-bhagdev commented on #43
Hi team, we are getting ready to do a product release for the PHP Linux Driver for SQL Server. As we do that, we would like to know how do you install/download the driver on Linux: PECL vs Binaries on GitHub.
<br>Please take this survey: https://www.surveymonkey.com/r/XCCKPQG and let us know what you think.

[2016-12-08 21:33] yitam commented on #196
@mlhkr we are unable to reproduce this issue based on your input. Would you please provide a repro script?

[2016-12-08 22:02] mlhkr commented on #196
Hi @yitam,
Now I try to reproduce and see that its connected to json_encode.
If you try to echo json_encode($data); you'll see the result like:

`
[{"MoneyField":1.5800000000000001},{"MoneyField":1.5800000000000001},{"MoneyField":1.6000000000000001},{"MoneyField":2.8900000000000001},{"MoneyField":2.8999999999999999},{"MoneyField":2.8999999999999999},{"MoneyField":2.8999999999999999},{"MoneyField":

[2016-12-08 22:07] meet-bhagdev commented on #195
@riky93 What version of PHP and ODBC drivers are you using? I am assuming this is on Windows?

[2016-12-08 22:14] meet-bhagdev commented on #189
@mlhkr Good to know! Is there any way we can help with any other performance issues you are facing?
@sean256 @richerlariviere We are still looking into your observation

[2016-12-08 22:14] riky93 commented on #195
I am using **PHP 7 x64** and **Microsoft SQL**. THe PDO Driver I am using is **php_pdo_sqlsrv_7_nts_x64.dll**

[2016-12-08 22:16] meet-bhagdev commented on #187
@vinise Any updates from your end?

[2016-12-08 22:16] meet-bhagdev commented on #195
@riky93 Have you installed the ODBC Driver as well? If yes, what version of the ODBC Driver are you using?

[2016-12-08 22:21] riky93 commented on #195
I just found out what ODBC is. I have not installed it. Thank you for letting me know about this. I will install this. I really hope this can solve it. Thank you once again!

[2016-12-08 22:28] yitam commented on #196
Thanks @mlhkr for your prompt response, and indeed you're right. Once I use json_encode($data) I see the results as described.

[2016-12-08 22:30] richerlariviere commented on #189
@meet-bhagdev I'm not sure what kind of observation are you looking for?

[2016-12-08 22:32] riky93 commented on #195
I just installed Microsoft **ODBC Driver version amd64**. Unfortunately, the site has the same error. Sometimes when I dont enter any information to the installation set up, the error would say "Call to undefined function" within the Connection.php file.

[2016-12-08 22:33] sean256 commented on #188
@meet-bhagdev thank you! We really thought we were doing something wrong on our end. Getting connection pooling working would be huge for performance.

[2016-12-08 23:16] yitam commented on #196
@mlhkr I will close this issue. Feel free to open a new one should you have other issues. Thanks.

[2016-12-08 23:16] #196 closed

[2016-12-09 07:10] thReality commented on #192
th_name is varchar column.
When I use "CharacterSet" => "UTF-8" the driver seem to automatically convert data between sql collation(Thai_CI_AS) and utf-8.
I do some additional test and found that if I set os language for non-unicode to Thai it will give correct result even if I use ["Scrollable" => "buffered"].
but if the language is set to others which doesn't Thai I need to remove ["Scrollable"

[2016-12-09 09:10] craigcarnell commented on #43
No binaries! Open source or nothing thanks.

[2016-12-09 09:13] vinise commented on #187
Hello @meet-bhagdev

Linux version 3.2.0-4-amd64 (debian-kernel@lists.debian.org) (gcc version 4.6.3 (Debian 4.6.3-14) ) #1 SMP Debian 3.2.73-2+deb7u2

Microsoft ODBC Driver 13 for SQL Server

[2016-12-09 18:17] yitam commented on #192
@thReality thanks for your detailed response. This is a known issue with varchar/char columns when the encoding is different from the code page. We are actively working on it. Please stay tuned.

[2016-12-09 19:19] KyleWiering commented on #60
I think I have figured out how to make them all nvarchar(max) instead of the specific size...

     $statement->bindParam($param, $value, \PDO::PARAM_STR, 30 );

What I cannot figure out is how to get a varchar instead of a nvarchar...

[2016-12-10 00:40] champloo11 commented on #188
Is there any ETA on a potential fix for this, or info on mitigation?

[2016-12-10 00:51] meet-bhagdev commented on #188
@champloo11 We don't have a fix for this yet. A potential mitigation: In your odbcinst.ini can you try mentioning Pooling=Yes (Example below). Run your script again and let us know what happens.

[code]

[2016-12-10 12:16] nohnaimer opened #198 "How to SQLSRV Driver on Mac OS X"
Hello,
Are there manual how to run sqlsrv driver on Mac OS X with brew installed php 7?
Any help?
Thank you!

[2016-12-10 13:28] mlhkr opened #199 "About High Load Servers"
Hi,
We're testing new drivers in a small group of customers in a production environment.
The system working idea is simple:
Web Server < - > API Server < - > DB Server
There're thousands of requests are coming to API server every second, we're not directing all of them to SQL Server and using Redis as in-memory cache server in API server.
Redis has an option for re-using socket that used (pconnect

[2016-12-10 17:35] dbasri opened #200 "php_pdo_sqlsrv_71_nts_x86.dll specified module not found"
Environment is a
Surface Book with Windows 10 including the anniversary update
PHP 7.1
SQL Server 2016 Developer
MS ODBC 13.1

PHP error log references the correct 71 DLL in the ext folder, but is throwing the same error as before the 71 drivers were loaded.

PHP Startup: Unable to load dynamic library 'C:\Util\PHP\7.1\ext\php_pdo_sqlsrv_71_nts_x86.dll' - The specified module could not be found in

[2016-12-11 16:57] david-garcia-garcia commented on #195
@meet-bhagdev "Invalid handle returned" message when no ODBC is available seems like a little bit confusing. Maybe this could be improved...

BTW, is there any way to retrieve the current ODBC version (and settings if any) from within the PDO driver?

[2016-12-12 02:16] meet-bhagdev commented on #198
@nohnaimer Check out sqlshim: https://github.com/radsectors/sqlshim.

[2016-12-12 02:20] meet-bhagdev commented on #199
@mlhkr What version of SQL Server are you using? I am not aware of any such limitations in the driver but we can look into it. Is there anyway you can share some sample schema and a repro script? Also check out this article while we investigate: https://support.microsoft.com/en-us/kb/942861

[2016-12-12 02:22] meet-bhagdev commented on #200
Is the PHP 7.1 64 bit or 32 bit? 'Unable to load dynamic library' is usually thrown when the file path is not correct. Can you verify that the dll is in the correct folder?

[2016-12-12 12:39] dbasri commented on #200
PHP 7.1 is the 32-bit x86 version extracted from php-7.1.0-nts-Win32-VC14-x86.zip.

The correct full path and file name are being referenced in the the PHP error log as shown in the original post.

Thanks.

[2016-12-12 17:41] sean256 commented on #188
@meet-bhagdev It was my script and I have tried that with no luck. I had tried that variant before posting when I was just thrashing for a solution.

I'm not familiar with the inner workings of ODBC at all but the ODBC docs do state Pooling should be under [ODBC]. I still tried it in both places with no luck.

It also states CPTimeout should live under the DSN. Is that an ODBC specific property or

[2016-12-12 18:57] meet-bhagdev commented on #195
@david-garcia-garcia Agreed! To get the current version of ODBC using use getAttribute function with desired attribute https://msdn.microsoft.com/en-us/library/ff628181(v=sql.105).aspx
@riky93 We are still looking into this.

[2016-12-12 19:34] Hadis-Fard commented on #200
Can you confirm that php.ini is correctly configured? “extension_dir” should be set to where the dll is dropped, and SQLSRV extension name should be added to the list of extensions by setting “extension=php_pdo_sqlsrv_71_nts_x86.dll”.

[2016-12-12 19:43] Hadis-Fard commented on #195
@riky93 Can you follow the [install instructions](https://github.com/Microsoft/msphpsql/blob/master/README.md#install)? also make sure the php.ini is set to load the SQLSRV extension by setting `extension_dir` to the dll path, and set the "extension" to the name of SQLSRV dll that you are using for example `extension=php_pdo_sqlsrv_7_nts.dll`. For PDO_SQLSRV driver PDO extension must be loaded too

[2016-12-12 19:48] dbasri commented on #200
It is. That was the first thing I checked.

From the PHP.INI:
extension_dir = "C:\Util\PHP\7.1\ext"

; Misc Extentions
extension=php_curl.dll
extension=php_mbstring.dll
extension=php_openssl.dll
extension=php_soap.dll
extension=php_fileinfo.dll
extension=php_com_dotnet.dll
extension=php_pdo_sqlsrv_71_nts_x86.dll

From the error_log:
[10-Dec-2016 17:39:52 UTC] PHP Warning:  PHP Startup: Unable to l

[2016-12-12 20:02] mlhkr commented on #199
@meet-bhagdev,
Thanks for the link but actually I checked it before when we have this problem for the first time. But that does not help us. And I don't know if we can prepare a repro script about this because I can't say we're getting this when we do something. All I can say is all the different queries dropping at the same time when this problem starts:
`[12-Dec-2016 20:59:32 Etc/GMT-3] PHP Fata

[2016-12-12 20:05] mlhkr commented on #199
I think I solve it... We've some deadlock problem with our DB but the solution is a little bit long and as a temporary solution we wrote a code which runs every 10 seconds to detect and kill the harmless select deadlocks. Now I check the deadlock times and communication link failure times... They all match.

Sorry for wrong issue raise and thanks again...

[2016-12-12 20:41] riky93 commented on #195
@Hadis-Fard. Thank you, however I have the PDO installed, and it is showned within the php description file. The php.ini is coded with

 **extension=php_sqlsrv_pdo.dll
extension=php_pdo_mysql.dll**

[2016-12-12 20:42] riky93 commented on #195
Thank you guys helping! I am a step closer. I decided to re do everything (I have a backup file as well from previous). Good news is that I am not receiving a white screen anymore. The issue is more specific. When clicking "save and continue", towards installation, I receive an error saying,

**Database mydrupal not found. The server reports the following message when attempting to create the data

[2016-12-12 20:47] Hadis-Fard commented on #200
I am not able to reproduce the issue, how are you getting the binaries? Can you try the 7.1 binaries from [4.1.4 release](https://github.com/Microsoft/msphpsql/releases/tag/4.1.4-Windows)? also the name of the binary doesn't include `_x86` at the end.

[2016-12-12 21:05] meet-bhagdev commented on #200
+1
@dbasri Can you change the `extension=php_pdo_sqlsrv_71_nts_x86.dll` to `extension=php_pdo_sqlsrv_71_nts.dll`

[2016-12-12 21:36] dbasri commented on #200
OK, egg on my face. The 7.0 drivers had _x86 in the DLL file name, but the 7.1 driver does not. That worked. Thank you very much.

[2016-12-12 21:36] #200 closed

[2016-12-13 02:16] KyleWiering commented on #96
@seepu what odbc issue are you running into? I've successfully run php5.4 and php7 with their respective PDO sql drivers on server 2012 r2.  The only problem we had updating to php7 was a security policy that prevented certain installation locations from being used.  Php 5.4-5.6 have pdo drivers still available for download as well, even though php5.4 is no longer considered secure.

[2016-12-13 06:16] seepu commented on #96
in recent months I changed the program code so that it works on php7. Now I test everything on a Windows 2016 Server

From: Kyle
Sent: Tuesday, December 13, 2016 3:17 AM
To: Microsoft/msphpsql
Cc: seepu ; Mention
Subject: Re: [Microsoft/msphpsql] Requires the Microsoft ODBC Driver 11 - not supported by Win Srv 2012 R2 (#96)

@seepu what odbc issue are you running into? I've successfully run php5.4

[2016-12-13 22:01] riky93 commented on #195
**UPDATE:**

I added the name of the server/Host name for the installation of Drupal, this time the error changes saying

**Failed to connect to your database server. The server reports the following message: .

    Is the database server running?
    Does the database exist, and have you entered the correct database name?
    Have you entered the correct username and password?
    Have you entere

[2016-12-13 22:46] meet-bhagdev commented on #195
@riky93 Seems like the SQL Server service is not running. Can you try connecting using SQL Server Management Studio and/or a sample PHP script?

[2016-12-14 14:18] riky93 commented on #195
I created a php file within the wwwroot folder. In the file, I entered the code

**<h1>hi world</h1>
<?php

$serverName = "(local)\MSSQLNEW";

$conn = new PDO("sqlsrv:server=$serverName;Database=thedrupal","sa","academy");

if($conn){
	echo "Connection established.</br></br>";
	echo $conn;
} else{
	echo "Connection could not be established. </br>";
	die(print_r(sqlsrv_errors(), true));
}

?>**

Wh

[2016-12-14 15:20] riky93 commented on #195
The way I did this process is through a read along tutorial based on Drupal on Windows. Here is the link to it

http://www.drupalonwindows.com/en/blog/installing-drupal-8-windows

I followed everything exactly (documenting my work as I go ensuring I do not miss anything) except installing PDO driver through composer. I did that manually. I just cant proceed to the final installation. uhhhhh.

[2016-12-14 15:27] david-garcia-garcia commented on #195
@riky93 Setup a development environment with a debugger and dig your way through the code to find out what is going on.

There are many paid courses online on how to do that, also for free:

https://code.tutsplus.com/tutorials/xdebug-professional-php-debugging--net-34396
https://jtreminio.com/2012/07/xdebug-and-you-why-you-should-be-using-a-real-debugger/
https://www.sitepoint.com/debugging-and-pr

[2016-12-14 15:57] tekniker opened #204 "PHP 5.6 + ODBC 13?"
Prior I had no problems with PHP 5.6 + ODBC 11 + MS PHP sql driver ver 3.2 against a SQL server Express 2014. Now Im trying to get things to work with SQL server 2016 which requires ODBC 13.
I would like to keep PHP 5.6 if possible. But I got this error:
PDOException: SQLSTATE[IMSSP]: This extension requires the Microsoft ODBC Driver 11 for SQL Server to communicate with SQL Server.

The download

[2016-12-14 17:56] Hadis-Fard commented on #204
@tekniker SQLSRV 3.1 and 3.2 drivers don't support ODBC 13, is there any reason you don't want to upgrade to PHP 7 drivers?

[2016-12-14 22:52] riky93 commented on #195
Thanks David! I have it installed Visual studio and xdebug, as well as the p for visual studios. Currently I am combating an error on Micrsoft Visual Studio saying

Listen on port 9000 failed. Ensure no other application is using this port number.

Currently I am researching about this error. Kinda scares me because this error can be anything. It occures when I debud (F5) the code.

[2016-12-15 00:44] meet-bhagdev commented on #195
@riky93 Listed on port 9000 seems like a networking error. Can you shed some more light on how you are using port 9000? To verify that the driver is working, can you execute a simple PHP script on your machine?

[2016-12-15 00:45] meet-bhagdev commented on #190
@brincas, any updates from your end?

[2016-12-15 02:32] Hadis-Fard commented on #140
@david-garcia-garcia We are looking into this issue and #92, I have a couple of questions about emulate prepare, and would appreciate if you can help me to understand how emulate prepare works in other PDO drivers.
- Are you able to set the encoding for parameters with emulated prepare in other PDO Drivers? As PDO replaces the placeholders with values itself.
- do  other PDO drivers with emulated

[2016-12-15 08:50] david-garcia-garcia commented on #140
I'll do my best, but the truth is that the PDO for MS SQL is the only one I've been involved with - ever. To my understanding, switching on EMULATE_PREPARES should only impact how the underlying sql statements are built and sent to the database engine, but not how the developer interacts with the PDO driver itself.

Looks like MySQL will only let you do this at a driver level, and not for every si

[2016-12-15 09:10] tekniker commented on #204
@Hadis-Fard We have some issues with third-party modules for Drupal not being PHP7 compatible without further troubleshooting.

[2016-12-15 14:21] riky93 commented on #195
@meet-bhagdev Thank you, I have a testing php document within the wwwroot folder (drupal folder is store there too). In the testing php document I entered the following code:

`
<h1>hi world</h1>
<?php

$serverName = "(local)\MSSQLNEW";

$conn = new PDO("sqlsrv:server=$serverName;Database=thedrupal","sa","academy");

if($conn){
	echo "Connection established.</br></br>";
	echo $conn;
} else{
	echo

[2016-12-15 15:37] riky93 commented on #195
So I ran the program as administrator and did not receive any issues. When clicking debug, it shows a list within the exception setting, and then a browser opens saying,

`The requested resource /?XDEBUG_SESSION_START=77FEB13B was not found on this server.`

I am still researching to find out why this is occurring. Is the browser suppose to show something when debugging?

[2016-12-15 16:08] yitam commented on #204
Regrettably the download page gives wrong information @tekniker. As @Hadis-Fard said, Versions 3.2 and 3.1 of the drivers don't work with Microsoft ODBC 13.

[2016-12-15 22:23] Hadis-Fard commented on #182
@leehicks The issue is fixed in the source code with empty bound parameters, after `$result = $stmt->fetchAll();` you should also call `$stmt->closeCursor();` so the result would be processed. PECL package and dlls would be available in few days.

[2016-12-16 16:33] riky93 commented on #195
Good news everyone! I was able to install Drupal 8. All I had to do was change the port number. I went to Server Manager/AllServers and used the IPv4 Address 10.10.30.50 as the port number for config set up. It loaded to a page saying "Drupal already installed"

@meet-bhagdev  @david-garcia-garcia  Bad news is that it skipped the Password set up for Drupal admin. Since it skipped admin configurati

[2016-12-17 00:00] Hadis-Fard commented on #140
Thanks a lot@david-garcia-garcia, your answer shed light to the use of emulate prepare feature we'll continue investigation on this issue and will get back to you.

[2016-12-17 13:17] pierre1451 opened #208 "DLL dependencies"
Hello, the TS-64 bit drivers install and work fine with PHP 7 on a number of Windows instances. I have a clean Windows 10 install with Visual Studio v2017-RC, Apache 2.4.23, PHP 7.1, ODBC13,. With this configuration php_sqlsrv_7_ts_x64 and php_pdo_sqlsrv_7_ts_x64 do not load. Any known dependency issue that I can fix or workaround?

[2016-12-19 08:37] meet-bhagdev commented on #208
@pierre1451 What is the error message?

[2016-12-19 10:33] pierre1451 commented on #208
PHP Startup: Unable to load dynamic library 'C:\ATDI\SpectrumE\PHP\ext\php_sqlsrv_7_ts_x64.dll' - The specified procedure could not be found. Path is good, did the usual: back/forward slash, absolute and relative path. When I point to the 32 bit dll instead (for sanity check), I get the '%1 is not a valid Win32 application' message. PHP paths are in the environment variables. I guess that covers m

[2016-12-19 12:35] pierre1451 commented on #208
I think I found something: replaced PHP 7.1.0 with PHP 7.0.10. (x64-TS). Now works! I used the github binaries and the ones from the MS download page, all good. It's kind of a big deal, because 7.1 fixes some bugs that are really annoying. Is it a known issue?

[2016-12-19 19:04] Hadis-Fard commented on #208
@pierre1451 Are you using 7.1 binaries in [release 4.1.4](https://github.com/Microsoft/msphpsql/releases/tag/4.1.4-Windows)?

[2016-12-19 22:01] pierre1451 commented on #208
Yep, that was it. Thanks for the help!

[2016-12-19 22:01] #208 closed

[2016-12-21 23:25] meet-bhagdev commented on #204
@tekniker Sorry about that. We have corrected the download center page. Version 3.1 and 3.2 do not support ODBC 13 and PHP 7. Happy to help you with issues around Drupal and PHP 7 configuration. Other than that, I would like to understand why do you need to to use the ODBC 13 driver with Version 3.1 and 3.2? ODBC 11 should work with SQL Server 2016.

[2016-12-21 23:28] meet-bhagdev commented on #195
@riky93 I am not sure how Drupal and the admin interface works. We are going to close this issue as it does not seem to be related to the PHP Driver for SQL Server. Feel free to re-open it if you think otherwise.

@david-garcia-garcia would you know why it is skipping the password setup for Drupal admin. Anything we can do in the driver to avoid this?

[2016-12-21 23:28] #195 closed

[2016-12-21 23:29] meet-bhagdev commented on #192
@thReality this issue is now fixed with our latest release. You can get the release on PECL.
https://github.com/Microsoft/msphpsql/tree/PHP-7.0-Linux#install

[2016-12-21 23:29] #192 closed

[2016-12-21 23:30] meet-bhagdev commented on #190
@brincas closing due to inactivity. Feel free to open if you still have the issue.

[2016-12-21 23:34] meet-bhagdev commented on #188
@sean256 We are currently working on this and should have an update for you in the next 1-2 months.

[2016-12-21 23:35] meet-bhagdev commented on #182
@leehicks this issue is fixed. You can get the latest release via our PECL packages. https://github.com/Microsoft/msphpsql/tree/PHP-7.0-Linux#install

[2016-12-21 23:35] #182 closed

[2016-12-21 23:36] meet-bhagdev commented on #181
@jsamuel We no longer need the the installodbc.sh scripts. The ODBC Driver is available for install via apt-get and yum.
Check out the instructions here: https://github.com/Microsoft/msphpsql/tree/PHP-7.0-Linux#step-2-install--pre-requisites
And let us know if you have questions

[2016-12-21 23:36] #181 closed

[2016-12-21 23:37] meet-bhagdev commented on #178
Closing this issue due to inactivity. Feel free to re-open if you still have this issue.

[2016-12-21 23:37] #178 closed

[2016-12-21 23:39] meet-bhagdev commented on #177
Closing issue as we don't plan to support this for now. Happy to help you achieve your goals around async and generics using the PHP binaries.

[2016-12-21 23:39] #177 closed

[2016-12-23 09:33] MatasElectronics opened #211 "Can't connect to server"
I'm trying to build a Linux machine on which I can connect to our SQL server.
I've done it before using Ubuntu 14.04, but now we need an updated server with Ubuntu 16.04, and I just can't get it to work.

I've followed the install guide: https://github.com/Microsoft/msphpsql/tree/PHP-7.0-Linux
And everything seems to be successful, but connecting isn't possible.

I've tried a variety of credential

[2016-12-23 16:02] tekniker commented on #204
@meet-bhagdev Im really surprised. The ODBC 11 driver download page doesn't mention compatibilty with SQL Server 2016!
https://www.microsoft.com/en-us/download/details.aspx?id=36434

[2016-12-23 19:45] Hadis-Fard commented on #211
@MatasElectronics How did you install ODBC driver on Ubuntu 14? the install instruction is on  Ubuntu 15 and 16.  I am guessing nodejs application is using Native Client Driver, can you confirm you are using the `Microsoft ODBC Driver 13 for SQL Server` Driver in nodejs application?

[2016-12-23 20:49] yitam commented on #211
@MatasElectronics just curious, have you tried the followings:
1. ping the server, or
2. using IP address instead, or
3. sqlcmd in a Windows command prompt

How did you prove that it used to work with Ubuntu 14.04? Does that same script still work in your Ubuntu 16?

Also, this page might be helpful:
https://blogs.msdn.microsoft.com/sql_protocols/2008/04/30/steps-to-troubleshoot-sql-connectivity-i

[2016-12-23 23:22] szepeviktor opened #212 "./configure for Linux"
This can be found in the Dockerfile

Previously was `./configure CXXFLAGS=-std=c++11`

Which is the suggested one?

[2016-12-23 23:37] yitam commented on #212
Hi @szepeviktor , either way is fine. The gcov option is to enable test coverage as explained in
https://gcc.gnu.org/onlinedocs/gcc/Gcov.html

Hope this helps.

[2016-12-24 00:03] szepeviktor commented on #212
Thank you.

[2016-12-24 00:03] #212 closed

[2016-12-25 09:24] ioweb-gr opened #213 "unable to install version 4.0.7+ on ubuntu 16.04 using pecl"
Hi,
I'm trying to install sqlsrv and pdo_sqlsrv using pecl on php 7.0.14 however it fails with an error.
I was also following the tutorial at https://www.microsoft.com/en-us/sql-server/developer-get-started/php-ubuntu
Is anyone else experiencing the same issue?

The latest installable version for me is 4.0.6 and here's the part from pecl output

[code]

[2016-12-27 06:53] MatasElectronics commented on #211
@Hadis-Fard It was a while back that it was installed, but I believe it where simply instructions from a readme or something on this very Gitlab repo.
I'm not that familiar with node, so how would I confirm which driver nodejs is using?

[2016-12-27 07:02] MatasElectronics commented on #211
@yitam

1: `ping matas-ie45` no problems
2: Same kind of error when I try to use the IP address
3: Connecting using sqlcmd on my windows machine gives me no problem

Well, the server is still running the app, so guess that proves that it works. Also we use a Ubuntu 14.04 docker image for our CI testing, which is also still working.

[2016-12-29 15:22] soukicz commented on #213
Same error on oficial PHP docker image (ubuntu)

[2017-01-01 17:39] schrodinger-kater opened #214 "The specified procedure could not be found"
Hi,
can me somebody explain why, use the standard bundle LoadLibrary/GetProcAddress on ready compiled binary files, returns ERROR_PROC_NOT_FOND?
The module (php_sqlsrv_7_nts.dll, php_pdo_sqlsrv_7_nts.dll) is loaded successfully, in export table I find procedure with name get_module, but an attempt to obtain its address returns error 0x7F (The specified procedure could not be found).
This issue occ

[2017-01-01 23:59] regevbr commented on #43
+1

[2017-01-03 17:26] yitam commented on #211
Hi @MatasElectronics

To clarify, you can successfully connect to your Ubuntu 16.04 server using sqlcmd in Windows, but you have troubles connecting to the server using the same credentials via sqlcmd from Linux. Correct?

Just to make sure, what ODBC driver do you have in Linux? For your information, please check https://blogs.technet.microsoft.com/dataplatforminsider/2016/10/25/odbc-driver-13-0-

[2017-01-03 17:49] yitam commented on #214
@schrodinger-kater Is it possible that you're using the PHP7.0.x binaries for PHP 7.1.0? For your information they are incompatible, and please download PHP7.1 binaries (https://github.com/Microsoft/msphpsql/releases)

[2017-01-03 19:03] leehicks commented on #182
Just getting around to testing this after the holiday break. I no longer get the garbage output, but I am seeing that "$out" is set to null after the closeCursor() call, instead of "" (which the stored proc is actually returning in this case). All other tested values seem to return fine. I think "" should be the proper response.

[2017-01-03 20:14] vandammeb commented on #213
Same issue on docker image php:7.0-fpm with updated libc6 package.
The creation of the hidden .libs folder with `mkdir shared/.libs` seems like the culprit. (the -p flag is missing)

[2017-01-03 20:45] Hadis-Fard commented on #213
@ioweb-gr which Linux distribution are you using? Can you try out the install instruction in [README](https://github.com/Microsoft/msphpsql/tree/PHP-7.0-Linux#install)? it is the most recent file.

[2017-01-03 20:52] schrodinger-kater commented on #214
I am grateful for another source binaries (though already then I see the problem - too many officially resources with different versions of the modules), but this is not exactly (they also do not work). I will try to explain in more detail: at Windows Server 2012 R2 with IIS 8.5 (x64, respectively), through FastCGI I run php 7.1.0 nts x64. I try to use extension (x64 files version 4.1.4.9021) for

[2017-01-03 21:06] ioweb-gr commented on #213
OK I have some further info regarding this issue. I installed a fresh virtual machine using Ubuntu 16.04 as in my original machine and tested on that system.

The `pecl install sqlsrv` seems to work with the provided php version on Ubuntu 16.04 from the repositories.

However, I then also tried to compile a new php version from source and and try to install sqlsrv on that one using pecl. It always

[2017-01-04 21:20] riky93 opened #216 "SQL And Drupal Skip admin set up (saying that Drupal already installed)"
I filled out the Database name, Database username, password, and port number within the Drupal set up. I selected continue, then the page loads for a long time. Next, I was leaded to another page saying, **Drupal already installed**. Next, I clicked on **View your existing site**, displaying the log in for the admin. Drupal literally skipped the admin set up, resulting in not allowing me to log in

[2017-01-05 00:41] meet-bhagdev commented on #211
@MatasElectronics Also can you also share what version of SQL Server are you using?

[2017-01-05 00:44] meet-bhagdev commented on #216
@riky93 This does not see to be a PHP SQL Server Driver issue. Seems like a Drupal Setup issue. May be @david-garcia-garcia or someone from the https://github.com/drupal/drupal can help?

[2017-01-05 12:59] schrodinger-kater commented on #214
I'm sorry, but it seems the latest version SQLSRV x64 (4.1.4.9021) is working. Errors were not, I checked several times, two days ago, my method return the same error. But now everything is working. Thank you, the topic is closed.

[2017-01-05 16:03] yitam commented on #214
Sounds great @schrodinger-kater! I planned to get back to you today, and I was going to tell you there's a quick way to test if an extension is loaded by writing a simple php script like this:
[code]
Please read http://php.net/manual/en/function.extension-loaded.php for details. I'll close this issue then. Thank you and have a nice day!

[2017-01-05 16:03] #214 closed

[2017-01-06 14:29] riky93 commented on #216
Thanks @meet-bhagdev, however Drupal said the following when looking at the error

**Error
The website encountered an unexpected error. Please try again later.
Drupal\Core\Config\UnmetDependenciesException: Configuration objects (automated_cron.settings,**

This error seems to be the one preventing me to the admin set up page. David Garcia (2016) discussed that anything breaking the batch API will

[2017-01-06 16:45] Jamesking56 commented on #190
I'm having this issue too on CentOS 7.

I get the error `SQLSTATE[HYT00]: [unixODBC][Microsoft][ODBC Driver 13 for SQL Server]Login timeout expired`

PDO details are correct and I can run the example script given and that connects and works fine via the CLI.

The example fails with the same error when run via Apache.

There are no config differences between PHP CLI and Apache + PHP. Any ideas why

[2017-01-06 21:09] yitam commented on #4
No longer able to reproduce this. Closing the issue.

[2017-01-06 21:09] #4 closed

[2017-01-06 21:13] yitam commented on #16
Can no longer reproduce the crash. Closing this issue.

[2017-01-06 21:13] #16 closed

[2017-01-06 21:15] yitam commented on #17
Already incorporated. Closing the issue

[2017-01-06 21:15] #17 closed

[2017-01-06 21:19] yitam commented on #22
Already fixed. Closing the issue.

[2017-01-06 21:19] #22 closed

[2017-01-06 21:20] yitam commented on #27
It's been fixed. Closing this issue.

[2017-01-06 21:20] #27 closed

[2017-01-06 21:26] yitam commented on #29
Based on the comment in the [given link](https://cloud.githubusercontent.com/assets/21340756/21733442/4a8597be-d413-11e6-8b8b-0e441a8a326b.png) it is not a bug, see below:

"It isn't a bug.

Your query has 2 results, an INSERT and a SELECT statement.
Your INSERT statement has a trigger - without NOCOUNT it generates a separate result, as written in the manual.
Therefore without NOCOUNT in your tri

[2017-01-06 21:26] #29 closed

[2017-01-06 21:28] yitam commented on #28
Already fixed in [4.0.8 release](https://github.com/Microsoft/msphpsql/tree/4.0.8-Linux). Closing this issue.

[2017-01-06 21:28] #28 closed

[2017-01-06 21:31] yitam commented on #30
Already fixed. Closing this issue.

[2017-01-06 21:31] #30 closed

[2017-01-06 21:34] yitam commented on #31
This is by design. See related issue #167

[2017-01-06 21:34] #31 closed

[2017-01-06 21:44] yitam commented on #35
I was able to reproduce the problem using the following script:

    $conn = new PDO( "sqlsrv:server=$server ; Database = $dbName", $uid, $pwd);
    $stmt = $conn->prepare("SELECT LargePhoto FROM [Production].[ProductPhoto] WHERE ProductPhotoID = ?");
    $param = 70;
    $stmt->execute(array($param));
    $stmt->bindColumn(1, $image, PDO::PARAM_LOB, 0, PDO::SQLSRV_ENCODING_BINARY);
    //$stmt->b

[2017-01-06 22:13] riky93 commented on #216
**UPDATE!!**

I managed to install drupal. What happened was I decided to use Chrome. I add the information within the Drupal installation set up page. It loaded for a long time. Then it lead me back to the installation set up page again. I included the information. I then click save and continue. It lead me to a page saying Drupal is installed already. Then it automatically loaded to a page sayin

[2017-01-09 23:01] sean256 opened #218 "inserting into varchar(max) results in "String data, right truncation""
[code]

[code]

[2017-01-09 23:02] meet-bhagdev commented on #218
@sean256 : We will look into this!

[2017-01-10 00:59] david-puglielli commented on #218
@sean256 We're having trouble reproducing this issue. Could you let us know what OS you are using, what version of PHP, and whether you have installed PHP from your package manager or from source? What is the output of $pdo->getAttribute( PDO::ATTR_CLIENT_VERSION )?

Also, please make sure you are using the latest drivers found here: https://github.com/Microsoft/msphpsql/releases/tag/4.0.8-Linux

[2017-01-10 01:08] sean256 opened #219 "Security concern, Inserted/updated data is being corrupted with seemingly random data from same or other requests"
OS: CentOS 7.1, 7.2, 7.3, RH7.1
PHP: PHP 7.0.14
Apache: 2.4.6
sqlsrv: latest

Summary: Inserted data is being corrupted with seemingly random data from the same request or other requests. I can replicate this through Apache and not CLI

This is a really odd one and it's got us a bit worried. We have a table with a varchar(max) and are inserting/updating a somewhat long JSON string into it. Almost

[2017-01-10 01:15] sean256 commented on #218
@david-puglielli Here you go. I ran it again to make sure I wasn't crazy and it's still duplicating here...

OS: CentOS 7.3
PHP: PHP 7.0.14

[code]

[2017-01-10 01:26] david-puglielli commented on #218
The latest drivers are version 4.0.8, but you are using 4.0.6, and many bugs have since been fixed. Could you install PHP from package and then use pecl to install the latest drivers? Instructions here: https://github.com/Microsoft/msphpsql/tree/PHP-7.0-Linux#install

[2017-01-10 01:31] Hadis-Fard commented on #219
@sean256  Please try 4.0.8 drivers, we had similar issue in the past and is fixed in the latest release.

[2017-01-10 01:57] sean256 commented on #218
That did it! Thank you.

[2017-01-10 01:57] #218 closed

[2017-01-10 02:04] sean256 commented on #219
Yup, that seems to have done it.

[2017-01-10 02:04] #219 closed

[2017-01-10 06:51] MatasElectronics commented on #211
@meet-bhagdev `select @@version` gives me:

[code]

[2017-01-10 06:54] MatasElectronics commented on #211
@yitam Yes, `matas-ie45` is the hostname of the SQL Server, where `matas-ie45/isahmssql` is the instance. When I use sqlcmd from any Windows pc I can connect without a problem. But when I follow the installation guide on here and try to connect on a Ubuntu 16.04 virtual machine, I can't connect to it.

[2017-01-10 08:03] david-garcia-garcia commented on #216
@riky93 You should try to seek help on forums and "Stack Overflow"- Like sites. Issue queues for projects (including those on Drupal.org) are usually for reporting properly investigated issues in a way that is helpful for the project maintainers, contributing patches or helping out with the project.

As per your report, it looks like the issue might not be at all related to the database driver (bu

[2017-01-10 10:55] Jamesking56 opened #220 "ATTR_ERRMODE exception is not supported"
Hello,

Converting a running Laravel app on Windows to run under PHP 7 + Sql Server driver for Linux.

When `PDO::ATTR_ERRMODE` is set to `PDO::ERRMODE_EXCEPTION` I get this error:

`SQLSTATE[IMSSP]: An unsupported attribute was designated on the PDO object.`

This is supported in PDO_SQLSRV for Windows but not as it seems for linux....

I'm running CentOS 7, PHP 7.0.14, Apache 2.4.6

[2017-01-10 16:49] yitam commented on #211
@MatasElectronics, after some investigation I believe the reason is that named instance resolution on Linux is not yet supported. See this [thread](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/c3dc09bb-7ac6-47d8-a188-564b57b192c6/connection-problems-linux-to-sql-server?forum=sqldataaccess) for more details.

You may consider configuring a static port for the instance as described in ht

[2017-01-10 19:30] david-puglielli commented on #220
@Jamesking56 Could you provide a repro script for this issue?

[2017-01-11 06:44] MatasElectronics commented on #211
@yitam Looking at that the only thing I see is you have to specify the port when you try to connect to a named instance. But didn't I try that already with:

- `sqlcmd -S matas-ie45\isahmssql,1433 -d TestProduktieDB -U testuser -P testpassword`
- `sqlcmd -S matas-ie45\\isahmssql,1433 -d TestProduktieDB -U testuser -P testpassword`
- `sqlcmd -S matas-ie45/isahmssql,1433 -d TestProduktieDB -U testus

[2017-01-11 17:15] yitam commented on #211
Hi @MatasElectronics, note that "it's not recommended to have a named instance listening on port 1433" as explained in this [support article](https://support.microsoft.com/en-ca/kb/823938)

Therefore, as suggested above, consider configuring a static port for the instance.

For testing purposes, you can try connecting to a default instance (not [a named instance](https://technet.microsoft.com/en-u

[2017-01-12 00:13] meet-bhagdev commented on #39
@DmitriyTrt, do you still have this issue? If so can you help provide us out with a repro script? We are not able to repro the following:

- Native crash analysis reports about "the assembly instruction at php5!_efree+6a in C:\PHP\php5.dll from The PHP Group has caused an access violation exception (0xC0000005) when trying to read from memory location 0x00000000 on thread 0".

[2017-01-12 00:17] #36 closed

[2017-01-12 00:18] meet-bhagdev commented on #35
@charles-durrant-tr does this repro make sense to you?

[2017-01-12 00:23] meet-bhagdev commented on #9
Closing as it is out of scope for now.

[2017-01-12 00:23] #9 closed

[2017-01-12 00:35] meet-bhagdev commented on #216
@riky93 Seems like this is not a driver issue. Closing it for now, feel free to re-open it if you think otherwise.

[2017-01-12 00:35] #216 closed

[2017-01-12 00:45] yitam commented on #19
No links to the SQLSRV documentation were specified in the original description. The potential ones are listed below. Please confirm.

http://php.net/manual/en/function.sqlsrv-send-stream-data.php

https://msdn.microsoft.com/en-us/library/cc296180(v=sql.105).aspx
https://msdn.microsoft.com/en-us/library/cc296191(v=sql.105).aspx

[2017-01-12 01:36] #56 closed

[2017-01-12 06:54] MatasElectronics commented on #211
@yitam I've read the article, but again it seems like omitting the name, and adding the port should work, but it isn't, so the problem persists.

Sadly I don't think I will be able to change the port. It's a database that is part of another software package which we don't manage ourselves. So we can't just change the configuration on the database server.

I'll try to connect to a not named instanc

[2017-01-12 07:49] david-garcia-garcia opened #222 "New Windows Release"
There has not been a Windows release for a while, it would be great to get the latest fixes (that are already available in the Linux version) released.

BTW deep thanks to the team for their ongoing effort on this driver.

[2017-01-12 11:50] pdrappo commented on #190
I'm having this same issue too on Ubuntu 16.

I'm trying to connect to a SQL Server who is outside of Linux Server (It's in a Windows Server), i have a developed an application running on Windows Server with IIS and PHP, with the follow code i get a success a connection.

$db = new PDO("sqlsrv:Server=xxx.xxx.xxx.xxx\xxxxxx", $db_username, $db_password);

But when try this code on Linux server with

[2017-01-12 17:06] DmitriyTrt commented on #39
We don't experience this crash anymore, I believe it disappeared after some SQL Server driver update.

[2017-01-12 17:52] meet-bhagdev commented on #222
@david-garcia-garcia Thanks for the kind workds. We are working on this as I type. Should be out soon :)

[2017-01-12 18:00] #39 closed

[2017-01-12 18:55] yitam opened #223 "sqlsrv_fetch() with an out of range offset for SQLSRV_SCROLL_ABSOLUTE"
When client buffer is used, calling sqlsrv_fetch() with an out of bound offset will result in a fatal error. Should have caught the error gracefully. This is the repro scenario (happens in both Windows/Linux whether it's thread safe or not):

[code]

Actual output:
[code]

Expected output:

Should have returned NULL / false

[2017-01-12 19:04] yitam commented on #37
The first problem no longer exists but I'm able to reproduce the second problem with the following repro script (happens in both Windows and Linux):

[code]

[2017-01-12 19:22] v-kigos commented on #223
sqlsrv_fetch_array() will work as expected

$row = sqlsrv_fetch_array($stmt,SQLSRV_FETCH_ASSOC,SQLSRV_SCROLL_ABSOLUTE,7);
returns: NULL

$row = sqlsrv_fetch_array($stmt,SQLSRV_SCROLL_ABSOLUTE,7);
returns: bool(false)

[2017-01-12 20:01] v-kigos opened #224 "PDOStatement::getColumnMeta() crash/segfault"
PHP call for $stmt->getColumnMeta($index) will crash in Windows, and produce
segmentation fault in Linux if index is out of the range (exceeds the number of columns).

Repro script:
[code]

[2017-01-12 20:52] yitam opened #226 "Fetching binary data with binary encoding caused assertion in Linux"
Using the pdo_sqlsrv driver, when fetching some data from a binary column using the binary encoding, it caused assertion in Linux (tested in Ubuntu 16.04 for both PHP 7.0.x and PHP 7.1.0).

This is the repro script:

[code]
Expected output:
[code]
Actual output:
[code]

[2017-01-12 23:52] yitam opened #228 "sqlsrv ClientBufferMaxKBSize is not honored when using client buffers"
This happens only with SQLSRV in both Linux and Windows as long as there is a column of type varchar(max). Here are the steps to repro:

[code]

If I change the column type to varchar(20) the problem is gone.

Actual output:
[code]

Expected output:
[code]

[2017-01-13 17:20] yitam commented on #211
Yes @MatasElectronics sqlcmd in Linux should work with the default instance. If not, please let us know.

[2017-01-13 18:04] yitam opened #229 "Client buffer size requirement is doubled when running PDO queries in Linux"
When fetching results using client buffers, it requires 1KB in Windows but 2KB in Linux. This happens with PDO driver only. The equivalent script for SQLSRV (with UTF8 character set) only requires 1KB in Linux, as expected.

To reproduce, follow these steps:

[code]

Expected output:
[code]
Actual output:
[code]

[2017-01-13 23:07] richerlariviere commented on #189
Any update for the performance issue? I tried with the latest build and got the same problem.

[2017-01-13 23:38] david-puglielli opened #231 "String truncation when binding varchar(max)"
When binding output parameters as varchar(max) or nvarchar(max), a string truncation error message may result. This does not happen if the argument is not 'max'. This problem is seen on both Windows and Linux.

[code]
The expected output is

[code]
The actual output:
[code]

[2017-01-16 06:47] MatasElectronics commented on #211
@yitam Okay.... so, I got it to work!
I went through all the configuration on the server again, and somewhere I found another port number being listed, so I decided to try that, and it worked.

So I'll close this issue, but I would like to know if we can expect named instances to work on Linux in the foreseeable future. Does anyone know?

Thanks for the help!

[2017-01-16 06:47] #211 closed

[2017-01-16 15:23] koennys opened #233 "Needed extra steps to get everything working on Ubuntu 16.04"
I started off with a clean Ubuntu 16.04 install and I tried to follow the steps for PHP 7. I didn't run into any issues during these steps but at the end of them I still couldn't open a test php file that tried to make a connection. I had to do the following additional steps:

sudo a2enmod php7.0
sudo a2dismod mpm_event
sudo a2enmod mpm_prefork
sudo apache2ctl restart

I'm not sure if anyone else

[2017-01-16 21:46] tobya commented on #191
@yitam  Does this mean that the mssql pdo drivers only work with PHP 7.0  but not with 7.1?

[2017-01-16 21:50] yitam commented on #191
@tobya we provide different sets of drivers for PHP 7.0 and PHP 7.1 as they are incompatible. Please download the right ones for your needs (see the link above). Hope this helps.

[2017-01-17 12:15] tobya commented on #191
If I go here

https://www.microsoft.com/en-ie/download/details.aspx?id=20098

I only get the option to download 4.0 drivers which I think are php 7 ones.

On the releases page https://github.com/Microsoft/msphpsql/releases I can't see any mention of 7.1

I see your link above links to the drivers for 7.1 I'm just wondering how someone searching might find the drivers for 7.1

Thank you.

[2017-01-17 16:05] yitam commented on #191
Hi @tobya , this is the [4.1.4 Windows Preview](https://github.com/Microsoft/msphpsql/releases/tag/4.1.4-Windows)

Stay tuned on our releases page that you already know for future releases (for Windows / Linux).
Hope I have answered your questions.

[2017-01-17 17:59] Hadis-Fard commented on #233
Can you follow [install instructions](https://github.com/Microsoft/msphpsql/tree/PHP-7.0-Linux#install) on README? What is the error message you are receiving? also what is the driver you are using?

[2017-01-17 22:51] sean256 commented on #189
Something my team discovered about this, increased latency seems to impact sqlsrv far more than other drivers. When testing sqlsrv against dblib on a sever very close to the DB they both perform very well. As the latency increases sqlsrv gets far worse than dblib.

[2017-01-17 23:12] v-kigos commented on #189
Do you use dblib extension with PHP7 ?

[2017-01-18 09:53] koennys commented on #233
I followed the install instructions in this readme https://github.com/Microsoft/msphpsql/blob/PHP-7.0-Linux/README.md
The steps I followed were for ubuntu 16.04 and php 7.0 these are also the versions I'm using.
The first 6 steps went fine without any problems. At step 7, testing a php script my source code was just shown on screen rather then parsed. this is when I did:

sudo a2enmod php7.0
sudo

[2017-01-18 11:51] Joe-U-Questionmark commented on #60
@KyleWiering looks like we are getting somewhere!
@meet-bhagdev looks like a bit of internal digging could solve this?

[2017-01-18 17:57] Hadis-Fard commented on #233
@koennys you're receiving "Apache is running a threaded MPM, but your PHP Module is not compiled to be threadsafe. You need to recompile PHP", because you are using non-thread safe PHP on thread safe apache, and you had to disable the thread safety. Note that  PHP installed using package manager is non-thread safe (NTS) and you must use NTS apache and NTS PDO_SQLSRV. Do you still have any problem

[2017-01-19 01:54] v-dareck commented on #60
Hi @david-garcia-garcia what are the events that you are seeing in SQL Profiler that show the statement is not being re-used?

With your sample script I see an initial 'Prepare SQL' event, followed by multiple 'Exec Prepared SQL' and finally an 'Unprepare SQL' at the end.

[2017-01-19 11:00] koennys commented on #233
Yes I was able to get everything working with the extra steps I listed.

[2017-01-20 00:23] yitam commented on #224
It also crashes when prepare() is used instead of query() when the column is valid.

[2017-01-23 01:27] meet-bhagdev commented on #222
Done! :) https://github.com/Microsoft/msphpsql/releases/tag/4.1.5-Windows

[2017-01-23 01:27] #222 closed

[2017-01-23 01:30] meet-bhagdev commented on #189
@sean256 We have not tested latency scenarios. What do the results look like when both sqlsrv and dblib are very close to the db? Also does the aforementioned repro script still stand for this scenario?

[2017-01-23 01:33] meet-bhagdev commented on #188
@sean256 Just an update: we are working on a fix for this. We will be completing the fix and testing it in the next 1-2 weeks. If the results are as expected we will release it in our next preview release.

[2017-01-24 13:32] david-garcia-garcia commented on #138
Confirmed to be fixed in the 4.1.5 windows release. Just note that the repo script was missing the following to work as expected:

[2017-01-24 13:34] david-garcia-garcia commented on #173
Confirmed this is fixed in the 4.1.5 release.

[2017-01-24 13:34] #173 closed

[2017-01-24 17:35] sean256 commented on #189
I no longer have the environment to test this so I can't give you solid numbers, sorry about that. When they were close to the DB they both performed very well.

[2017-01-24 19:13] mkeatley17 opened #249 "Login timeout expired"
I'm getting this error intermittently.  It happens when I'm working from home, but not when I'm at work and the latency is less.

SQLSTATE[HYT00]: [unixODBC][Microsoft][ODBC Driver 13 for SQL Server]Login timeout expired

Using this:
PHP 7.1
Redhat 7
SQLSRV 4.0.8
MS SQL Driver 13.1.1

[2017-01-24 23:11] v-dareck commented on #249
Hi @mkeatley17, can you review the following page to see if any applies:
https://technet.microsoft.com/en-us/library/ms190181(v=sql.105).aspx

Are the ping times to your SQL Server high from home?
The high latency could be a reason you get timeout errors.

The default login timeout is 15 seconds. You can increase that via LoginTimeout connection option. For example, maybe try 60 seconds:
`$conn =

[2017-01-25 00:49] yitam commented on #229
This also happens in Windows. PDO needs the buffer size doubled.

[2017-01-25 11:48] Inwerpsel opened #252 "TCP Provider: Error code 0x2746. Client unable to establish connection."
I am using ubuntu 16.04, php7.1 and have followed the php7.1 specific installation instructions on here: [https://github.com/Microsoft/msphpsql/tree/PHP-7.0-Linux#install](https://github.com/Microsoft/msphpsql/tree/PHP-7.0-Linux#install).

I am trying to connect to a named instance through its port number. Using pdo_sqlsrv, sqlsrv and via command line (with the sqlcmd tool like in [the tutorial](h

[2017-01-25 12:26] Inwerpsel commented on #124
I am experiencing the same or a similar issue. Any updates on this yet?

[2017-01-25 12:36] Inwerpsel commented on #252
Connecting to the same database from the same webserver with the same credentials and using the nodejs mssql module does work, so it is not a firewall issue.

[2017-01-25 20:20] v-dareck commented on #252
Hi @Inwerpsel are you running your SQL Server on port 50000?
Also what version of SQL Server are you using?

The default port is 1433 so the following commands should work:
`sqlcmd -d database -S databaseserver,1433 -U sa -P password -Q 'select top 1 id from table'`
or
`sqlcmd -d database -S databaseserver -U sa -P password -Q 'select top 1 id from table'`

The other setting to check is that TCP/I

[2017-01-25 22:00] v-dareck commented on #229
In sqlsrv, sqlsrv_configure has to be called before sqlsrv_prepare. Once the statement is created calls to sqlsrv_configure('ClientBufferMaxKBSize', $size) do not change the statement's internal buffer size variable .

[2017-01-25 22:00] #229 closed

[2017-01-25 22:19] bgillet opened #255 "PHP Startup: Unable to load dynamic library"
Hi all,

I installed :

- PHP 7.1 64 bits NTS on Windows 10 x64
- MSSQL Server 2016 Express x64
- Microsoft ODBC Driver 13.1
- Microsoft PHP Driver 4.0 (php_pdo_sqlsrv_7_nts_x64.dll)

I added extension into php.ini (extension=php_pdo_sqlsrv_7_nts_x64.dll).

After a full restart of the computer, I get the error message indicated into the post title.

`PHP Startup: Unable to load dynamic library 'D:

[2017-01-25 22:33] v-kigos commented on #255
See issue #200

[2017-01-25 23:57] meet-bhagdev commented on #255
@bgillet the binaries you are using are for PHP 7, can you try using the PHP 7.1 binaries? The latest release should have them: https://github.com/Microsoft/msphpsql/releases/tag/4.1.5-Windows

[2017-01-26 00:38] meet-bhagdev commented on #249
@mkeatley17 Do you also run into this issue while using sqlcmd?

[2017-01-26 00:40] meet-bhagdev commented on #233
@koennys How did you install apache? Did you use apt-get or build it from source?

[2017-01-26 04:51] LuisBosquez commented on #168
@yuriyzinchenko @vanomak, @meet-bhagdev and I have created a Docker image with the latest PHP drivers. Check it out here [mssql-docker/php-mssql](https://github.com/Microsoft/mssql-docker/tree/master/developer-resources/php-mssql). This is also available on DockerHub under `lbosqmsft/php-mssql`. Let us know what you think!

[2017-01-26 08:12] Inwerpsel commented on #252
Hi @v-dareck

The version we are running is
`Microsoft SQL Server 2008 R2 (SP1) - 10.50.2500.0 (Intel X86)   Jun 17 2011 00:57:23   Copyright (c) Microsoft Corporation  Standard Edition on Windows NT 5.2 <X86> (Build 3790: Service Pack 2) (Hypervisor) `

TCP/IP is enabled for this server.

When searching the error code I came across [this article](https://support.microsoft.com/en-us/help/3135244/t

[2017-01-26 09:19] bgillet commented on #255
Great, it works !!!

May I suggest correcting Microsoft PHP SQL Driver download page ?

In System Requirements section, it is indicating that driver 4.0 is working for PHP 7.0 and above versions. Obviously, this is not true.

![image](https://cloud.githubusercontent.com/assets/3019854/22325931/ea5070a0-e3b0-11e6-96f0-acbde45bdf98.png)

[2017-01-26 11:52] #255 closed

[2017-01-26 12:20] yuriyzinchenko commented on #168
Great! What about php 7.1? And may be use official [php](https://hub.docker.com/_/php/) image as the base?

[2017-01-26 13:51] koennys commented on #233
@meet-bhagdev I used apt-get to install it. this is the list of steps I took for the configuration

sudo su
apt-get -y install php7.0 mcrypt php7.0-mcrypt php-mbstring php-pear php7.0-dev php7.0-xml
curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
curl https://packages.microsoft.com/config/ubuntu/16.04/prod.list > /etc/apt/sources.list.d/mssql-release.list
apt-get update
ACCE

[2017-01-26 22:31] v-dareck commented on #252
Hi @Inwerpsel

The TLS 1.2 might be the solution but I'm not sure.

Windows XP and 2008R2 SP1 are not supported anymore. However, 2008R2 SP3 is still supported:
https://support.microsoft.com/en-us/lifecycle/search?alpha=Microsoft%20SQL%20Server%202008%20R2

I was unable to repro your error connecting from Ubuntu 16.04 to 2008R2 SP1. I think it maybe a firewall issue with your ubuntu machine not ab

[2017-01-26 23:42] #138 closed

[2017-01-27 07:22] RenatasDidysis opened #258 "Driver in cygwin enviroment"
Hello,

how can I get, or compile driver in Cygwin environment

[2017-01-27 11:56] RenatasDidysis opened #259 "compile on debian on phpfarm"
Hello,
i use phpfarm   - how can I compile (not instal via apt-get)  this extension- need some instructions.

[2017-01-27 14:56] srvg commented on #252
Hi. I'm the sysadmin supporting @Inwerpsel on this issue. I can confirm it's not a firewall issue. I did some network traces, and the TCP connection does get established. There some initial handshake, but pretty quickly the connection is dropped. I assume it is a protocol mismatch.

[2017-01-27 21:58] v-kigos opened #260 "PDO statement returns bool(false) when using temporary tables"
PDO_SQLSRV fails to successfully execute CREATE / SELECT statements
when using temporary tables, see repro script. This behaviour
is cross-platform (Win/Linux) on PHP7.0 and 7.1.

SQLSRV driver does not have this issue and returns:
resource(7) of type (SQL Server Statement)

Repro script:

[code]

Expected output:
resource(7) of type (SQL Server Statement)
string(11) "ONE"

Actual output:
bool(fal

[2017-01-27 23:52] v-kigos commented on #224
MSDN does not define return values for this case,
see https://msdn.microsoft.com/en-us/library/ff628182(v=sql.105).aspx

PHP help suggests: Returns FALSE if the requested column does not exist in the result set, or if no result set exists, see http://php.net/manual/en/pdostatement.getcolumnmeta.php

[2017-01-28 02:13] v-dareck commented on #258
Hi @RenatasDidysis what is the scenario for using Cygwin?
Can you just use Windows or Linux directly?

[2017-01-28 02:21] v-dareck commented on #259
Hi @RenatasDidysis,

Debian currently isn't supported and we don't have instructions currently. You can try the instructions here: https://github.com/Microsoft/msphpsql/blob/PHP-7.0-Linux/LinuxTutorial.md
If you want to build from PHP and the msphpsql driver from source the section "**Compiling and installing Microsoft PHP drivers for SQL Server from source:**" explains how. Those instruction shou

[2017-01-28 02:25] v-dareck commented on #252
Hi @srvg,

Windows XP is not currently supported anymore and that maybe the cause of your network errors. I would try one of the following options:

1. Run SQL Server on Ubuntu locally (https://www.microsoft.com/en-us/sql-server/sql-server-vnext-including-Linux)
2. Run SQL Server on a later version of Windows.
3. Install SQL Server 2008 R2 SP3 and try [the article](https://support.microsoft.com/en

[2017-01-28 04:11] srvg commented on #252
Hi @v-dareck

There is nowhere Windows XP being used here. Running SQL Server on Ubuntu is not an option.
@Inwerpsel can you confirm what version of WIndows the server is running on?

[2017-01-28 04:16] v-dareck commented on #252
Hi @srvg ,
Above @Inwerpsel  said `Microsoft Corporation Standard Edition on Windows NT 5.2`.
So this could be Windows XP or Windows Server 2003. Windows 2003 is not longer supported either.

[2017-01-28 04:24] srvg commented on #252
Ouch, sorry about that, overlooked it. I can't go check it myself right now. Time for a Windows upgrade either way.

[2017-01-29 19:51] david-garcia-garcia commented on #189
Trying to figure out why our Drupal projects run slower than that of our MySql friends, I've setup a test script that shows PDO_SQLSRV being x4 to x5 times slower than the PDO_MYSQL driver.

Either my test script is super flawed, or we have serious issues with the PDO driver for Microsoft SQL Server.

http://pastebin.com/vzpt7Ara

Both MySQL and MSSQL servers are on local machine during tests, usi

[2017-01-30 07:27] RomuAdq opened #263 "Add SQL2016 Always Encrypt Column support"
Hello,

When adding option : column encryption setting=enabled in SQL DSN, the error

pops up.

When will be this feature supported by MSSQL PDO ?

Regards,

[2017-01-30 07:47] meet-bhagdev commented on #263
@RomuAdq We are looking into this. Don't have an accurate timeline yet, but will keep you posted.

[2017-01-30 07:48] RomuAdq commented on #263
Thank you for the update !

De : Meet Bhagdev [mailto:notifications@github.com]
Envoyé : lundi, 30 janvier 2017 08:47
À : Microsoft/msphpsql <msphpsql@noreply.github.com>
Cc : Romuald Smirne <rsmirne@adequasys.com>; Mention <mention@noreply.github.com>
Objet : Re: [Microsoft/msphpsql] Add SQL2016 Always Encrypt Column support (#263)

@RomuAdq<https://github.com/RomuAdq> We are looking into this. D

[2017-01-30 12:05] Inwerpsel commented on #252
I can confirm that lack of TLS 1.2 support in Windows Server 2003 is the issue.

I tested with a server that has the same SQL version but Windows Server 2008 and that works.

It is impractical to upgrade windows on our servers now, but we managed to resolve the issue for now by switching to the [php7.1-sybase driver](http://packages.ubuntu.com/uk/zesty/php7.1-sybase) and using pdo_dblib.

[2017-01-30 12:05] #252 closed

[2017-01-30 18:26] RenatasDidysis commented on #259
Thanks it works perfectly. Please add this tutorial to readme. (Debian is real server OS)

[2017-01-30 18:26] #259 closed

[2017-01-30 18:29] RenatasDidysis commented on #258
Hi, i can’t. Because i have Linux based application that is not so easy to migrate...

Can you propose any solution? Because I forced now to use PHP 5 (because PHP 7 drop ms sql driver suport)

[2017-01-30 20:00] v-dareck commented on #258
Hi @RenatasDidysis, have you tried the MSSQL php driver on Windows with PHP 7? The latest release is here: https://github.com/Microsoft/msphpsql/releases/tag/4.1.5-Windows

[2017-01-30 23:29] yitam commented on #224
Fixed by #261

[2017-01-30 23:29] #224 closed

[2017-01-31 00:31] yitam commented on #37
Fixed by #256

[2017-01-31 00:31] #37 closed

[2017-01-31 05:57] parite opened #264 "XML parsing: unable to switch the encoding"
When inserting into a column declared as an XML type, and your XML has the declaration (at the top), PDO returns a "XML parsing: line 1, character 38, unable to switch the encoding" error.

SQL Version: Microsoft SQL Server 2014 (SP2) (KB3171021) - 12.0.5000.0 (X64)
PHP: 7.0.13-0ubuntu0.16.04.1

Using pdo_sqlsrv-4.0.8 from PECL libraries.

DB Structure:
[code]

PHP:
[code]

Results of the above co

[2017-01-31 07:33] v-kigos commented on #264
Thank you for reporting the issue. I could reproduce it.

This can be a temporary remedy:
[code]

[2017-01-31 11:39] francarmona commented on #168
Here you have another Docker image I have created that includes mssql driver. Hope it will be helpful for you [francarmona/docker-ubuntu16-apache2-php7-mssql_client](https://github.com/francarmona/docker-ubuntu16-apache2-php7-mssql_client). DockerHub: [francarmona/docker-ubuntu16-apache2-php7-mssql_client](https://hub.docker.com/r/francarmona/docker-ubuntu16-apache2-php7-mssql_client)

[2017-01-31 19:37] v-kigos commented on #264
Actually, XML field is inserted using nvarchar(4000) and thus requires UTF-16 encoding.
This would fix your script:

[code]

[2017-02-01 02:14] sjai013 opened #266 "[Microsoft][ODBC Driver 13 for SQL Server][SQL Server]Attachment transfer failed"
Hi,

When I execute a query using the PHP SQL drivers (4.1.1), I get the following error:

The event log itself has an error with Event ID 17052, with the following information:

**The particulars of what I'm trying to do are as follows:**
Run a stored procedure using sqlsrv_query, which performs an INSERT into a table.  This table also has an AFTER INSERT trigger, and this calls a stored procedur

[2017-02-01 05:25] parite commented on #264
Thanks @v-kigos, I ended up stripping out the declaration as a temporary fix.

I tried your UTF-16 fix and that seems to do the trick, but that brings up another concern:

What happens when the XML is more than 4000 characters? Is there a way to declare to PDO which data type to bind the parameter? From what I can see you can use `PDO::PARAM_STR` but this doesn't allow a length (like MAX).

[2017-02-01 16:00] yitam commented on #226
Fixed by #251

[2017-02-01 16:00] #226 closed

[2017-02-01 17:33] yitam commented on #260
The main difference is that PDO invokes query() by first preparing the statement then execute it, whereas in sqlsrv we execute the query directly by SQLExecDirect().

As explained in this [article](https://technet.microsoft.com/en-us/library/ms175528(v=sql.105).aspx):

[2017-02-01 19:39] meet-bhagdev commented on #266
@sjai013 Do you have a repro script for this?

[2017-02-01 19:40] meet-bhagdev commented on #189
@david-garcia-garcia We are looking into this. Were you able to test this with different datasets?

[2017-02-01 20:19] deeky666 opened #267 "[Linux] PDO driver should not throw exception on "closeCursor()""
The PDO driver throws the following exception when trying to close a prepared statement cursor with `PDOStatement::closeCursor()` if the statement has not been executed yet.

[code]

While this is not completely wrong, the behaviour does not adhere to the [PDO interface](http://php.net/manual/de/pdostatement.closecursor.php). The contract clearly states that in case of an error `false` is to be re

[2017-02-02 18:52] deeky666 opened #270 "[Linux] Fetching VARBINARY value with pdo_sqlsrv does not work"
I am not quite sure if this is a bug or I just cannot figure out how to do this. Fetching a value from a `VARBINARY` column does not return the same value that was inserted before when using `pdo_sqlsrv`. Expected result would be the binary representation that was inserted into the database but instead the hexadecimal representation is returned.

**Test**

[code]

**Output**
[code]

I wonder if th

[2017-02-02 20:29] v-dareck commented on #266
Hi @sjai013, also which attachment parameter to [db_sendmail](https://msdn.microsoft.com/en-us/library/ms190307.aspx) are you using?
From the documentation the attachment parameters are `file_attachments`, `query_attachment_filename`, or `attach_query_result_as_file`?

[2017-02-02 23:43] #260 closed

[2017-02-02 23:54] Hadis-Fard commented on #270
@deeky666 Could you send the `sqlsrv` script that reproduces this issue?

[2017-02-03 00:05] Hadis-Fard commented on #270
You should set the `PDO::SQLSRV_ENCODING_BINARY` for fetch statement to retrieve the data as inserted, so if you modify the code below you'll get the data as inserted

     // Query, fetch
     $sql = "SELECT icon from foo";
     $stmt = $conn->query($sql);
     $stmt->setAttribute(constant('PDO::SQLSRV_ATTR_ENCODING'), PDO::SQLSRV_ENCODING_BINARY);
     echo base64_encode($stmt->fetchColumn());

[2017-02-03 00:39] deeky666 commented on #270
@Hadis-Fard here is my script for `sqlsrv`:

[code]

I do not understand why I have to specify `PDO::SQLSRV_ENCODING_BINARY` on the statement when the driver is inspecting the column type on fetch anyways and should be able to infer the correct encoding and type. Using `sqlsrv` proofs that it should be possible. Also specifying `PDO::SQLSRV_ENCODING_BINARY` at statement level is not an option beca

[2017-02-03 01:41] v-kigos commented on #264
The same techniques used for other large value types also apply to XML. The driver supports XML that exceeds the length of 4000 characters.

Example:
[code]

[2017-02-03 05:06] parite commented on #264
Good to know - thank you @v-kigos!

[2017-02-03 15:07] bla-kw commented on #213
@vandammeb I can confirm this. I tested it in a php:7.1 Docker container. _pecl install sqlsrv_ failed with the "cannot create directory 'shared/.libs'" error message. When I quickly create a "mkdir /tmp/pear/temp/pear-build-defaultuserXXXXXX/sqlsrv-4.0.8/shared" folder manually the build process completed successfully.

[2017-02-03 18:19] #264 closed

[2017-02-03 21:28] sirio3mil commented on #168
I make [this one](https://github.com/sirio3mil/docker-php-fpm-image) under centos 7 and php 7.1.1. It also include soap for Exchange Webservices and ldap for autentifications. This is also available on DockerHub under [reynier3mil/centos-php-fpm-msphpsql](https://hub.docker.com/r/reynier3mil/centos-php-fpm-msphpsql/).

[2017-02-04 02:52] gmsantos opened #275 "Windows DLL drivers for PHP 7.0 on PECL"
First, congratulations for merging Windows and Linux codebases. Really glad to see things going forward so fast 😄

In [PECL release for version 4.16](https://pecl.php.net/package/pdo_sqlsrv/4.1.6/windows) we only have the compiled DLL for PHP 7.1

Would be nice to include the compiled PHP 7.0 in this release too, or in the future releases.

[2017-02-04 05:47] meet-bhagdev commented on #275
@gmsantos thanks :) 👍 Thats a good point, we will look into this.

[2017-02-05 21:52] sjai013 commented on #266
Hi,

Thanks for your responses.  Repro script attached as a txt file.
[msphpsql_issue_266_repro.txt](https://github.com/Microsoft/msphpsql/files/753337/msphpsql_issue_266_repro.txt)

@v-dareck I'm using `file_attachments` to attach the file.

[2017-02-05 22:18] deeky666 opened #276 "[Linux] Prepared statements changing session scope?"
I have found a weird issue with prepared statements. It affects Linux drivers (both `sqlsrv` and `pdo_sqlsrv`).

The use case is using temporary tables. The following script works (**NOT** using prepared statements):

**sqlsrv**
[code]

**pdo_sqlsrv**
[code]

While the following script doesn't (**USING** prepared statements):

**sqlsrv**
[code]

**pdo_sqlsrv**
[code]

It seems that using prepared

[2017-02-06 00:24] deeky666 commented on #276
Btw looks like this is an issue on Windows, too.

[2017-02-06 05:15] meet-bhagdev commented on #276
@deeky666 Thanks for the repro. We will look into it :) 👍

[2017-02-06 05:48] photodude opened #277 "4.1.6 Windows release is missing PHP DLL driver files"
[Release 4.1.5](https://github.com/Microsoft/msphpsql/releases/tag/4.1.5-Windows) has DLLs for PHP 7 and PHP 7.1 but the [4.1.6 Windows/Linux release](https://github.com/Microsoft/msphpsql/releases/tag/v4.1.6) is missing the PHP DLL files for windows

Please add the windows PHP 7 and PHP 7.1 DLLs for the pdo_sqlsrv and sqlsrv drivers to the release

[2017-02-06 06:36] v-kigos commented on #276
Please check issue #260

[2017-02-06 07:46] david-garcia-garcia commented on #276
This is very bad DX.

Any chance the PDO driver can complain with a better  message when using temporary tables in prepared statements?

The workaround is to use ATTR_DIRECT_QUERY on the PDO driver.

Yet, you should NOT use prepared statements at all with the current state of this driver. It is useless.

See https://github.com/Microsoft/msphpsql/issues/60

You are better off using ATTR_DIRECT_QUER

[2017-02-06 08:39] deeky666 commented on #276
@meet-bhagdev @v-kigos thanks for the quick response. So do I understand correctly, that this behaviour is not a driver issue but actually intended because the server cannot achieve this? If that is the case, this issue can be closed and I will mark this as known vendor limitation in our repo.

[2017-02-06 10:00] GodWolen commented on #213
I have the same problem on php7.1-fpm docker image. sqlsrv-4.0.6 works perfect, both 4.0.7 and 4.0.8 fail on mkdir.

[2017-02-06 13:05] deeky666 opened #278 "PDO::lastInsertId() not implemented correctly for sequences"
`\PDO::lastInsertId($name = null)` should return the current value for a given sequence object name. [See the documentation](http://php.net/manual/en/pdo.lastinsertid.php).

Currently this is not working because the PDO implementation is using `SELECT IDENT_CURRENT(%s)` which is not intended for sequences but for tables. [See here](https://github.com/Microsoft/msphpsql/blob/master/source/pdo_sqlsr

[2017-02-06 19:53] meet-bhagdev commented on #213
@GodWolen Seems like there in an issue with our 4.0.6+ PECL packages. We are looking into this actively.

[2017-02-07 02:53] v-dareck commented on #276
@deeky666, yes this is the expected behavior:
https://technet.microsoft.com/en-us/library/ms175528(v=sql.105).aspx

[2017-02-07 08:46] deeky666 commented on #276
Okay closing then. Sorry for the noise and thanks for clearing that up. I patched our library instead to use direct execution for those kind of statements instead of prepared statements.

[2017-02-07 08:46] #276 closed

[2017-02-08 00:56] photodude commented on #277
/Ping @Hadis-Fard
When can we expect the 4.1.6 Windows drivers to be [posted to the release page](https://github.com/Microsoft/msphpsql/releases/tag/v4.1.6)?

[2017-02-08 01:07] meet-bhagdev commented on #277
@photodude You should have it tomorrow :) 👍

[2017-02-08 01:08] photodude commented on #277
@meet-bhagdev Thank you. Looking forward to the update.

[2017-02-08 21:19] deeky666 opened #280 "PDO::setAttribute(PDO::ATTR_STATEMENT_CLASS) does not pass constructor arguments"
The PDO attribute `PDO::ATTR_STATEMENT_CLASS` takes a second argument of constructor arguments to be passed  to the custom statement class but it seems `pdo_sqlsrv` is not passing those to the constructor of the custom statement class.

[code]

See the documentation: http://php.net/manual/de/pdo.setattribute.php

[2017-02-08 21:36] Hadis-Fard commented on #277
@photodude DLLs are now up in our PECL repository, you can download them from:
https://pecl.php.net/package/sqlsrv/4.1.6.1/windows
https://pecl.php.net/package/pdo_sqlsrv/4.1.6.1/windows

[2017-02-08 21:37] Hadis-Fard commented on #275
@gmsantos We fixed the issue with our PECL repository, you can get the PHP 7.0 and 7.1 from
https://pecl.php.net/package/sqlsrv/4.1.6.1/windows
https://pecl.php.net/package/pdo_sqlsrv/4.1.6.1/windows

[2017-02-08 21:43] gmsantos commented on #275
thanks @Hadis-Fard ! 😄

[2017-02-08 21:43] #275 closed

[2017-02-08 21:52] #277 closed

[2017-02-08 21:56] photodude commented on #277
Thanks, I was hoping for the files to also be included in the release page here, guess I'll change our appveyor code for pulling the dlls.

[2017-02-08 21:56] meet-bhagdev commented on #213
@GodWolen @bla-kw @ioweb-gr Can you try the latest PECL package (4.1.6.1)?

`sudo pecl install sqlsrv-4.1.6.1`

[2017-02-08 22:04] photodude commented on #277
@Hadis-Fard the PECL files are missing the php_pdo_sqlsrv.dll module, they only have the PHP_sqlsrv.dll module

I checked the following files
- http://windows.php.net/downloads/pecl/releases/sqlsrv/4.1.6.1/php_sqlsrv-4.1.6.1-7.1-nts-vc14-x64.zip
- http://windows.php.net/downloads/pecl/releases/sqlsrv/4.1.6.1/php_sqlsrv-4.1.6.1-7.0-nts-vc14-x64.zip

[2017-02-08 22:08] photodude commented on #277
Just noticed that the packages are separated unlike what we have for the 4.1.5 release files on the release page.

- https://pecl.php.net/package/sqlsrv/4.1.6.1/windows
- https://pecl.php.net/package/pdo_sqlsrv/4.1.6.1/windows

[2017-02-09 02:27] mattlisiv commented on #213
@meet-bhagdev , I actually came across this issue today when attempting to install sqlsrv-4.0.8 on a docker image from pecl. I updated to 4.1.6.1 and the fail did not occur.

Cheers.

[2017-02-09 07:32] ioweb-gr commented on #213
I've managed to install it as well. Nice job

[2017-02-09 08:24] dzuelke opened #282 "Versions/tags/releases/stability"
Hi,

Now that the Windows/Linux codebases have been merged, I'd like to encourage some more structure and discipline ;) around version numbers, PECL release stabilities, and tags.

The version number recently jumped from 4.0.8 to 4.1.6. Unlike 4.0.7, which was marked "preview", the 4.0.8 release was called "production". Not sure where the 4.1.0-4.1.5 releases went? :)

No machine readable metadata

[2017-02-09 10:32] deeky666 commented on #280
This is invalid. There was a bug in my code, which did not pass the constructor args in a derived class. Sorry for the noise.

[2017-02-09 10:32] #280 closed

[2017-02-09 13:22] cherbert commented on #124
I too have been tearing my hair out trying to get this working to connect to Microsoft SQL Server 2008 32bit. It simply doesn't work. This whole SQL Server and PHP 7.0 nonsense is beyond stupid. We are supposed to go forward not backward. I have moved to Python to get the job done and got connected within 5 minutes.

[2017-02-09 14:15] deeky666 commented on #220
I cannot confirm this issue. I am using version `4.0.8` on Ubuntu 16.04 and it works perfectly.

[2017-02-09 16:45] Jamesking56 commented on #220
Hard to produce a repro script because it's a private codebase.

I can however tell you its Laravel 4.2 and runs in Windows Server 2012 R2 at present with SQL Server 2014 on Windows.

[2017-02-09 18:57] v-dareck commented on #124
Hi @Inwerpsel, @cherbert. What version of Windows are you running SQL Server on?

[2017-02-09 19:40] cherbert commented on #124
Windows Server 2003 32bit

[2017-02-09 20:17] v-dareck commented on #124
@cherbert  see the description of #252. Windows 2003 is no longer supported, [see here](https://www.microsoft.com/en-ca/cloud-platform/windows-server-2003). You should see about updating to a newer version of Windows.

[2017-02-10 00:00] v-dareck commented on #188
@sean256 the 4.1.6 release on github or the 4.1.6.1 release on PECL enables connection pooling for unixODBC 2.3.1. The readme and changelog contains a list of limitations or issues you may encounter when you use connection pooling.

By default connection pooling is disabled. To enable, in odbcinst.ini, add `Pooling=Yes` to the `[ODBC]` section and a positive `CPTimeout` value to `[ODBC Driver 13 f

[2017-02-10 09:39] RikSomers opened #284 "Milliseconds in datetime omitted in linux but not windows"
Hi!

I've encountered a small bug with datetimes when working on some tests for our application.

I wrote a test that makes sure a certain time can be pulled from the database correctly and within the right format. The test in question looks something like this:

[code]

The weird thing is, this test runs fine on a local apache server using msphpsql on a Windows machine using PHP 7.0.
However, on

[2017-02-10 16:13] #223 closed

[2017-02-10 19:15] yitam commented on #80
@Nick74k this issue is no longer reproducible with the latest sqlsrv in Windows.
If on the other hand this problem still exists on your side, please provide a repro script if possible.

[2017-02-11 00:12] v-dareck commented on #284
Hi @RikSomers. From your test we can't tell how to repro your error. Can you provide a repro script that uses msphpsql?

Is the issue with sqlsrv or pdo?
What is the data type of the LASTWIPTIME column?
When you call findLastWIPTime is it retrieving the data as a string or a datetime?

[2017-02-11 00:25] meet-bhagdev commented on #213
Awesome! @all we are going to close this now. v4.1.6 fixes this issue. Feel free to reopen if you are still running into problems.

[2017-02-11 00:25] #213 closed

[2017-02-11 00:28] meet-bhagdev commented on #124
@cherbert What version of the ODBC Driver are you using? It is likely that the issue is the TLS enforcement. Moreover what Python driver are you using to connect to SQL Server?

[2017-02-11 00:33] meet-bhagdev commented on #80
@Nick74k Closing the issue for now as we can't repro it. Feel free to reopen if you still need help :)

[2017-02-11 00:33] #80 closed

[2017-02-11 00:34] meet-bhagdev commented on #188
@ champloo11 @sean256 have you had a chance to try this?

[2017-02-11 00:54] david-puglielli commented on #220
This is a peculiar error message to get, as it is only supposed to show up if you are trying to set a PDO attribute that we do not support, such as prefetch or autocommit. It is only called in these two locations:
https://github.com/Microsoft/msphpsql/blob/master/source/pdo_sqlsrv/pdo_dbh.cpp#L939
https://github.com/Microsoft/msphpsql/blob/master/source/pdo_sqlsrv/pdo_dbh.cpp#L1006

Please take a

[2017-02-11 01:28] yitam commented on #62
@mnewnham we decided not to change the existing behavior of how sqlsrv_fetch_array() works with SQLSRV_FETCH_ASSOC mode because there is a workaround as you have shown.

The reasons behind our decisions are twofold. First, t's clearly written in [documentation](http://php.net/manual/en/function.sqlsrv-fetch-array.php) that

Similarly, in the official [guide](https://docs.microsoft.com/en-us/sql/co

[2017-02-11 01:28] #62 closed

[2017-02-11 09:56] cherbert commented on #124
@meet-bhagdev I believe my PHP 7 install has ODBC 13 installed. Python is working out well for me now and I am using http://pymssql.org

[2017-02-13 07:29] RikSomers commented on #284
Hi,

I'll try to see if I can create a standalone script that reproduces the error.

As for your other questions;
I'm not sure with what the issue is. We use a framework (Laravel) for our code, which handles all the connection management.
The datatype of the LASTWIPTIME column is a nullable `datetime` field.
As far as I am aware it is retrieved as a string. Adding another assertion in PHPUnit conf

[2017-02-13 12:39] BarryCarlyon opened #287 "Ubuntu 16.04 Install Issue?"
Following the setup for Ubuntu 16.04

[code]

Installing unixodbc-utf16 wipes out mssql-tools

And mssql-tools didn't seem to provide sqlcmd either…